<a class="back-link" [routerLink]="'../'">Back</a>

<h1>Species</h1>

<p>
  Species are unique species that are treated at WAF.<br />
  Each species has a number of variants, based on age. Husbandry volunteers only
  see variant friendly names and feeding guidance.
</p>

@if (species$ | async; as species) { @if (species.loading) {
<spinner></spinner>
} @else if (species.error) {
<div class="error">Error occurred</div>
} @else if (species.data) { @if (!creatingSpecies && !creatingSpeciesVariant &&
!updatingSpecies && !updatingSpeciesVariant) {
<button (click)="beginCreateSpecies()" class="button button--primary">
  Create new species
</button>
} @else if (creatingSpecies && editor) {
<section>
  <h2>Create new species</h2>
  <form [formGroup]="speciesForm">
    <div class="field">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" />
    </div>
    <div class="field">
      <label for="speciesType">Animal type</label>
      <select id="speciesType" formControlName="speciesType">
        <option [value]="SpeciesType.Mammal">Mammal</option>
        <option [value]="SpeciesType.Bird">Bird</option>
        <option [value]="SpeciesType.Amphibian">Amphibian</option>
        <option [value]="SpeciesType.Reptile">Reptile</option>
      </select>
    </div>
    <div class="buttons">
      <button (click)="createSpecies()" class="button button--primary">
        Save
      </button>
      <button (click)="cancel()" class="button button--secondary">
        Cancel
      </button>
    </div>
  </form>
</section>
} @else if (creatingSpeciesVariant && editor) {
<section>
  <h2>Create new variant for {{ creatingSpeciesVariant.name }}</h2>
  <form [formGroup]="speciesVariantForm">
    <div class="field">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" />
    </div>
    <div class="field">
      <label for="friendlyName">Friendly name</label>
      <input id="friendlyName" type="text" formControlName="friendlyName" />
    </div>
    <div class="field">
      <label for="order">Age order</label>
      <input id="order" type="number" formControlName="order" />
    </div>
    <div class="field">
      <label for="longTermDays">Long term days</label>
      <div class="hint">
        How long (in days) until this patient is considered "long term"
      </div>
      <input id="longTermDays" type="number" formControlName="longTermDays" />
    </div>
    <div class="field">
      <label for="editor">Feeding guidance</label>
      <div class="NgxEditor__Wrapper margin-left-lists">
        <ngx-editor-menu
          [editor]="editor"
          [toolbar]="toolbar"
        ></ngx-editor-menu>
        <ngx-editor
          [editor]="editor"
          [placeholder]="'Type here...'"
          formControlName="feedingGuidance"
        ></ngx-editor>
      </div>
    </div>
    <div class="buttons">
      <button (click)="createSpeciesVariant()" class="button button--primary">
        Save
      </button>
      <button (click)="cancel()" class="button button--secondary">
        Cancel
      </button>
    </div>
  </form>
</section>
} @else if (updatingSpecies && editor) {
<section>
  <h2>Edit species</h2>
  <form [formGroup]="speciesForm">
    <div class="field">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" />
    </div>
    <div class="field">
      <label for="speciesType">Animal type</label>
      <select id="speciesType" formControlName="speciesType">
        <option [value]="SpeciesType.Mammal">Mammal</option>
        <option [value]="SpeciesType.Bird">Bird</option>
        <option [value]="SpeciesType.Amphibian">Amphibian</option>
        <option [value]="SpeciesType.Reptile">Reptile</option>
      </select>
    </div>
    <div class="buttons">
      <button (click)="updateSpecies()" class="button button--primary">
        Save
      </button>
      <button (click)="cancel()" class="button button--secondary">
        Cancel
      </button>
    </div>
  </form>
</section>
} @else if (updatingSpeciesVariant && editor) {
<section>
  <h2>Edit variant for {{ updatingSpeciesVariant.name }}</h2>
  <form [formGroup]="speciesVariantForm">
    <div class="field">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" />
    </div>
    <div class="field">
      <label for="friendlyName">Friendly name</label>
      <input id="friendlyName" type="text" formControlName="friendlyName" />
    </div>
    <div class="field">
      <label for="order">Age order</label>
      <input id="order" type="number" formControlName="order" />
    </div>
    <div class="field">
      <label for="longTermDays">Long term days</label>
      <div class="hint">
        How long (in days) until this patient is considered "long term"
      </div>
      <input id="longTermDays" type="number" formControlName="longTermDays" />
    </div>
    <div class="field">
      <label for="editor">Feeding guidance</label>
      <div class="NgxEditor__Wrapper margin-left-lists">
        <ngx-editor-menu
          [editor]="editor"
          [toolbar]="toolbar"
        ></ngx-editor-menu>
        <ngx-editor
          [editor]="editor"
          [placeholder]="'Type here...'"
          formControlName="feedingGuidance"
        ></ngx-editor>
      </div>
    </div>
    <div class="buttons">
      <button (click)="updateSpeciesVariant()" class="button button--primary">
        Save
      </button>
      <button (click)="cancel()" class="button button--secondary">
        Cancel
      </button>
    </div>
  </form>
</section>
}
<div class="list">
  @for (s of species.data; track s.id) {
  <div class="item">
    <table>
      <caption>
        <div>{{ s.name }}</div>
        <div class="buttons">
          <button
            class="button button--secondary"
            (click)="beginUpdateSpecies(s)"
          >
            Edit species
          </button>
          <button
            class="button button--primary"
            (click)="beginCreateSpeciesVariant(s)"
          >
            Create new variant
          </button>
        </div>
      </caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Friendly name</th>
          <th>Feeding guidance</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (variant of s.variants; track variant.id) {
        <tr>
          <td>{{ variant.name }}</td>
          <td>{{ variant.friendlyName }}</td>
          <td [innerHTML]="convertHtml(variant.feedingGuidance)"></td>
          <td>
            <button
              class="button button--secondary"
              (click)="beginUpdateSpeciesVariant(variant, s)"
            >
              Edit
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>
} }
