h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

strong {
  margin-top: 0.75rem;
  display: block;
}

button {
  margin: 0.5rem 0rem;
}

.list {
  .item {
    margin: 1rem 0rem;

    h2 {
      margin-bottom: 1rem;

      button {
        margin-left: 0.25rem;
      }
    }

    button {
      margin-left: 1px;
      margin-bottom: 1px;
    }

    .split {
      display: flex;
      gap: 1rem;

      .split-item {
        flex: 1;
      }
    }
  }
}

.list button {
  margin: 0rem;
  padding: 0.25rem 0.5rem;
}

ul {
  list-style: none;
}

table a {
  color: var(--theme-primary);
  text-decoration: underline;
  cursor: pointer;
}

section {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-left: solid 5px var(--theme-primary);
  padding: 1rem;

  h2 {
    margin: 0rem;
  }

  .field {
    margin-top: 0.75rem;
  }

  .buttons {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
  }
}
