h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

strong {
  margin-top: 0.75rem;
  display: block;
}

.filter {
  margin-bottom: 0.75rem;
}

button {
  margin: 0.5rem 0rem;
}

.hint {
  color: #555555;
  font-size: 1rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  max-width: max-content;
  gap: 1.5rem;

  .item {
    h2 {
      margin-bottom: 1rem;

      button {
        margin-left: 0.25rem;
      }
    }

    button {
      margin-left: 1px;
      margin-bottom: 1px;
    }
  }
}

.list button {
  margin: 0rem;
  padding: 0.25rem 0.5rem;
}

ul {
  list-style: none;
}

table a {
  color: var(--theme-primary);
  text-decoration: underline;
  cursor: pointer;
}

section {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-left: solid 5px var(--theme-primary);
  padding: 1rem;

  h2 {
    margin-top: 0rem;
  }

  .field {
    margin-top: 0.75rem;
  }

  .buttons {
    margin-top: 1rem;
    display: flex;
    gap: 0.25rem;
  }
}

table {
  caption {
    font-weight: bold;
    text-align: left;

    > div {
      display: inline-block;
    }

    .buttons {
      margin-left: 0.25rem;

      button {
        padding: 0.25rem 0.5rem;
        margin-left: 0.25rem;
        margin-bottom: 0.25rem;
        font-size: 0.85rem;
      }
    }
  }

  th,
  td {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;

    button {
      font-size: 0.8rem;
    }
  }
}
