<a class="back-link" [routerLink]="'../'">Back</a>

<h1>Species</h1>

<p>
  Species are unique species that are treated at WAF.<br />
  Each species has a number of variants, based on age. Husbandry volunteers only
  see variant friendly names and feeding guidance.
</p>

@if (species$ | async; as species) { @if (species.loading) {
<spinner></spinner>
} @else if (species.error) {
<div class="error">Error occurred</div>
} @else if (species.data) { @if (!creatingSpecies && !creatingSpeciesVariant &&
!updatingSpecies && !updatingSpeciesVariant) {
<button (click)="beginCreateSpecies()" class="button button--primary">
  Create new species
</button>
<div class="filter">
  <div class="field">
    <label for="filter">Search</label>
    <input id="filter" type="text" [(ngModel)]="filter" />
  </div>
</div>
} @else if (creatingSpecies) {
<section>
  <h2>Create new species</h2>
  <form [formGroup]="speciesForm">
    <div class="field">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" />
    </div>
    <div class="field">
      <label for="speciesType">Animal type</label>
      <select id="speciesType" formControlName="speciesType">
        <option [value]="SpeciesType.Mammal">Mammal</option>
        <option [value]="SpeciesType.Rodent">Rodent</option>
        <option [value]="SpeciesType.Bird">Bird</option>
        <option [value]="SpeciesType.Waterfowl">Waterfowl</option>
        <option [value]="SpeciesType.Pigeon">Pigeon</option>
        <option [value]="SpeciesType.Raptor">Raptor</option>
        <option [value]="SpeciesType.Amphibian">Amphibian</option>
        <option [value]="SpeciesType.Reptile">Reptile</option>
      </select>
    </div>
    <div class="field">
      <label for="homeCarerPermissions">Home carer permission required</label>
      <select id="homeCarerPermissions" formControlName="homeCarerPermissions">
        <option value=""></option>
        <option [value]="HomeCarerPermissions.Foxes">Foxes</option>
        <option [value]="HomeCarerPermissions.Badgers">Badgers</option>
        <option [value]="HomeCarerPermissions.Pigeons">Pigeons</option>
        <option [value]="HomeCarerPermissions.Doves">Doves</option>
        <option [value]="HomeCarerPermissions.GardenBirds">Garden birds</option>
        <option [value]="HomeCarerPermissions.Rodents">Rodents</option>
        <option [value]="HomeCarerPermissions.Hedgehogs">Hedgehogs</option>
        <option [value]="HomeCarerPermissions.Rabbits">Rabbits</option>
      </select>
    </div>
    <div class="buttons">
      <button (click)="createSpecies()" class="button button--primary">
        Save
      </button>
      <button (click)="cancel()" class="button button--secondary">
        Cancel
      </button>
    </div>
  </form>
</section>
} @else if (creatingSpeciesVariant) {
<section>
  <h2>Create new variant for {{ creatingSpeciesVariant.name }}</h2>
  <form [formGroup]="speciesVariantForm">
    <div class="field">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" />
    </div>
    <div class="field">
      <label for="friendlyName">Friendly name</label>
      <input id="friendlyName" type="text" formControlName="friendlyName" />
    </div>
    <div class="field">
      <label for="order">Age order</label>
      <input id="order" type="number" formControlName="order" />
    </div>
    <div class="field">
      <label for="longTermDays">Long term days</label>
      <div class="hint">
        How long (in days) until this patient is considered "long term"
      </div>
      <input id="longTermDays" type="number" formControlName="longTermDays" />
    </div>
    <div class="buttons">
      <button (click)="createSpeciesVariant()" class="button button--primary">
        Save
      </button>
      <button (click)="cancel()" class="button button--secondary">
        Cancel
      </button>
    </div>
  </form>
</section>
} @else if (updatingSpecies) {
<section>
  <h2>Edit species</h2>
  <form [formGroup]="speciesForm">
    <div class="field">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" />
    </div>
    <div class="field">
      <label for="speciesType">Animal type</label>
      <select id="speciesType" formControlName="speciesType">
        <option [value]="SpeciesType.Mammal">Mammal</option>
        <option [value]="SpeciesType.Rodent">Rodent</option>
        <option [value]="SpeciesType.Bird">Bird</option>
        <option [value]="SpeciesType.Waterfowl">Waterfowl</option>
        <option [value]="SpeciesType.Pigeon">Pigeon</option>
        <option [value]="SpeciesType.Raptor">Raptor</option>
        <option [value]="SpeciesType.Amphibian">Amphibian</option>
        <option [value]="SpeciesType.Reptile">Reptile</option>
      </select>
    </div>
    <div class="field">
      <label for="homeCarerPermissions">Home carer permission required</label>
      <select id="homeCarerPermissions" formControlName="homeCarerPermissions">
        <option value=""></option>
        <option [value]="HomeCarerPermissions.Foxes">Foxes</option>
        <option [value]="HomeCarerPermissions.Badgers">Badgers</option>
        <option [value]="HomeCarerPermissions.Pigeons">Pigeons</option>
        <option [value]="HomeCarerPermissions.Doves">Doves</option>
        <option [value]="HomeCarerPermissions.GardenBirds">Garden birds</option>
        <option [value]="HomeCarerPermissions.Rodents">Rodents</option>
        <option [value]="HomeCarerPermissions.Hedgehogs">Hedgehogs</option>
        <option [value]="HomeCarerPermissions.Rabbits">Rabbits</option>
      </select>
    </div>
    <div class="buttons">
      <button (click)="updateSpecies()" class="button button--primary">
        Save
      </button>
      <button (click)="cancel()" class="button button--secondary">
        Cancel
      </button>
    </div>
  </form>
</section>
} @else if (updatingSpeciesVariant) {
<section>
  <h2>Edit variant for {{ updatingSpeciesVariant.name }}</h2>
  <form [formGroup]="speciesVariantForm">
    <div class="field">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" />
    </div>
    <div class="field">
      <label for="friendlyName">Friendly name</label>
      <input id="friendlyName" type="text" formControlName="friendlyName" />
    </div>
    <div class="field">
      <label for="order">Age order</label>
      <input id="order" type="number" formControlName="order" />
    </div>
    <div class="field">
      <label for="longTermDays">Long term days</label>
      <div class="hint">
        How long (in days) until this patient is considered "long term"
      </div>
      <input id="longTermDays" type="number" formControlName="longTermDays" />
    </div>
    <div class="feeding-guidance-section">
      <h3>Feeding guidance</h3>
      <div formArrayName="feedingGuidance">
        <div
          *ngFor="let fg of speciesVariantForm.controls.feedingGuidance.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="feeding-guidance">
            <div class="controls">
              <div class="field">
                <label for="timeKind-{{ i }}">Time</label>
                <select id="timeKind-{{ i }}" formControlName="timeKind">
                  <option>Specific</option>
                  <option>Every</option>
                </select>
              </div>
              @if
              (speciesVariantForm.controls.feedingGuidance.controls[i].controls.timeKind.value
              === 'Specific') {
              <div class="field">
                <label for="timeId-{{ i }}">&nbsp;</label>
                <input id="timeId-{{ i }}" type="time" formControlName="time" />
              </div>
              } @else {
              <div class="field">
                <label for="timeId-{{ i }}">Every</label>
                <div class="interval-wrapper">
                  <input
                    id="timeId-{{ i }}"
                    type="number"
                    formControlName="time"
                  />
                  <span>hours</span>
                </div>
              </div>
              }
              <div class="field">
                <label for="quantityValue-{{ i }}">Quantity</label>
                <input
                  id="quantityValue-{{ i }}"
                  type="number"
                  formControlName="quantityValue"
                />
              </div>
              <div class="field">
                <label for="quantityUnit-{{ i }}">Unit</label>
                <input
                  id="quantityUnit-{{ i }}"
                  type="text"
                  formControlName="quantityUnit"
                />
              </div>
              <div class="field">
                <label for="foodId-{{ i }}">Food</label>
                @if (foods$ | async; as foods) {
                <select id="foodId-{{ i }}" formControlName="foodId">
                  @for (food of foods.data; track food.id) {
                  <option [value]="food.id">{{ food.name }}</option>
                  }
                </select>
                }
              </div>
            </div>
            <button
              class="button button--warning"
              (click)="removeFeedingGuidance(i)"
            >
              Remove feeding
            </button>
          </div>

          <div class="field">
            <label for="notes-{{ i }}">Notes</label>
            <input id="notes-{{ i }}" type="text" formControlName="notes" />
          </div>
          <div class="field">
            <label for="dish-{{ i }}">Dish</label>
            <input id="dish-{{ i }}" type="text" formControlName="dish" />
          </div>
          <div class="field">
            <label for="topUp-{{ i }}">Top up</label>
            <input id="topUp-{{ i }}" type="checkbox" formControlName="topUp" />
          </div>
        </div>
      </div>
    </div>
    <button class="button button--secondary" (click)="addFeedingGuidance()">
      Add feeding
    </button>
    <div class="buttons">
      <button (click)="updateSpeciesVariant()" class="button button--primary">
        Save
      </button>
      <button (click)="cancel()" class="button button--secondary">
        Cancel
      </button>
    </div>
  </form>
</section>
}
<div class="list">
  @for (s of species.data; track s.id) { @if (shouldShowSpecies(s)) {
  <div class="item">
    <table>
      <caption>
        <div>{{ s.name }}</div>
        <div class="buttons">
          <button
            class="button button--secondary"
            (click)="beginUpdateSpecies(s)"
          >
            Edit species
          </button>
          <button
            class="button button--primary"
            (click)="beginCreateSpeciesVariant(s)"
          >
            Create new variant
          </button>
        </div>
      </caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Friendly name</th>
          <th>Feeding guidance</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (variant of s.variants; track variant.id) {
        <tr>
          <td>{{ variant.name }}</td>
          <td>{{ variant.friendlyName }}</td>
          <td>
            @for (feeding of formatFeedingGuidance(variant.feedingGuidance);
            track feeding.time) {
            <strong>{{ feeding.time }}</strong>
            @for (item of feeding.items; track item) { {{ item }}<br />
            } }
          </td>
          <td>
            <button
              class="button button--secondary"
              (click)="beginUpdateSpeciesVariant(variant, s)"
            >
              Edit
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } }
</div>
} }
