<a class="back-link" [routerLink]="'../'">Back</a>

<h1>View attendance</h1>

<div class="range">
  <h2>Date range</h2>
  <div>
    <label for="start">Start</label>
    <input type="date" id="start" [(ngModel)]="start" />
  </div>
  <div>
    <label for="end">End</label>
    <input type="date" id="end" [(ngModel)]="end" />
  </div>
  <button class="button button--primary" (click)="update()">View</button>
</div>

@if (reports$ | async; as reports) { @if (reports.error) {
<div class="error">Error occurred</div>
} @else if (reports.loading) {
<spinner></spinner>
} @else if (reports.data) {
<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="6">Regular shifts</th>
      <th colspan="4">Urgent shifts</th>
      <th colspan="4">Extra shifts</th>
    </tr>
    <tr>
      <th>Volunteer</th>
      <th>-</th>
      <th>Yes</th>
      <th>No</th>
      <th>Total</th>
      <th>Came in</th>
      <th>No shows</th>
      <th>Yes</th>
      <th>No</th>
      <th>Came in</th>
      <th>No shows</th>
      <th>Yes</th>
      <th>No</th>
      <th>Came in</th>
      <th>No shows</th>
    </tr>
  </thead>
  <tbody>
    @for (report of reports.data; track report.id) {
    <tr>
      <td>{{ report.fullName }}</td>
      <td>{{ report.regularUnresponded }}</td>
      <td>{{ report.regularYes }}</td>
      <td>{{ report.regularNo }}</td>
      <td>{{ report.regularTotal }}</td>
      <td>{{ report.cameInRegular }}</td>
      <td>{{ report.regularNoShows }}</td>
      <td>{{ report.urgentYes }}</td>
      <td>{{ report.urgentNo }}</td>
      <td>{{ report.cameInUrgent }}</td>
      <td>{{ report.urgentNoShows }}</td>
      <td>{{ report.extraYes }}</td>
      <td>{{ report.extraNo }}</td>
      <td>{{ report.cameInExtra }}</td>
      <td>{{ report.extraNoShows }}</td>
    </tr>
    }
  </tbody>
</table>
} }
