h1 {
  text-align: center;
}

h2 {
  text-align: left;
  margin-bottom: 0rem;
}

a {
  text-align: center;
}

.wrapper {
  margin: 2rem auto;
  max-width: 22rem;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  border: solid 0px var(--theme-primary);

  .header {
    text-align: center;
    background: var(--theme-primary);
    padding: 0.5rem 0.75rem 0.5rem 1.25rem;
    color: white;
    border-top-left-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      border-radius: 50%;
      width: 2.5rem;
    }
  }

  .content {
    padding: 1.125rem 1.25rem 1.25rem 1.25rem;
    border: solid 2px var(--theme-primary);
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
  }

  .field {
    margin-bottom: 1.25rem;

    label {
      color: var(--text-color--dark);
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    button,
    a {
      flex: 1;
    }
  }
}
