.phone {
  width: 360px; /* phone width */
  height: 720px; /* phone height */
  border: 16px solid #333; /* phone border/frame */
  border-radius: 36px;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.2);
  position: relative;
  background: #000;
}

.phone::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 5px;
  border-radius: 3px;
  background: #666; /* speaker bar */
}

.screen {
  width: 100%;
  height: 100%;
  border: none;
}

.header {
  background-color: var(--theme-primary);
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  padding: 1.5rem 1.5rem;
  background-color: white;
}

.footer {
  background-color: var(--theme-primary);
  text-align: center;
  padding: 0.5rem 0.5rem;
  font-size: 0.75rem;

  p {
    color: var(--text-color--light);
    font-size: 0.75rem !important;
  }
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-y: scroll;
  max-height: 100%;
  border-radius: 1.25rem;
}

:host ::ng-deep ul,
:host ::ng-deep ol {
  margin-left: 1rem;
}

:host ::ng-deep h2 {
  margin-bottom: 0.5rem;
}

:host ::ng-deep p {
  font-size: 16px;
}
