h1 {
  margin-bottom: 1rem;
}

.field {
  margin-bottom: 1rem;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

table {
  margin-bottom: 0.75rem;

  th,
  td {
    padding: 0.25rem 0.5rem;
  }
}
