h1 {
  margin-bottom: 0.5rem;
}

.button--primary {
  width: 100%;
  margin-top: 1.5rem;
}

.field {
  margin-top: 0.5rem;
}

.car-field {
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.no-cars {
  font-size: 1rem;
}

.add-car {
  width: max-content;
}

.text-with-button {
  display: flex;
  gap: 0.75rem;
}

.add-another {
  margin-top: 0.75rem;
}
