@if (attachment$ | async; as attachment) { @if (isImage$ | async) {
<div
  class="media-wrapper"
  (mousemove)="moveZoom($event)"
  (mouseleave)="hideZoom()"
>
  <img [src]="attachment.url" #mediaImage />

  <div class="zoom-overlay" #zoomOverlay>
    <img [src]="attachment.url" #zoomImg />
  </div>
</div>
} @else if (isVideo$ | async) {
<video controls>
  <source [src]="attachment.url" [type]="attachment.contentType" />
  Your browser does not support the video tag.
</video>
} @else if (isAudio$ | async) {
<audio controls>
  <source [src]="attachment.url" [type]="attachment.contentType" />
  Your browser does not support the audio tag.
</audio>
} @else {
<embed [src]="attachment.url" [type]="attachment.contentType" />
} }
