@if (areas$ | async; as areas) { @if (areas.loading) {
<spinner />
} @else if (areas.error) {
<div class="error">Error occurred</div>
} @else if (areas.data) {
<div class="filter">
  <div class="field">
    <label for="pen-search">Search</label>
    <input id="pen-search" type="text" [(ngModel)]="search" />
  </div>
  <div class="fields">
    <div>
      <div class="field">
        <label for="pen-empty">Empty pens</label>
        <input id="pen-empty" type="checkbox" [(ngModel)]="empty" />
      </div>
      <div class="field">
        <label for="pen-inUse">Pens in use</label>
        <input id="pen-inUse" type="checkbox" [(ngModel)]="inUse" />
      </div>
    </div>
    <div>
      <div class="field">
        <label for="pen-available"> Available (no status) </label>
        <input id="pen-available" type="checkbox" [(ngModel)]="available" />
      </div>
      <div class="field">
        <label for="pen-needsCleaning">Needs cleaning</label>
        <input
          id="pen-needsCleaning"
          type="checkbox"
          [(ngModel)]="needsCleaning"
        />
      </div>
    </div>
    <div>
      <div class="field">
        <label for="pen-needsSettingUp">Needs setting up</label>
        <input
          id="pen-needsSettingUp"
          type="checkbox"
          [(ngModel)]="needsSettingUp"
        />
      </div>
    </div>
    <div>
      <div class="field">
        <label for="pen-readyToUse">Ready to use</label>
        <input id="pen-readyToUse" type="checkbox" [(ngModel)]="readyToUse" />
      </div>
      <div class="field">
        <label for="pen-custom">Custom</label>
        <input id="pen-custom" type="checkbox" [(ngModel)]="custom" />
      </div>
    </div>
  </div>
</div>
<table>
  <tbody>
    @for (area of areas.data; track area.id) { @if (shouldShowArea(area)) {
    <tr>
      <th colspan="8">{{ area.name }}</th>
    </tr>
    @for (pen of area.pens; track pen.id) { @if (shouldShowPen(pen)) {
    <tr>
      <td>{{ pen.reference }}</td>
      @if (pen.empty) {
      <td>
        <span class="empty">Empty</span>
      </td>
      <td>
        @if (pen.cleanStatus !== PenCleanStatus.None) {
        <button
          class="button button--secondary-invert"
          (click)="setCleanStatus(pen, PenCleanStatus.None)"
        >
          🔄 Reset status
        </button>
        } @else {
        <span class="active-status">🏚️ No status</span>
        }
      </td>
      <td>
        @if (pen.cleanStatus !== PenCleanStatus.NeedsCleaning) {
        <button
          class="button button--secondary-invert"
          (click)="setCleanStatus(pen, PenCleanStatus.NeedsCleaning)"
        >
          🧹 Needs cleaning
        </button>
        } @else {
        <span class="active-status">🧹 Needs cleaning</span>
        }
      </td>
      <td>
        @if (pen.cleanStatus !== PenCleanStatus.NeedsSettingUp) {
        <button
          class="button button--secondary-invert"
          (click)="setCleanStatus(pen, PenCleanStatus.NeedsSettingUp)"
        >
          🏠 Needs setting up
        </button>
        } @else {
        <span class="active-status">🏠 Needs setting up</span>
        }
      </td>
      <td>
        @if (pen.cleanStatus !== PenCleanStatus.ReadyToUse) {
        <button
          class="button button--secondary-invert"
          (click)="setCleanStatus(pen, PenCleanStatus.ReadyToUse)"
        >
          ✅ Ready to use
        </button>
        } @else {
        <span class="active-status">✅ Ready to use</span>
        }
      </td>
      <td>
        @if (pen.cleanStatus !== PenCleanStatus.Custom) { @if (settingCustom ===
        pen.id) {
        <div class="custom">
          <div class="field">
            <label for="customBoardMessage">Custom message</label>
            <input id="customBoardMessage" [(ngModel)]="customBoardMessage" />
          </div>
          <div class="buttons">
            <button
              class="button button--secondary"
              (click)="clearSettingCustom()"
            >
              Cancel
            </button>
            <button
              class="button button--primary"
              (click)="setCleanStatus(pen, PenCleanStatus.Custom, customBoardMessage)"
            >
              Save
            </button>
          </div>
        </div>
        } @else {
        <button
          class="button button--secondary-invert"
          (click)="settingCustom = pen.id"
        >
          📋 Custom
        </button>
        } } @else {
        <span class="active-status"> 📋 {{ pen.customBoardMessage }} </span>
        }
      </td>
      } @else {
      <td>
        <span class="in-use">In use</span>
      </td>
      <td colspan="5"></td>
      }
    </tr>
    } } } }
  </tbody>
</table>
} }
