.buttons {
  display: flex;
  gap: 0.5rem;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

input,
select,
button {
  padding: 0.25rem 0.5rem;
  max-width: max-content;
}

table {
  margin-top: 1rem;

  tr.secondary th {
    background-color: var(--theme-color-5);
  }

  th,
  td {
    padding: 0.25rem 0.5rem;

    button {
      font-size: 1rem;
      padding: 0.125rem 0.25rem;
    }
  }
}

.warnings {
  display: flex;
  gap: 0.5rem;
}

.urgent {
  font-weight: bold;
  color: var(--theme-color-2);
}

.warning {
  font-weight: bold;
  color: #91734d;
}
