<div class="buttons">
  <button (click)="back()" class="button button--secondary-invert">
    ⬅️ Back
  </button>
</div>
@if (page$ | async; as page) { @if (page.item) {
<h3>View batches</h3>
<p class="subtitle">
  {{ page.item.medication }}, {{ page.item.medicationConcentration }}, {{
  page.item.brand }}
</p>
<table>
  <thead>
    <tr>
      <th>Batch number</th>
      <th>Arrival date</th>
      <th>Expiration date</th>
      <th>Delivered</th>
      <th colspan="2">In stock</th>
      <th colspan="2">In use</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (batch of page.item.batches; track batch.id; let last = $last) {
    <tr>
      <td>{{ batch.number }}</td>
      <td>{{ batch.date | date: 'dd MMM yyyy' }}</td>
      <td>{{ batch.expiry | date: 'dd MMM yyyy' }}</td>
      <td>
        {{ batch.deliveredQuantity }} {{ getMeasurement(page.item.measurement)
        }}
      </td>
      <td>
        {{ batch.quantityInStock }} {{ getMeasurement(page.item.measurement) }}
      </td>
      <td>
        <div class="warnings">
          @if (batch.expired) {
          <span class="urgent">🚨 Batch expired</span>
          } @else if (batch.expiresSoon) {
          <span class="warning">⚠️ Batch expires today</span>
          }
        </div>
      </td>
      <td>
        {{ batch.quantityInUse }} {{ getMeasurement(page.item.measurement) }}
      </td>
      <td>
        <span class="warnings">
          @if (batch.expiredAfterOpening) {
          <span class="urgent">🚨 In-use expired</span>
          } @else if (batch.expiresSoonAfterOpening) {
          <span class="warning">⚠️ In-use expires today</span>
          }
        </span>
      </td>
      <td>
        <div class="buttons">
          @if (!(batch.expired || batch.quantityInStock === 0)) {
          <button
            (click)="signOut(page.item, batch)"
            class="button button--secondary-invert"
          >
            💉 Sign out
          </button>
          }
          <button
            (click)="disposeBatch(page.item, batch)"
            class="button button--secondary-invert"
          >
            🗑️ Dispose
          </button>
        </div>
      </td>
    </tr>
    @if (batch.usages.length > 0) {
    <tr class="secondary">
      <td colspan="2"></td>
      <th>Signed out</th>
      <th>In-use expiration</th>
      <th colspan="2">Quantity</th>
      <th colspan="2">Disposal</th>
      <th></th>
    </tr>
    @for (usage of batch.usages; track usage.id) {
    <tr>
      <td colspan="2"></td>
      <td>{{ usage.date | date: 'dd MMM yyyy' }} ({{ usage.signedOutBy }})</td>
      <td>{{ usage.expiry | date: 'dd MMM yyyy' }}</td>
      <td>{{ usage.quantity }} {{ getMeasurement(page.item.measurement) }}</td>
      <td>
        @if (usage.expired) {
        <span class="urgent">🚨 In-use expired</span>
        } @else if (usage.expiresSoon) {
        <span class="warning">⚠️ In-use expires today</span>
        }
      </td>
      <td colspan="2">
        @if (usage.disposed) { {{ usage.disposed | date: 'dd MMM yyyy' }} ({{
        usage.disposedBy }}) } @else { Still in use }
      </td>
      <td>
        @if (!usage.disposed) {
        <div class="buttons">
          <button
            (click)="disposeUsage(page.item, batch, usage)"
            class="button button--secondary-invert"
          >
            🗑️ Dispose
          </button>
        </div>
        }
      </td>
    </tr>
    } @if (!last) {
    <tr>
      <td colspan="9">&nbsp;</td>
    </tr>
    } } }
  </tbody>
</table>
} }
