input[type="date"] {
  max-width: 12rem;
}

.nothing {
  margin-top: 1rem;
}

a {
  color: var(--theme-primary);
  text-decoration: underline;
  cursor: pointer;
}

.buttons {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.field {
  margin-top: 0.5rem;
}

.recheck-form,
.prescription-form {
  border: solid 2px var(--theme-primary);
  padding: 0.5rem 1rem 0.75rem 1rem;
  max-width: max-content;
}

.area {
  margin-top: 0.75rem;

  h2 {
    margin-bottom: 0.5rem;

    .summary {
      font-size: 1rem;
      padding-left: 0.5rem;
      color: rgb(56, 56, 56);
    }
  }

  .pens {
    display: flex;
    gap: 0.5rem;

    .pen {
      border: solid 1px rgb(198, 198, 198);

      h3 {
        background-color: rgb(220 220 220);
        padding: 0.125rem 0rem 0.125rem 0.5rem;
        border-bottom: solid 1px rgb(198, 198, 198);

        .summary {
          font-size: 1rem;
          padding-left: 1rem;
          color: rgb(56, 56, 56);
        }
      }

      .patients {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin: 0.25rem;

        .patient {
          &:not(:last-child) {
            border-bottom: dotted 2px rgb(92, 92, 92);
          }

          .tasks {
            margin-top: 0.25rem;
            display: flex;
            flex-wrap: wrap;
            gap: 0.25rem;

            button {
              margin-top: 0.5rem;
              margin-bottom: 0.25rem;
            }

            .prescription {
              display: flex;
              gap: 1rem;
              background-color: rgb(224 238 249);
              border-left: solid 5px rgb(116, 169, 201);
              padding: 0.25rem 0.5rem 0.25rem 0.5rem;

              .last-dose {
                background-color: rgb(195, 218, 236);
              }
            }

            .recheck {
              display: flex;
              gap: 1rem;
              background-color: rgb(255, 233, 255);
              border-left: solid 5px rgb(182, 107, 182);
              padding: 0.25rem 0.5rem 0.25rem 0.5rem;

              .done {
                color: var(--theme-color-4);
                font-weight: bold;
              }

              .due {
                font-weight: bold;
                color: var(--theme-color-1);
              }

              .overdue {
                font-weight: bold;
                color: var(--theme-color-2);
              }
            }
          }
        }
      }
    }
  }
}

.hint {
  font-size: 0.9rem;
  color: rgb(60, 60, 60);
  max-width: 20rem;
  margin-top: 0.5rem;
}

.require-weight {
  margin-top: 0.5rem;

  .input-with-units {
    display: flex;

    input {
      max-width: 6rem;
      text-align: right;
      border-top-right-radius: 0rem;
      border-bottom-right-radius: 0rem;
      border-right: none;
    }

    select {
      max-width: max-content;
      border-top-left-radius: 0rem;
      border-bottom-left-radius: 0rem;
    }
  }
}

.error {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

button {
  padding: 0.25rem 0.5rem;
}
