input[type="date"] {
  max-width: 12rem;
}

.nothing {
  margin-top: 1rem;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 1rem;
  border: dotted 1px black;
  background-color: white;
  padding: 0.35rem 1rem 0.75rem 0.75rem;
  max-width: max-content;

  .administered-since-wrapper {
    .time-select {
      display: flex;
      margin-left: 2.5rem;
      margin-top: 0.125rem;
    }

    input[type="number"] {
      max-width: 6ch;
      padding: 0.25rem 0.5rem;
      border-top-right-radius: 0rem;
      border-bottom-right-radius: 0rem;
    }

    select {
      max-width: 7.5rem;
      padding: 0.25rem 0.5rem;
      border-top-left-radius: 0rem;
      border-bottom-left-radius: 0rem;
      margin-left: -1px;
      padding-bottom: 5px;
    }
  }
}

a {
  color: var(--theme-primary);
  text-decoration: underline;
  cursor: pointer;
}

.buttons {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;

  &.buttons--check button {
    padding: 0.125rem 0.25rem;
  }
}

.field {
  margin-top: 0.5rem;
}

.recheck-form,
.prescription-form {
  border: solid 2px var(--theme-primary);
  padding: 0.5rem 1rem 0.75rem 1rem;
  max-width: max-content;
}

.area {
  margin-top: 0.75rem;

  h2 {
    margin-bottom: 0.5rem;

    .summary {
      font-size: 1rem;
      padding-left: 0.5rem;
      color: rgb(56, 56, 56);
    }
  }

  .pens {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;

    .pen {
      max-width: max-content;
      border: solid 1px rgb(198, 198, 198);

      h3 {
        background-color: rgb(220 220 220);
        padding: 0.125rem 0rem 0.125rem 0.5rem;
        border-bottom: solid 1px rgb(198, 198, 198);

        .summary {
          font-size: 1rem;
          padding-left: 0.5rem;
          color: rgb(56, 56, 56);
        }
      }

      .patients {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 0.5rem;
        margin: 0.25rem;

        .patient {
          .tasks {
            margin-top: 0.25rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 0.25rem;

            .buttons {
              margin: 0rem;

              button {
                margin: 0rem;
              }
            }

            th,
            td {
              padding: 0.25rem 0.5rem 0.25rem 0.75rem;
              border: none;
              background-color: transparent;
              vertical-align: top;
            }

            .prescriptions {
              max-width: max-content;
              border-left: solid 5px rgb(116, 169, 201);

              th {
                background-color: rgb(116, 169, 201);
              }

              .quantity {
                color: var(--theme-primary);
              }

              .date {
                color: rgb(75, 75, 75);
                font-size: 0.85rem;
                display: block;
                margin-top: -3px;
              }

              .brands {
                color: var(--theme-color-4);
                font-size: 1rem;
                display: block;
                margin-top: -6px;
              }

              .done {
                color: var(--theme-color-4);
                font-weight: bold;
              }

              .due {
                font-weight: bold;
                color: var(--theme-color-1);
              }

              .not-today {
                font-weight: bold;
                color: var(--theme-color-3);
              }
            }

            .rechecks {
              max-width: max-content;
              border-left: solid 5px rgb(182, 107, 182);

              th {
                background-color: rgb(182, 107, 182);
              }

              .done {
                color: var(--theme-color-4);
                font-weight: bold;
              }

              .due {
                font-weight: bold;
                color: var(--theme-color-1);
              }

              .overdue {
                font-weight: bold;
                color: var(--theme-color-2);
              }
            }
          }
        }
      }
    }
  }
}

.hint {
  font-size: 0.9rem;
  color: rgb(60, 60, 60);
  max-width: 20rem;
  margin-top: 0.5rem;
}

.require-weight {
  margin-top: 0.5rem;

  .input-with-units {
    display: flex;

    input {
      max-width: 6rem;
      text-align: right;
      border-top-right-radius: 0rem;
      border-bottom-right-radius: 0rem;
      border-right: none;
    }

    select {
      max-width: max-content;
      border-top-left-radius: 0rem;
      border-bottom-left-radius: 0rem;
    }
  }
}

.error {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

button {
  padding: 0.25rem 0.5rem;
}
