@if (performingRecheck) {
<div class="recheck-form">
  <h3>Perform recheck</h3>
  <p>
    🔗
    <a
      (click)="viewPatient(performingRecheck.reference, performingRecheck.species.name, performingRecheck.viewPatientId)"
      >{{ performingRecheck.reference }}</a
    >
  </p>
  <p>
    🐾 {{ performingRecheck.species.name }} ({{ performingRecheck.variant.name
    }})
  </p>
  <p>📍 {{ performingRecheck.pen.reference }}</p>
  <p>🩺 {{ performingRecheck.description }}</p>
  <div class="field">
    <label for="comments">Comments</label>
    <textarea
      id="comments"
      [(ngModel)]="comments[performingRecheck.id]"
      rows="3"
    ></textarea>
  </div>
  @if (performingRecheck.requireWeight) {
  <div class="field require-weight">
    <label for="weight">
      Weight
      <span class="required">*</span>
    </label>
    <div class="input-with-units">
      <input
        id="weight"
        type="number"
        [(ngModel)]="weightValue[performingRecheck.id]"
        autocomplete="off"
      />
      <select id="weightUnit" [(ngModel)]="weightUnit[performingRecheck.id]">
        <option value="1">g</option>
        <option value="2">kg</option>
      </select>
    </div>
  </div>
  }
  <div class="hint">
    If you are using a shared device, please add your initials in the comment.
  </div>
  @if (invalid == performingRecheck.id) {
  <div class="error">Please fill all required fields.</div>
  }
  <div class="buttons">
    <button
      (click)="performRecheck(performingRecheck)"
      class="button button--secondary-invert"
    >
      ✅ Done
    </button>
    <button (click)="cancel()" class="button button--secondary-invert">
      ⬅️ Back
    </button>
  </div>
</div>
} @else if (administeringPrescription) {
<div class="prescription-form">
  <h3>Administer prescription</h3>
  <p>
    🔗
    <a
      (click)="viewPatient(administeringPrescription.reference, administeringPrescription.species.name, administeringPrescription.viewPatientId)"
      >{{ administeringPrescription.reference }}</a
    >
  </p>
  <p>
    🐾 {{ administeringPrescription.species.name }} ({{
    administeringPrescription.variant.name }})
  </p>
  <p>📍 {{ administeringPrescription.pen.reference }}</p>

  @if (isPrescriptionMedication(administeringPrescription)) {
  <p>
    💊 {{ administeringPrescription.medication.activeSubstance }} &middot; {{
    administeringPrescription.medicationConcentration.form }}, {{
    administeringPrescription.medicationConcentration.concentrationMgMl }} mg/ml
  </p>
  <p>
    💉 {{ administeringPrescription.administrationMethod.description }} ({{
    administeringPrescription.administrationMethod.code }}), {{
    administeringPrescription.quantityValue }} {{
    administeringPrescription.quantityUnit }}
  </p>
  @if (administeringPrescription.comments) {
  <p>📋 {{ administeringPrescription.comments }}</p>
  } } @else {
  <p>📋 {{ administeringPrescription.instructions }}</p>
  } @if (isPrescriptionMedication(administeringPrescription)) {
  <div class="field">
    <label for="comments-m-{{ administeringPrescription.id }}">Comments</label>
    <textarea
      id="comments-m-{{ administeringPrescription.id }}"
      [(ngModel)]="comments['M'+administeringPrescription.id]"
      rows="3"
    ></textarea>
  </div>
  <div class="hint">
    If you are using a shared device, please add your initials in the comment.
  </div>
  <div class="buttons">
    <button
      (click)="administerMedication(administeringPrescription.id, true)"
      class="button button--secondary-invert"
    >
      💉✅ Success
    </button>
    <button
      (click)="administerMedication(administeringPrescription.id, false)"
      class="button button--secondary-invert"
    >
      💉❌ Fail
    </button>
    <button (click)="cancel()" class="button button--secondary-invert">
      ⬅️ Back
    </button>
  </div>
  } @else {
  <div class="field">
    <label for="comments-m-{{ administeringPrescription.id }}">Comments</label>
    <textarea
      id="comments-m-{{ administeringPrescription.id }}"
      [(ngModel)]="comments['I'+administeringPrescription.id]"
      rows="3"
    ></textarea>
  </div>
  <div class="hint">
    If you are using a shared device, please add your initials in the comment.
  </div>
  <div class="buttons">
    <button
      (click)="administerInstruction(administeringPrescription.id, true)"
      class="button button--secondary-invert"
    >
      💉✅ Success
    </button>
    <button
      (click)="administerInstruction(administeringPrescription.id, false)"
      class="button button--secondary-invert"
    >
      💉❌ Fail
    </button>
    <button (click)="cancel()" class="button button--secondary-invert">
      ⬅️ Back
    </button>
  </div>
  }
</div>
} @else {
<div class="filter">
  <div>
    <label for="date"><strong>Date</strong></label>
    <input type="date" id="date" [(ngModel)]="date" (change)="changeDate()" />
  </div>
  <div>
    <p><strong>Rechecks</strong></p>
    <div class="subfilter">
      <div>
        <div class="field">
          <label for="showMeOverdueRechecks">Overdue</label>
          <input
            type="checkbox"
            id="showMeOverdueRechecks"
            [(ngModel)]="showMeOverdueRechecks"
          />
        </div>
        <div class="field">
          <label for="showMeDueRechecks">Due</label>
          <input
            type="checkbox"
            id="showMeDueRechecks"
            [(ngModel)]="showMeDueRechecks"
          />
        </div>
        <div class="field">
          <label for="showMeDoneRechecks">Done</label>
          <input
            type="checkbox"
            id="showMeDoneRechecks"
            [(ngModel)]="showMeDoneRechecks"
          />
        </div>
      </div>
      <div>
        <div class="field">
          <label for="showMeVeterinarianRechecks">Veterinarian</label>
          <input
            type="checkbox"
            id="showMeVeterinarianRechecks"
            [(ngModel)]="showMeVeterinarianRechecks"
          />
        </div>
        <div class="field">
          <label for="showMeTechnicianRechecks">Technician</label>
          <input
            type="checkbox"
            id="showMeTechnicianRechecks"
            [(ngModel)]="showMeTechnicianRechecks"
          />
        </div>
      </div>
    </div>
  </div>
  <div>
    <p><strong>Prescriptions</strong></p>
    <div class="field">
      <label for="showMeNotDuePrescriptions">Not due today</label>
      <input
        type="checkbox"
        id="showMeNotDuePrescriptions"
        [(ngModel)]="showMeNotDuePrescriptions"
      />
    </div>
    <div class="field">
      <label for="showMeDuePrescriptions">Due</label>
      <input
        type="checkbox"
        id="showMeDuePrescriptions"
        [(ngModel)]="showMeDuePrescriptions"
      />
    </div>
    <div class="field">
      <label for="showMeDonePrescriptions">Done</label>
      <input
        type="checkbox"
        id="showMeDonePrescriptions"
        [(ngModel)]="showMeDonePrescriptions"
      />
    </div>
  </div>
</div>
@if (dailyTasksReport$ | async; as report) { @if (performRecheckTask$ | async;
as performRecheckTask) { @if (administerPrescriptionTask$ | async; as
administerPrescriptionTask) { @if (report.loading || performRecheckTask.loading
|| administerPrescriptionTask.loading) {
<spinner></spinner>
} @else if (report.error || performRecheckTask.error ||
administerPrescriptionTask.error) {
<div class="error">Error occurred</div>
} } } @if (report.data) { @if (!shouldShowAreas(report.data)) {
<div class="nothing">
  <h2>Nothing to do</h2>
  <p>
    Looks like there's nothing to do based on the selected filters on this date.
  </p>
</div>
} @for (area of report.data.areas; track area.code) { @if (shouldShowArea(area))
{
<div class="area">
  <h2>
    <span class="area-name">{{ area.name }}</span>
    <span class="summary">
      🩺 {{ area.rechecks }} 💊 {{ area.prescriptions }}
    </span>
  </h2>
  <div class="pens">
    @for (pen of area.pens; track pen.reference) { @if (shouldShowPen(pen)) {
    <div class="pen">
      <h3>
        <span class="pen-reference">{{ pen.reference }}</span>
        <span class="summary">
          🩺 {{ pen.rechecks }} 💊 {{ pen.prescriptions }}
        </span>
      </h3>
      <div class="patients">
        @for (patient of pen.patients; track patient.id) { @if
        (shouldShowPatient(patient)) {
        <div class="patient">
          <p>
            🔗
            <a
              (click)="viewPatient(patient.reference, patient.species.name, patient.id)"
              >{{ patient.reference }}</a
            >
          </p>
          <p>🐾 {{ patient.species.name }} ({{ patient.variant.name }})</p>
          @if (patient.uniqueIdentifier) {
          <p>🎨 {{ patient.uniqueIdentifier }}</p>
          }
          <div class="tasks">
            @if (shouldShowRechecks(patient)) {
            <table class="rechecks">
              <thead>
                <tr>
                  <th>Status</th>
                  <th>For</th>
                  <th>Recheck</th>
                  @if (showMeDoneRechecks) {
                  <th>Weight</th>
                  <th>Comments</th>
                  }
                  <th></th>
                </tr>
              </thead>
              <tbody>
                @for (recheck of patient.rechecks; track recheck.id) { @if
                (shouldShowRecheck(recheck)) {
                <tr>
                  <td>
                    @if (recheck.due == date) { @if (recheck.rechecked) {
                    <span class="done">Done</span>
                    } @else {
                    <span class="due">Due</span>
                    } } @else {
                    <span class="overdue">
                      Overdue ({{ recheck.due | date: 'dd MMM yyyy' }})
                    </span>
                    }
                  </td>
                  <td>{{ getRecheckRoles(recheck.roles) }}</td>
                  <td>{{ recheck.description }}</td>
                  @if (showMeDoneRechecks) {
                  <td>
                    @if (recheck.weightValue && recheck.weightUnit) { {{
                    recheck.weightValue }} {{ getWeightUnit(recheck.weightUnit)
                    }} }
                  </td>
                  <td>{{ recheck.comments }}</td>
                  }
                  <td>
                    @if (!recheck.rechecked) {
                    <div class="buttons buttons--check">
                      <button
                        (click)="performingRecheck = recheck"
                        class="button button--secondary-invert"
                      >
                        🩺
                      </button>
                    </div>
                    }
                  </td>
                </tr>
                } }
              </tbody>
            </table>
            } @if (shouldShowPrescriptions(patient)) {
            <table class="prescriptions">
              <thead>
                <tr>
                  <th>Status</th>
                  <th>Frequency</th>
                  <th>Last dose</th>
                  <th colspan="3">Prescription</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                @for (prescription of getPrescriptions(patient); track
                prescription.id) { @if (shouldShowPrescription(prescription)) {
                <tr>
                  <td>
                    @if (getPrescriptionStatus(prescription) === 'due') {
                    <span class="due">Due</span>
                    } @else if (getPrescriptionStatus(prescription) === 'done')
                    {
                    <span class="done">Done</span>
                    } @else {
                    <span class="not-today"> Not due today </span>
                    }
                  </td>
                  <td>
                    {{ prescription.frequency }}<br />
                    <span class="date">
                      {{ prescription.start | date: 'dd MMM yyyy'}} - {{
                      prescription.end | date: 'dd MMM yyyy'}}</span
                    >
                  </td>
                  <td>
                    @if (getMostRecent(prescription) !== '') { {{
                    getDurationSinceMostRecent(prescription) }} ago<br />
                    <span class="date">
                      {{ getMostRecent(prescription) | date: 'dd MMM yyyy HH:mm'
                      }}
                    </span>
                    }
                  </td>
                  @if (isPrescriptionMedication(prescription)) {
                  <td>
                    {{ prescription.medication.activeSubstance }}<br />
                    <span class="brands">
                      {{ getBrands(prescription.medication) }}
                    </span>
                  </td>
                  <td>
                    {{ prescription.medicationConcentration.form }}, {{
                    prescription.medicationConcentration.concentrationMgMl }}
                    mg/ml<br />
                    {{ prescription.administrationMethod.description }} ({{
                    prescription.administrationMethod.code }})
                  </td>
                  <td class="quantity">
                    {{ prescription.quantityValue }} {{
                    prescription.quantityUnit }}
                  </td>
                  } @else {
                  <td colspan="3">{{ prescription.instructions }}</td>
                  }
                  <td>
                    <div class="buttons buttons--check">
                      @for (i of
                      getOutstandingAdministrationsCount(prescription); track i)
                      {
                      <button
                        (click)="administeringPrescription = prescription"
                        class="button button--secondary-invert"
                      >
                        💉
                      </button>
                      }
                    </div>
                  </td>
                </tr>
                @if (isPrescriptionMedication(prescription) &&
                prescription.comments) {
                <tr>
                  <td colspan="3"></td>
                  <td colspan="3">{{ prescription.comments }}</td>
                  <td></td>
                </tr>
                } } }
              </tbody>
            </table>
            }
          </div>
        </div>
        } }
      </div>
    </div>
    } }
  </div>
</div>
} } } } }
