@if (patient.prescriptionInstructions.length === 0 &&
patient.prescriptionMedications.length === 0) {
<p><em>No prescriptions have been added for this patient.</em></p>
} @else {
<div class="field showAdministrations">
  <label for="showAdministrations">Show administrations</label>
  <input
    id="showAdministrations"
    type="checkbox"
    [(ngModel)]="showAdministrations"
  />
</div>
<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Frequency</th>
      <th>Medication</th>
      <th>Concentration</th>
      <th>Administration</th>
      <th>Dose</th>
      <th>Comments</th>
      <th colspan="5"></th>
    </tr>
  </thead>
  <tbody>
    @for (prescription of patient.prescriptionInstructions; let index = $index;
    track prescription.id) { @if (index < maxIndex) {
    <tr>
      <td>{{ prescription.start | date: 'dd MMM yyyy' }}</td>
      <td>{{ prescription.end | date: 'dd MMM yyyy' }}</td>
      <td>{{ prescription.frequency }}</td>
      <td colspan="4"></td>
      <td>{{ prescription.instructions }}</td>
      <td>
        @if (isVet && patient.status != PatientStatus.Dispositioned) {
        <button
          (click)="prepareEditInstruction(prescription)"
          class="button button--none"
        >
          ✏️
        </button>
        <button
          (click)="removeInstruction(prescription.id)"
          class="button button--none"
        >
          🗑️
        </button>
        }
      </td>
    </tr>
    @if (showAdministrations && prescription.administrations.length > 0) {
    <tr class="administration-header">
      <td colspan="3"></td>
      <th>Administered</th>
      <th>On</th>
      <th>By</th>
      <th>Success</th>
      <th>Comments</th>
      <td></td>
    </tr>
    @for (administration of prescription.administrations; track
    administration.id) {
    <tr>
      <td colspan="4"></td>
      <td>{{ administration.administered | date: 'dd MMM yyyy HH:mm' }}</td>
      <td>
        {{ administration.administrator.firstName }} {{
        administration.administrator.lastName }}
      </td>
      <td>{{ administration.success ? 'Success' : 'Fail' }}</td>
      <td>{{ administration.comments }}</td>
      <td></td>
    </tr>
    } } } } @for (prescription of patient.prescriptionMedications; let index =
    $index; track prescription.id) { @if (index < maxIndex -
    patient.prescriptionInstructions.length) {
    <tr>
      <td>{{ prescription.start | date: 'dd MMM yyyy' }}</td>
      <td>{{ prescription.end | date: 'dd MMM yyyy' }}</td>
      <td>{{ prescription.frequency }}</td>
      <td>{{ prescription.medication.activeSubstance }}</td>
      <td>
        {{ prescription.medicationConcentration.form }}, {{
        prescription.medicationConcentration.concentrationValue }} {{
        prescription.medicationConcentration.concentrationUnit }}
      </td>
      <td>
        {{ prescription.administrationMethod.description }} ({{
        prescription.administrationMethod.code }})
      </td>
      <td>{{ prescription.quantityValue }} {{ prescription.quantityUnit }}</td>
      <td>{{ prescription.comments }}</td>
      <td>
        @if (isVet && patient.status != PatientStatus.Dispositioned) {
        <button
          (click)="prepareEditMedication(prescription)"
          class="button button--none"
        >
          ✏️
        </button>
        <button
          (click)="removeMedication(prescription.id)"
          class="button button--none"
        >
          🗑️
        </button>
        }
      </td>
    </tr>
    @if (showAdministrations && prescription.administrations.length > 0) {
    <tr class="administration-header">
      <td colspan="3"></td>
      <th>Administered</th>
      <th>On</th>
      <th>By</th>
      <th>Success</th>
      <th>Comments</th>
      <td></td>
    </tr>
    @for (administration of prescription.administrations; track
    administration.id) {
    <tr>
      <td colspan="4"></td>
      <td>{{ administration.administered | date: 'dd MMM yyyy HH:mm' }}</td>
      <td>
        {{ administration.administrator.firstName }} {{
        administration.administrator.lastName }}
      </td>
      <td>{{ administration.success ? 'Success' : 'Fail' }}</td>
      <td>{{ administration.comments }}</td>
      <td></td>
    </tr>
    } } } }
  </tbody>
</table>
@if (maxIndex < patient.prescriptionInstructions.length +
patient.prescriptionMedications.length) {
<p>
  <a class="load-more" (click)="maxIndex += 5">Load more...</a>
</p>
} } @if (!(addingMedication || addingInstruction || editingMedication ||
editingInstruction)) { @if (isVet && patient.status !=
PatientStatus.Dispositioned) {
<div class="buttons">
  <button
    (click)="addingMedication = true"
    class="button button--secondary-invert"
  >
    💊 Add medication
  </button>
  <button
    (click)="addingInstruction = true"
    class="button button--secondary-invert"
  >
    📋 Add other
  </button>
</div>
} } @else if (addingMedication || editingMedication) {
<form [formGroup]="prescriptionMedicationForm">
  <div class="fields">
    <div class="field">
      <label for="start">
        Start
        <span class="required">*</span>
      </label>
      <input
        id="start"
        type="date"
        formControlName="start"
        autocomplete="off"
      />
    </div>
    <div class="field">
      <label for="end">
        End
        <span class="required">*</span>
      </label>
      <input id="end" type="date" formControlName="end" autocomplete="off" />
    </div>
  </div>
  <div class="fields">
    <hospital-patient-medication-selector
      [id]="-1"
      [speciesId]="patient.species?.id?.toString()"
      [weightValue]="patient.latestWeight?.weightValue?.toString()"
      [weightUnit]="patient.latestWeight?.weightUnit"
      [formGroup]="prescriptionMedicationForm"
    ></hospital-patient-medication-selector>
  </div>
  <div class="fields">
    <div class="field">
      <hospital-patient-prescriptions-frequency
        [id]="'frequency'"
        [formGroup]="prescriptionMedicationForm"
      ></hospital-patient-prescriptions-frequency>
    </div>
  </div>
  @if (!saving) { @if (attemptedSave && !prescriptionMedicationForm.valid) {
  <div class="error">Please fill in all required fields</div>
  }
  <div class="buttons">
    @if (addingMedication) {
    <button (click)="addMedication()" class="button button--primary">
      Save
    </button>
    } @else if (editingMedication) {
    <button (click)="editMedication()" class="button button--primary">
      Save
    </button>
    }
    <button (click)="reset()" class="button button--secondary">Back</button>
  </div>
  }
</form>
} @else if (addingInstruction || editingInstruction) {
<form [formGroup]="prescriptionInstructionForm">
  <div class="fields">
    <div class="field">
      <label for="start">
        Start
        <span class="required">*</span>
      </label>
      <input
        id="start"
        type="date"
        formControlName="start"
        autocomplete="off"
      />
    </div>
    <div class="field">
      <label for="end">
        End
        <span class="required">*</span>
      </label>
      <input id="end" type="date" formControlName="end" autocomplete="off" />
    </div>
    <div class="field">
      <hospital-patient-prescriptions-frequency
        [id]="'frequency'"
        [formGroup]="prescriptionInstructionForm"
      ></hospital-patient-prescriptions-frequency>
    </div>
  </div>
  <div class="field">
    <label for="instructions">
      Prescription
      <span class="required">*</span>
    </label>
    <textarea
      id="instructions"
      formControlName="instructions"
      autocomplete="off"
      rows="3"
    ></textarea>
  </div>
  @if (!saving) { @if (attemptedSave && !prescriptionInstructionForm.valid) {
  <div class="error">Please fill in all required fields</div>
  }
  <div class="buttons">
    @if (addingInstruction) {
    <button (click)="addInstruction()" class="button button--primary">
      Save
    </button>
    } @else if (editingInstruction) {
    <button (click)="editInstruction()" class="button button--primary">
      Save
    </button>
    }
    <button (click)="reset()" class="button button--secondary">Back</button>
  </div>
  }
</form>
} @if (addTask$ | async; as task) { @if (task.loading) {
<spinner></spinner>
} @else if (task.error) {
<div class="error">Error occurred</div>
} } @if (removeTask$ | async; as task) { @if (task.loading) {
<spinner></spinner>
} @else if (task.error) {
<div class="error">Error occurred</div>
} }
