table {
  width: 100%;
  margin-bottom: 0.75rem;

  td,
  th {
    font-size: 1rem;
    padding: 0.125rem 0.25rem;
    border-left: none;
    border-right: none;
    align-content: flex-start;
  }

  th {
    background-color: var(--theme-color-5);
  }

  tr {
    background-color: transparent !important;
  }
}

input,
select {
  padding: 0.25rem;
}

textarea {
  font-size: 1rem;
  padding: 0.25rem;
}

.input-with-units {
  display: flex;

  input {
    max-width: 6ch;
    text-align: right;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-right: none;
  }

  select {
    max-width: 5rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
  }
}

.fields {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.button--secondary-invert {
  padding: 0.25rem 0.5rem;
}

.error {
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

.showAdministrations {
  margin-bottom: 0.5rem;

  label {
    font-size: 1rem;
  }
}
