@if (boards$ | async; as boards) { @if (boards.loading) {
<spinner></spinner>
} @else if (boards.error) {
<div class="error">Error occurred</div>
} @else if (boards.data && (!viewingBoard)) {
<div class="boards">
  @for (board of boards.data; track board.id) {
  <button
    (click)="viewBoard(board.id)"
    class="button button--secondary-invert board-button"
  >
    {{ board.name }}
  </button>
  }
</div>
} } @if (board$ | async; as board) { @if (board && viewingBoard) {
<h1>{{ board.board.name }}</h1>

@if (board.board.messages != null && board.board.messages.length > 0) {
<div class="messages">
  @for (message of board.board.messages; track message.id) { @if
  (message.emergency) {
  <div id="emergency-alert" class="alert-active">
    <div class="alert-overlay"></div>
    <div class="alert-box">
      <div class="alert-header">
        <span class="alert-title">🚨 EMERGENCY 🚨</span>
      </div>
      <div class="alert-body">
        <h1>{{ message.message }}</h1>
        <p>
          <strong>
            This is a critical alert message.<br />
            Please follow instructions immediately.
          </strong>
        </p>
      </div>
    </div>
  </div>
  } @else {
  <p class="message">{{ message.message }}</p>
  } }
</div>
}

<div class="top">
  <div class="buttons">
    <button class="button button--primary" (click)="viewingBoard = null">
      Change board
    </button>
  </div>
  <div class="filter">
    <div>
      <div class="field">
        <label for="expandFeedingSummary"> Show species summary </label>
        <input
          type="checkbox"
          id="expandFeedingSummary"
          [(ngModel)]="expandFeedingSummary"
        />
      </div>
      <div class="field">
        <label for="showPatientReferences"> Show patient references </label>
        <input
          type="checkbox"
          id="showPatientReferences"
          [(ngModel)]="showPatientReferences"
        />
      </div>
    </div>
    <div>
      <div class="field">
        <label for="showPensWithoutFeeds"> Show pens without feeds </label>
        <input
          type="checkbox"
          id="showPensWithoutFeeds"
          [(ngModel)]="showPensWithoutFeeds"
        />
      </div>
      <div class="field">
        <label for="showPensNeedCleaning"> Show pens that need cleaning </label>
        <input
          type="checkbox"
          id="showPensNeedCleaning"
          [(ngModel)]="showPensNeedCleaning"
        />
      </div>
    </div>
  </div>
</div>
@if (expandFeedingSummary) {
<div class="summary">
  @for (summary of board.summary; track summary.species) {
  <div class="species">
    <div class="species__name">{{ summary.species }}</div>
    <div class="variants">
      @for (variant of summary.variants; track variant.name) {
      <div class="variant">
        <div class="variant__details">
          <p class="variant__name">
            {{ variant.quantity }}x {{ variant.name }}
          </p>
          <div class="variant__foods">
            @for (feeding of variant.feeding; track feeding.time) { @if
            (feeding.shouldShow) {
            <p><strong>{{ feeding.time }}</strong></p>
            @for (food of feeding.items; track food.food) {
            <p class="food">
              @if (food.quantityValue) { {{ food.quantityValueFormatted }} {{
              food.quantityUnit }} } {{ food.food }}
            </p>
            } } }
          </div>
        </div>
        <div class="variant__locations">{{ variant.locations.join(', ') }}</div>
      </div>
      }
    </div>
  </div>
  }
</div>
} @if (!board.board.forBirds) {
<div class="pens">
  @for (area of board.areas | sortBoardAreas; track area.area.id) { @if
  (area.displayType === PatientBoardAreaDisplayType.ShowPatients) { @if
  (area.pens != null && area.pens.length > 0) { @for (pen of area.pens; track
  pen.reference) { @if (pen.shouldShow) {
  <div class="pen" [class.expanded]="expandedPens[pen.reference]">
    <div class="location">{{ pen.reference }}</div>
    @if (pen.needsCleaning) {
    <div class="patients">
      <span class="instruction">Please clean</span>
    </div>
    <div class="tags"></div>
    <div class="tasks">
      <div class="task task--current-shift">
        <p class="time">ASAP</p>
        <button
          (click)="markClean(pen)"
          class="button button--secondary-invert"
        >
          &nbsp;
        </button>
      </div>
    </div>
    <div class="feeding-times"></div>
    } @else {
    <div class="patients">
      @for (patient of pen.patients; track patient) {
      <p>{{ patient }}</p>
      } @if (showPatientReferences) {
      <div class="patient-references">
        @for (patientReference of pen.patientReferences; track patientReference)
        {
        <p>{{ patientReference }}</p>
        }
      </div>
      }
    </div>
    <div class="tags">
      @for (tag of pen.tags; track tag) {
      <span class="tag">{{ tag }}</span>
      } @if (pen.hasCustomDiet) {
      <span class="custom-diet">Special diet</span>
      }
    </div>
    <div class="tasks">
      <div class="task" [class.task--current-shift]="board.isMorning">
        <p class="time">Mor</p>
        <button
          (click)="markComplete(pen, 1)"
          class="button button--secondary-invert"
        >
          @if (pen.morning) { ✔️ } @else { &nbsp; }
        </button>
      </div>
      <div class="task" [class.task--current-shift]="board.isAfternoon">
        <p class="time">Aft</p>
        <button
          (click)="markComplete(pen, 2)"
          class="button button--secondary-invert"
        >
          @if (pen.afternoon) { ✔️ } @else { &nbsp; }
        </button>
      </div>
      <div class="task" [class.task--current-shift]="board.isEvening">
        <p class="time">Eve</p>
        <button
          (click)="markComplete(pen, 3)"
          class="button button--secondary-invert"
        >
          @if (pen.evening) { ✔️ } @else { &nbsp; }
        </button>
      </div>
    </div>
    @if (!expandedPens[pen.reference]) { @if (pen.forceFeeds.length) {
    <div class="force-feeds">
      @for (forceFeed of pen.forceFeeds; track forceFeed) {
      <p class="item">{{ forceFeed }}</p>
      }
    </div>
    }
    <div class="feeding-times">
      @for (feeding of pen.feedings; track feeding.time) { @if
      (feeding.shouldShow) {
      <p class="time" [class.time--now]="feeding.isNow">
        {{ feeding.time }}@if (feeding.hasForceFeeds) {<span class="ff"
          >(FF)</span
        >}
      </p>
      } } @if (pen.isExpandable) {
      <span class="expand" (click)="expandedPens[pen.reference] = true">
        [?]
      </span>
      }
    </div>
    } @else {
    <div class="feeding-expanded">
      <span class="collapse" (click)="expandedPens[pen.reference] = false"
        >Hide</span
      >
      @for (feeding of pen.feedings; track feeding.time) { @if
      (feeding.shouldShow) {
      <div class="feedings">
        <div class="feeding">
          <div>
            <p class="time">{{ feeding.time }}</p>
            @for (group of feeding.groups; track group.key) { @if (group.title)
            {
            <p class="group">{{ group.title }}</p>
            } @for (detail of group.details; track detail) {
            <p class="details">
              @if (detail.quantityTotal) {
              <span class="quantity"
                >{{ detail.quantityTotalFormatted }} {{ detail.quantityUnit
                }}</span
              >
              }
              <span class="food"> {{ detail.food }} </span>
              @if (detail.quantityEach != detail.quantityTotal) {
              <span class="each">
                ({{ detail.quantityEachFormatted }} {{ detail.quantityUnit }}
                each)
              </span>
              } @if (detail.notes) {
              <span class="notes"> {{ detail.notes }} </span> }
            </p>
            } }
          </div>
        </div>
      </div>
      } }
    </div>
    } }
  </div>
  } } } } }
</div>
} @else {
<div class="nursery-pens">
  @for (area of board.areas | sortBoardAreas; track area.area.id) { @if
  (area.displayType === PatientBoardAreaDisplayType.ShowPatients) { @if
  (area.pens != null && area.pens.length > 0) { @for (pen of area.pens; track
  pen.reference) { @if (pen.shouldShow) {
  <div class="nursery-pen" [class.expanded]="expandedPens[pen.reference]">
    <div class="location">{{ pen.reference }}</div>
    @if (pen.needsCleaning) {
    <div class="patients">
      <span class="instruction">Please clean</span>
    </div>
    <div class="tasks">
      <div class="task task--current-shift">
        <p class="time">ASAP</p>
        <button
          (click)="markClean(pen)"
          class="button button--secondary-invert"
        >
          &nbsp;
        </button>
      </div>
    </div>
    } @else {
    <div class="patients">
      @for (patient of pen.patients; track patient) {
      <p class="variant">{{ patient }}</p>
      } @if (showPatientReferences) {
      <p class="references">{{ (pen.patientReferences || []).join(', ') }}</p>
      } @if (pen.tags && pen.tags.length > 0) {
      <div class="tags">
        @for (tag of pen.tags; track tag) {
        <span class="tag">{{ tag }}</span>
        }
      </div>
      }
    </div>

    @if (pen.forceFeeds.length) {
    <div class="force-feeds">
      <p class="heading">Force feed</p>
      @for (forceFeed of pen.forceFeeds; track forceFeed) {
      <p class="item">{{ forceFeed }}</p>
      }
    </div>
    <div class="feeding-times tasks">
      @for (feeding of pen.feedings; track feeding.time) { @if
      (feeding.shouldShow && feeding.hasForceFeeds) {
      <div class="task task--current-shift">
        <p class="time" [class.time--now]="feeding.isNow">{{ feeding.time }}</p>
        <button
          (click)="markComplete(pen, feeding.timeId)"
          class="button button--secondary-invert"
        >
          <span>
            @if (pen.tasks.includes(feeding.timeId)) { ✔️ } @else { &nbsp; }
          </span>
        </button>
      </div>
      } }
    </div>
    } @else if (pen.feedingSummaries.length > 0) {
    <div class="feeding-summary">
      @for (feedingSummary of pen.feedingSummaries; track
      feedingSummary.interval) {
      <p class="interval">{{ feedingSummary.interval }}</p>
      <p class="food">
        @if (feedingSummary.quantityEach) { {{
        feedingSummary.quantityEachFormatted }} {{ feedingSummary.quantityUnit
        }} } {{ feedingSummary.food }}
      </p>
      }
    </div>
    @if (pen.nextFeeding) {
    <div class="next-feed">
      <p>Next feed at</p>
      <p class="time" [class.time--now]="pen.nextFeeding.isNow">
        {{ pen.nextFeeding.time }}
      </p>
    </div>
    } @else {
    <div class="next-feed">
      <p>No more feeds for your shift</p>
    </div>
    } } @else {
    <div class="no-ff-no-summary">&nbsp;</div>
    <div class="feeding-times tasks">
      @if (!expandedPens[pen.reference]) { @for (feeding of pen.feedings; track
      feeding.time) { @if (feeding.shouldShow) {
      <div class="task task--current-shift">
        <p class="time">{{ feeding.time }}</p>
        <button
          (click)="markComplete(pen, feeding.timeId)"
          class="button button--secondary-invert"
        >
          @if (pen.tasks.includes(feeding.timeId)) { ✔️ } @else { &nbsp; }
        </button>
      </div>

      <p class="time" [class.time--now]="feeding.isNow"></p>
      } } @if (pen.isExpandable) {
      <span class="expand" (click)="expandedPens[pen.reference] = true">
        [?]
      </span>
      } } @else {
      <div class="feeding-expanded">
        <span class="collapse" (click)="expandedPens[pen.reference] = false"
          >Hide</span
        >
        @for (feeding of pen.feedings; track feeding.time) { @if
        (feeding.shouldShow) {
        <div class="feedings">
          <div class="feeding">
            <div>
              <p class="time">{{ feeding.time }}</p>
              @for (group of feeding.groups; track group.key) { @if
              (group.title) {
              <p class="group">{{ group.title }}</p>
              } @for (detail of group.details; track detail) {
              <p class="details">
                @if (detail.quantityTotal) {
                <span class="quantity"
                  >{{ detail.quantityTotalFormatted }} {{ detail.quantityUnit
                  }}</span
                >
                }
                <span class="food"> {{ detail.food }} </span>
                @if (detail.quantityEach != detail.quantityTotal) {
                <span class="each">
                  ({{ detail.quantityEachFormatted }} {{ detail.quantityUnit }}
                  each)
                </span>
                } @if (detail.notes) {
                <span class="notes"> {{ detail.notes }} </span> }
              </p>
              } }
            </div>
          </div>
        </div>
        } }
      </div>
      }
    </div>
    } }
  </div>
  } } } } }
</div>
} @if (board.anyOtherBoards) {
<div class="other-boards-wrapper">
  <h2>Other boards to check</h2>
  <div class="pens">
    @for (area of board.areas | sortBoardAreas; track area.area.id) { @if
    (area.displayType === PatientBoardAreaDisplayType.SummarisePatients) {
    <div class="pen">
      <div class="location">{{ area.area.area.name }}</div>
      <div class="patients">
        @for (summary of area.summary; track summary) {
        <p>{{ summary }}</p>
        }
      </div>
    </div>
    } }
  </div>
</div>
} } }
