h1 {
  margin-bottom: 1rem;
}

.boards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.messages {
  margin-bottom: 1rem;

  .message {
    border-left: solid 5px var(--theme-color-2);
    background-color: rgb(230, 180, 180);
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.5rem;
    max-width: max-content;
  }
}

.summary {
  margin-bottom: 0.5rem;
}

.other-boards-wrapper {
  border-top: dotted 2px grey;

  h2 {
    padding-top: 0.5rem;
  }

  .pens {
    padding-top: 0.5rem;

    .pen .location {
      background-color: var(--theme-primary);
      color: white;
    }
  }
}

.pens {
  display: grid;
  grid-auto-flow: row dense; /* allow wrapping */
  grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
  gap: 0rem;

  .pen {
    display: contents; /* <-- this lets the children merge into the outer grid */

    .location {
      grid-row: 1;
      border: 2px solid black;
      margin-left: -2px;

      background-color: var(--theme-color-5);
      color: white;
      padding-left: 0.5rem;
      font-weight: bold;
      font-size: 1.25rem;
    }

    .patients {
      grid-row: 2;
      border-left: 2px solid black;
      border-right: 2px solid black;
      margin-left: -2px;

      .instruction {
        color: var(--theme-color-2);
        font-weight: bold;
        padding: 0rem 0.25rem;
      }
    }

    .tags {
      grid-row: 3;

      border-left: 2px solid black;
      border-right: 2px solid black;
      margin-left: -2px;

      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
      padding: 0.25rem;

      .custom-diet {
        color: white;
        padding: 0.125rem 0.4rem;
        background-color: var(--theme-color-1);
      }

      .tag {
        color: white;
        padding: 0.125rem 0.4rem;
        background-color: var(--theme-color-2);
      }
    }

    .tasks {
      grid-row: 4;

      border-top: solid 2px black;
      border-left: 2px solid black;
      border-right: 2px solid black;
      margin-left: -2px;

      display: flex;

      .task {
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: rgb(233, 233, 233);

        &:not(:last-child) {
          .time {
            border-right: solid 2px rgb(136, 136, 136);
          }

          button {
            border-right: solid 2px rgb(136, 136, 136);
          }
        }

        .time {
          font-weight: bold;
          font-size: 1rem;
          text-align: center;
          padding: 0rem 0.25rem;
        }

        .button {
          padding: 0.125rem;
          max-height: 2.25rem;
          border: none;
          border-top: solid 2px rgb(136, 136, 136);
          background-color: white;
        }
      }
    }

    .feeding-times,
    .feeding-expanded {
      grid-row: 5;

      border: 2px solid black;
      margin-left: -2px;
    }

    .feeding-times {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0.125rem;
      column-gap: 0.5rem;

      .time {
        font-weight: bold;
        font-size: 1rem;
      }
    }

    .expand {
      flex: 1;
      text-align: right;
    }

    .expand,
    .collapse {
      color: var(--theme-primary);
      text-decoration: underline;
      cursor: pointer;
      font-weight: bold;
      padding: 0.125rem 0.25rem;
      font-size: 1rem;
    }

    .feedings {
      .feeding {
        padding: 0.25rem 0.25rem;

        .time {
          font-weight: bold;
          font-size: 1rem;
        }

        .details {
          color: rgb(57, 57, 57);
          font-size: 0.9rem;
          margin-top: -0.125rem;
        }
      }
    }

    .patients {
      min-height: 0;
      padding: 0.25rem;
      padding-bottom: 0rem;
    }
  }
}
