@if (boards$ | async; as boards) { @if (boards.loading) {
<spinner></spinner>
} @else if (boards.error) {
<div class="error">Error occurred</div>
} @else if (boards.data && (!viewingBoard)) {
<div class="boards">
  @for (board of boards.data; track board.id) {
  <button (click)="viewBoard(board.id)" class="button button--primary">
    {{ board.name }}
  </button>
  }
</div>
} } @if (board$ | async; as board) { @if (board.data && viewingBoard) {
<h1>{{ board.data.board.name }}</h1>
@if (board.data.board.messages != null && board.data.board.messages.length > 0)
{
<div class="messages">
  @for (message of board.data.board.messages; track message.id) { @if
  (message.emergency) {
  <div id="emergency-alert" class="alert-active">
    <div class="alert-overlay"></div>
    <div class="alert-box">
      <div class="alert-header">
        <span class="alert-title">🚨 EMERGENCY 🚨</span>
      </div>
      <div class="alert-body">
        <h1>{{ message.message }}</h1>
        <p>
          <strong>
            This is a critical alert message.<br />
            Please follow instructions immediately.
          </strong>
        </p>
      </div>
    </div>
  </div>
  } @else {
  <p class="message">{{ message.message }}</p>
  } }
</div>
}
<div class="area">
  @for (area of board.data.areas; track area.area.id) {
  <h2>{{ area.area.area.name }}</h2>
  @if (area.summary != null && area.summary.length > 0) {
  <div class="summary">
    @for (summary of area.summary; track summary) {
    <p>{{ summary }}</p>
    }
  </div>
  } @else if (area.pens != null && area.pens.length > 0) {
  <div class="pens">
    @for (pen of area.pens; track pen.reference) {
    <div class="pen">
      <div class="location">{{ pen.reference }}</div>
      <div class="patients">
        @for (patient of pen.patients; track patient.id) {
        <div class="patient">
          <div class="name">{{ patient.speciesVariant?.friendlyName }}</div>
          <div class="diets">
            @for (diet of patient.diets; track diet.id) {
            <span class="diet">{{ diet.name }}</span>
            }
          </div>
          <div class="tags">
            @for (tag of patient.tags; track tag.id) {
            <span class="tag">{{ tag.name }}</span>
            }
          </div>
        </div>
        }
      </div>
    </div>
    }
  </div>
  } }
</div>
} }
