<unread-notices></unread-notices>

<h1>Dashboard</h1>

<subscribe-banner></subscribe-banner>

<div class="modules">
  <a
    [routerLink]="'../profile'"
    class="module"
    style="--bg: var(--theme-color-4)"
  >
    <img src="images/profile.svg" alt="Profile icon" />
    <p>Profile</p>
  </a>
  <a [routerLink]="'../rota'" class="module" style="--bg: var(--theme-color-5)">
    <img src="images/rota.svg" alt="Rota icon" />
    <p>Rota</p>
  </a>
  <a
    [routerLink]="'../notices'"
    class="module"
    style="--bg: var(--theme-color-1)"
  >
    <img src="images/notices.svg" alt="Notices icon" />
    <p>Notices</p>
  </a>
  @if (isOrphanFeeder) {
  <a
    [routerLink]="'../home-care'"
    class="module"
    style="--bg: var(--theme-color-6)"
  >
    <img src="images/home-care.svg" alt="Notices icon" />
    <p>Home care</p>
  </a>
  } @if (isAuxiliary) {
  <a
    [routerLink]="'../../vet/hospital'"
    class="module"
    style="--bg: var(--theme-color-2)"
  >
    <img src="images/hospital-vet.svg" alt="Notices icon" />
    <p>Hospital</p>
  </a>
  }
</div>
