<a class="back-link" [routerLink]="'../'">Back</a>

<h1>Create users</h1>

<p>On this page, you can create users in bulk using CSV.</p>

@if (typing) {
<p>
  This is the expected format:
  <i>
    username, firstName, lastName, email, phone, lineOne, lineTwo, city, county,
    postcode, regularShifts, cars
  </i>
</p>
<p>
  The first 4 fields are mandatory: <i>username, firstName, lastName, email</i>
</p>
<p>
  Regular shifts are structured as follows:
  <i>day/time/job|day/time/job/week...</i> e.g.
  <i>Thursday/Evening/Animal Husbandry|Saturday/Morning/Team Leader/1</i>
  You only need to provide the "week" if necessary (e.g. weekends)
</p>
<p>
  Cars are the registration numbers, separated by a | character, e.g.
  <i>AB12 34CD|EF56 GH78</i>
</p>
<p>Users will be assigned the 'Volunteer' role automatically.</p>
<textarea [(ngModel)]="csv"></textarea>
<button class="button button--primary" (click)="continue()">Continue</button>
} @else {
<table>
  <thead>
    <tr>
      @if (saving) {
      <th>Status</th>
      }
      <th>username</th>
      <th>firstName</th>
      <th>lastName</th>
      <th>email</th>
      <th>phone</th>
      <th>lineOne</th>
      <th>lineTwo</th>
      <th>city</th>
      <th>county</th>
      <th>postcode</th>
    </tr>
  </thead>
  <tbody>
    @for (action of actions; track action.user.username) {
    <tr>
      @if (saving) { @if (current === action) {
      <td>...</td>
      } @else if (success.includes(action)) {
      <td>Success</td>
      } @else if (error.includes(action)) {
      <td>Error</td>
      } @else {
      <td></td>
      } }
      <td>{{ action.user.username }}</td>
      <td>{{ action.user.firstName }}</td>
      <td>{{ action.user.lastName }}</td>
      <td>{{ action.user.email }}</td>
      <td>{{ action.user.phone }}</td>
      <td>{{ action.user.address.lineOne }}</td>
      <td>{{ action.user.address.lineTwo }}</td>
      <td>{{ action.user.address.city }}</td>
      <td>{{ action.user.address.county }}</td>
      <td>{{ action.user.address.postcode }}</td>
    </tr>
    }
  </tbody>
</table>
@if (!(saving || finished)) {
<p>Please confirm this information is correct.</p>
<div class="buttons">
  <button class="button button--secondary" (click)="back()">Back</button>
  <button class="button button--primary" (click)="confirm()">Confirm</button>
</div>
} }
