<h1>Today's admissions</h1>
<!--
<div class="temporary">
  This feature is currently not in use.
  <br />
  This board will soon replace the whiteboards outside the vet office showing
  today's admissions.
</div>
-->
@if (pendingInitialExam$ | async; as patients) {
<div class="status-container">
  <h2>Not examined</h2>
  <div class="patients">
    @for (patient of patients; track patient.id) {
    <div class="patient">
      <div class="ref-pen">
        <p class="reference">{{ patient.reference }}</p>
        <p class="arrival">{{ patient.admitted | date: 'HH:mm' }}</p>
      </div>
      <p class="species">
        {{ patient.speciesVariant?.friendlyName ||
        patient.suspectedSpecies.description || 'Unknown' }}
      </p>
    </div>
    }
  </div>
</div>
} @if (admitted$ | async; as patients) {
<div class="status-container">
  <h2>Admitted</h2>
  <div class="patients">
    @for (patient of patients; track patient.id) {
    <div class="patient">
      <div class="ref-pen">
        <p class="reference">{{ patient.reference }}</p>
        @if (patient.pen) {
        <p class="pen">{{ patient.pen.reference }}</p>
        } @else {
        <p class="homeless">Homeless</p>
        }
      </div>
      <p class="species">
        {{ patient.speciesVariant?.friendlyName ||
        patient.suspectedSpecies.description || 'Unknown' }}
      </p>
    </div>
    }
  </div>
</div>
} @if (release$ | async; as patients) {
<div class="status-container">
  <h2>Ready for release</h2>
  <div class="patients">
    @for (patient of patients; track patient.id) {
    <div class="patient">
      <div class="ref-pen">
        <p class="reference">{{ patient.reference }}</p>
        @if (patient.status === PatientStatus.ReadyForRelease) { @if
        (patient.pen) {
        <p class="pen">{{ patient.pen.reference }}</p>
        } @else {
        <p class="homeless">Homeless</p>
        } } @else { @if (patient.disposition === Disposition.Released) {
        <span class="status released">Released</span>
        } @else if (patient.disposition === Disposition.Transferred) {
        <span class="status transferred">Transferred</span>
        } }
      </div>
      <p class="species">
        {{ patient.speciesVariant?.friendlyName ||
        patient.suspectedSpecies.description || 'Unknown' }}
      </p>
    </div>
    }
  </div>
</div>
} @if (homeCare$ | async; as patients) {
<div class="status-container">
  <h2>Home care</h2>
  <div class="patients">
    @for (patient of patients; track patient.id) {
    <div class="patient">
      <div class="ref-pen">
        <p class="reference">{{ patient.reference }}</p>
        <p class="home-carer">{{ patient.currentHomeCarer || '(Pending)' }}</p>
      </div>
      <p class="species">
        {{ patient.speciesVariant?.friendlyName ||
        patient.suspectedSpecies.description || 'Unknown' }}
      </p>
    </div>
    }
  </div>
</div>
} @if (died$ | async; as patients) {
<div class="status-container">
  <h2>Died</h2>
  <div class="patients">
    @for (patient of patients; track patient.id) {
    <div class="patient">
      <div class="ref-pen">
        <p class="reference">{{ patient.reference }}</p>
        @if (patient.disposition === Disposition.DeadOnArrival) {
        <span class="status died">DOA</span>
        } @else if (patient.disposition === Disposition.DiedBefore24Hrs ||
        patient.disposition === Disposition.DiedAfter24Hrs) {
        <div>
          <span class="status died">Died</span>
        </div>
        } @else if (patient.disposition === Disposition.PtsBefore24Hrs ||
        patient.disposition === Disposition.PtsAfter24Hrs) {
        <div>
          <span class="status pts">PTS</span>
        </div>
        }
      </div>
      <p class="species">
        {{ patient.speciesVariant?.friendlyName ||
        patient.suspectedSpecies.description || 'Unknown' }}
      </p>
    </div>
    }
  </div>
</div>
}
