h1 {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  gap: 1rem;
}

section {
  border: solid 2px var(--theme-primary);
  max-width: max-content;

  .content {
    padding: 0.75rem 1.25rem;
  }

  p {
    max-width: 30ch;
  }
}

h2 {
  background: var(--theme-primary);
  padding: 0.125rem 0.5rem 0.25rem 0.5rem;
  color: white;
}

.field {
  margin-bottom: 0.75rem;
}

button {
  margin: 0.5rem 0rem;
}

.warning {
  max-width: 40rem;
  margin-bottom: 0.75rem;
}
