input[type="text"],
input[type="number"],
select {
  padding: 0.25rem;
  max-width: max-content;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input-with-units {
  display: flex;
  align-items: center;

  span {
    display: block;
    margin-right: 0.5rem;
  }

  input {
    max-width: 6ch;
    text-align: right;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-right: none;
  }

  select {
    max-width: max-content;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
  }
}
