h1 {
  margin-bottom: 1rem;
}

.NgxEditor__Wrapper {
  max-width: 100%;
}

.field {
  margin-top: 0.75rem;
}

button {
  margin-top: 1rem;
}

.create-notification-wrapper {
  display: flex;
  gap: 1rem;
}

form {
  flex: 1;
}

.phone-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex: 1;
}
