td,
th {
  padding: 0.125rem 0.25rem;
  max-width: max-content;

  a {
    color: var(--theme-primary);
    text-decoration: underline;
    cursor: pointer;
  }
}

.long-term {
  background-color: var(--theme-color-5);
  color: white;
  padding: 0.125rem 0.35rem;
  margin-left: 0.35rem;
}

.outdated {
  background-color: var(--theme-color-2);
  color: white;
  padding: 0.125rem 0.35rem;
  margin-left: 0.35rem;
}

.filter {
  margin-bottom: 0.5rem;

  input {
    padding: 0.25rem 0.5rem;
  }
}
