@if (patients$ | async; as patients) { @if (patients.error) {
<div class="error">Error occurred</div>
} @else if (patients.data) {
<div class="filter">
  <div class="field">
    <label for="search">Filter</label>
    <input type="text" id="search" autocomplete="off" [(ngModel)]="search" />
  </div>
</div>
@if (_status === PatientStatus.PendingInitialExam) {
<table>
  <thead>
    <tr>
      <th>Reference</th>
      <th>Suspected species</th>
      <th>Date admitted</th>
      <th>Initial location</th>
      <th>Admission reason</th>
    </tr>
  </thead>
  <tbody>
    @for (patient of patients.data; track patient.id) { @if
    (showPatient(patient)) {
    <tr>
      <td>
        <a (click)="view(patient)">{{ patient.reference }}</a>
      </td>
      <td>{{ patient.suspectedSpecies.description }}</td>
      <td>{{ patient.admitted | date: 'dd MMM yyyy HH:mm' }}</td>
      <td>{{ patient.initialLocation.description }}</td>
      <td>{{ formatAdmissionReasons(patient) }}</td>
    </tr>
    } }
  </tbody>
</table>
} @else if (_status === PatientStatus.Inpatient || _status
===PatientStatus.ReadyForRelease) {
<table>
  <thead>
    <tr>
      <th>Reference</th>
      <th>Species</th>
      <th>Variant</th>
      <th>Pen</th>
      <th>Date admitted</th>
      <th>Stay</th>
    </tr>
  </thead>
  <tbody>
    @for (patient of patients.data; track patient.id) { @if
    (showPatient(patient)) {
    <tr>
      <td>
        <a (click)="view(patient)">{{ patient.reference }}</a>
      </td>
      <td>{{ patient.species?.name }}</td>
      <td>{{ patient.speciesVariant?.name }}</td>
      <td>{{ patient.pen?.reference }} {{ patient.uniqueIdentifier }}</td>
      <td>{{ patient.admitted | date: 'dd MMM yyyy HH:mm' }}</td>
      <td>
        {{ duration(patient) }} @if (patient.isLongTerm) {
        <span class="long-term">Long term</span>
        } @if (patient.isOutdated) {
        <span class="outdated">Outdated</span>
        }
      </td>
    </tr>
    } }
  </tbody>
</table>
} @else if (_status === PatientStatus.PendingHomeCare) {
<table>
  <thead>
    <tr>
      <th>Reference</th>
      <th>Species</th>
      <th>Variant</th>
      <th>Pen</th>
      <th>Date admitted</th>
      <th>Home care requested</th>
    </tr>
  </thead>
  <tbody>
    @for (patient of patients.data; track patient.id) { @if
    (showPatient(patient)) {
    <tr>
      <td>
        <a (click)="view(patient)">{{ patient.reference }}</a>
      </td>
      <td>{{ patient.species?.name }}</td>
      <td>{{ patient.speciesVariant?.name }}</td>
      <td>{{ patient.pen?.reference }} {{ patient.uniqueIdentifier }}</td>
      <td>{{ patient.admitted | date: 'dd MMM yyyy HH:mm' }}</td>
      <td>
        {{ patient.homeCareRequests[0]?.requested | date: 'dd MMM yyyy HH:mm' }}
      </td>
    </tr>
    } }
  </tbody>
</table>
} @else if (_status === PatientStatus.ReceivingHomeCare) {
<table>
  <thead>
    <tr>
      <th>Reference</th>
      <th>Species</th>
      <th>Variant</th>
      <th>Date admitted</th>
      <th>Home care since</th>
      <th>Home carer</th>
    </tr>
  </thead>
  <tbody>
    @for (patient of patients.data; track patient.id) { @if
    (showPatient(patient)) {
    <tr>
      <td>
        <a (click)="view(patient)">{{ patient.reference }}</a>
      </td>
      <td>{{ patient.species?.name }}</td>
      <td>{{ patient.speciesVariant?.name }}</td>
      <td>{{ patient.admitted | date: 'dd MMM yyyy HH:mm' }}</td>
      <td>
        @for (request of patient.homeCareRequests; track request.id) { {{
        request.pickup | date: 'dd MMM yyyy HH:mm' }} }
      </td>
      <td>
        @for (request of patient.homeCareRequests; track request.id) { {{
        request.responder?.firstName }} {{ request.responder?.lastName }} }
      </td>
    </tr>
    } }
  </tbody>
</table>
} @else if (_status === PatientStatus.Dispositioned) {
<table>
  <thead>
    <tr>
      <th>Reference</th>
      <th>Species</th>
      <th>Variant</th>
      <th>Date admitted</th>
      <th>Date dispositioned</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    @for (patient of patients.data; track patient.id) { @if
    (showPatient(patient)) {
    <tr>
      <td>
        <a (click)="view(patient)">{{ patient.reference }}</a>
      </td>
      <td>{{ patient.species?.name }}</td>
      <td>{{ patient.speciesVariant?.name }}</td>
      <td>{{ patient.admitted | date: 'dd MMM yyyy HH:mm' }}</td>
      <td>{{ patient.dispositioned | date: 'dd MMM yyyy HH:mm' }}</td>
      <td>{{ getDisposition(patient) }}</td>
    </tr>
    } }
  </tbody>
</table>
} } }
