@if (page$ | async; as page) { @if (page.pageType === 'delivery') {
<hospital-stock-incoming></hospital-stock-incoming>
} @else if (page.pageType === 'viewBatches') {
<hospital-stock-view-batches></hospital-stock-view-batches>
} @else if (page.pageType === 'use') {
<hospital-stock-sign-out></hospital-stock-sign-out>
} @else if (page.pageType === 'disposeBatch') {
<hospital-stock-dispose-batch></hospital-stock-dispose-batch>
} @else if (page.pageType === 'disposeUsage') {
<hospital-stock-dispose-usage></hospital-stock-dispose-usage>
} @else if (page.pageType === 'dashboard') {
<div class="buttons">
  <button (click)="incoming()" class="button button--secondary-invert">
    🚚 Incoming delivery
  </button>
</div>
@if (loading$ | async; as loading) {
<spinner></spinner>
} @if (error$ | async; as error) {
<div class="error">Error occurred</div>
} @if (stock$ | async; as stock) {
<table>
  <thead>
    <tr>
      <th>Medication</th>
      <th>Concentration</th>
      <th>Brand</th>
      <th>In stock</th>
      <th>In use</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    @for (item of stock; track item.id) {
    <tr>
      <td>{{ item.medication }}</td>
      <td>{{ item.medicationConcentration }}</td>
      <td>{{ item.brand }}</td>
      <td>{{ item.quantityInStock }} {{ getMeasurement(item.measurement) }}</td>
      <td>{{ item.quantityInUse }} {{ getMeasurement(item.measurement) }}</td>
      <td>
        @if (item.needsReordering) {
        <span class="reorder">Re-order</span>
        } @if (item.expired) {
        <span class="expired">Batch expired</span>
        } @if (item.expiredAfterOpening) {
        <span class="expired">In-use expired</span>
        }
      </td>
      <td>
        <div class="buttons">
          <button
            (click)="viewBatches(item)"
            class="button button--secondary-invert"
          >
            📦 View batches
          </button>
        </div>
      </td>
    </tr>
    }
  </tbody>
</table>
} } }
