@if (page$ | async; as page) { @if (page.pageType === 'delivery') {
<hospital-stock-incoming></hospital-stock-incoming>
} @else if (page.pageType === 'viewBatches') {
<hospital-stock-view-batches></hospital-stock-view-batches>
} @else if (page.pageType === 'use') {
<hospital-stock-sign-out></hospital-stock-sign-out>
} @else if (page.pageType === 'disposeBatch') {
<hospital-stock-dispose-batch></hospital-stock-dispose-batch>
} @else if (page.pageType === 'disposeUsage') {
<hospital-stock-dispose-usage></hospital-stock-dispose-usage>
} @else if (page.pageType === 'dashboard') { @if (isVet) {
<div class="buttons">
  <button (click)="incoming()" class="button button--secondary-invert">
    🚚 Incoming delivery
  </button>
</div>
} @if (loading$ | async; as loading) {
<spinner></spinner>
} @if (error$ | async; as error) {
<div class="error">Error occurred</div>
} @if (stock$ | async; as stock) {
<div class="filter">
  <div class="field">
    <label for="filter">Search</label>
    <input id="filter" type="text" [(ngModel)]="filter" />
  </div>
  <div class="field">
    <label for="sort">Sort</label>
    <select id="sort" [(ngModel)]="sort">
      <option value="medication">Active substance</option>
      <option value="brand">Brand</option>
    </select>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Medication</th>
      <th>Brand</th>
      <th>Concentration</th>
      <th colspan="2">In stock</th>
      <th colspan="2">In use</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    @for (item of stock | filterSort : filter : sort; track item.id) {
    <tr>
      <td>{{ item.medication }}</td>
      <td>{{ item.brand }}</td>
      <td>{{ item.medicationConcentration }}</td>
      <td>{{ item.quantityInStock }} {{ getMeasurement(item.measurement) }}</td>
      <td>
        <div class="warnings">
          @if (item.needsReordering) { @if (item.quantityInStock == 0) {
          <span class="urgent">🚨 Re-order</span>
          } @else {
          <span class="warning">⚠️ Re-order</span>
          } }
        </div>
      </td>
      <td>{{ item.quantityInUse }} {{ getMeasurement(item.measurement) }}</td>
      <td>
        <div class="warnings">
          @if (item.expiredAfterOpening) {
          <span class="urgent">🚨 In-use expired</span>
          } @else if (item.expiresSoonAfterOpening) {
          <span class="warning">⚠️ In-use expires today</span>
          }
        </div>
      </td>
      <td>
        <div class="buttons">
          <button
            (click)="viewBatches(item)"
            class="button button--secondary-invert"
          >
            📦 View batches
          </button>
        </div>
      </td>
      <td>
        <div class="warnings">
          @if (item.expired) {
          <span class="urgent">🚨 Batch expired</span>
          } @else if (item.expiresSoon) {
          <span class="warning">⚠️ Batch expires today</span>
          }
        </div>
      </td>
    </tr>
    }
  </tbody>
</table>
} } }
