.buttons {
  display: flex;
  gap: 0.5rem;

  button {
    padding: 0.25rem 0.5rem;
  }
}

table {
  margin-top: 1rem;

  th,
  td {
    padding: 0.25rem 0.5rem;

    button {
      font-size: 1rem;
      padding: 0.125rem 0.25rem;
    }
  }
}

.expired {
  font-weight: bold;
  color: var(--theme-color-2);
}

.reorder {
  font-weight: bold;
  color: var(--theme-color-5);
}
