.buttons {
  display: flex;
  gap: 0.5rem;

  button {
    padding: 0.25rem 0.5rem;
  }
}

table {
  margin-top: 1rem;

  th,
  td {
    padding: 0.25rem 0.5rem;

    button {
      font-size: 1rem;
      padding: 0.125rem 0.25rem;
    }
  }
}

.warnings {
  display: flex;
  gap: 0.5rem;
}

.urgent {
  font-weight: bold;
  color: var(--theme-color-2);
}

.warning {
  font-weight: bold;
  color: #91734d;
}

.filter {
  display: flex;
  gap: 0.5rem;

  .field {
    margin-top: 1rem;

    input,
    select {
      max-width: 15rem;
    }
  }
}
