.medication {
  border-left: solid 5px var(--theme-primary);
  padding-left: 1rem;
}

.wrapper {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
}

input,
select {
  padding: 0.25rem 0.5rem;
}

tr.selected {
  font-weight: bold;
}

.input-with-units {
  display: flex;

  input {
    max-width: 6ch;
    text-align: right;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-right: none;
  }

  select {
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
  }
}

p.notes {
  margin-bottom: 0.5rem;
}

p.unknown {
  color: var(--theme-color-2);
  font-weight: bold;
  margin-bottom: 0.5rem;
}
