<div class="medication" [class.border]="id != -1">
  @if (medications$ | async; as medications) { @if (medications.loading) {
  <spinner />
  } @if (medications.error) {
  <div class="error">Error occurred</div>
  } @if (medications.data) {
  <div [formGroup]="formGroup" class="wrapper">
    <div class="field">
      <label for="medication-{{ id }}">
        Medication
        <span class="required">*</span>
      </label>
      <hospital-patient-autocomplete
        [id]="'medication-' + id"
        [inline]="true"
        [label]="''"
        [control]="'medicationId'"
        [formGroup]="formGroup"
        [items]="convertMedications(medications.data)"
      ></hospital-patient-autocomplete>
    </div>
    @if (formGroup.value.medicationId) {
    <div class="field">
      <label for="concentration-{{ id }}">
        Concentration
        <span class="required">*</span>
      </label>
      <select
        id="concentration-{{ id }}"
        formControlName="medicationConcentrationId"
        (change)="updateDefaults(medications.data)"
      >
        <option value=""></option>
        @for (medication of medications.data; track medication.id) { @if
        (medication.id.toString() == formGroup.value.medicationId) { @for
        (concentration of medication.concentrations; track concentration.id) {
        <option [value]="concentration.id">
          {{ concentration.form }}, {{ concentration.concentrationValue }} {{
          concentration.concentrationUnit }}
        </option>
        } } }
      </select>
    </div>
    }
  </div>
  <div class="wrapper">
    @if (formGroup.value.medicationId &&
    formGroup.value.medicationConcentrationId) {
    <div class="field">
      <label for="administrationMethod-{{ id }}">
        Method
        <span class="required">*</span>
      </label>
      <select
        id="administrationMethod-{{ id }}"
        formControlName="administrationMethodId"
      >
        <option value=""></option>
        @if (administrationMethods$ | async; as administrationMethods) { @for
        (administrationMethod of administrationMethods.data; track
        administrationMethod.id) {
        <option [value]="administrationMethod.id">
          {{ administrationMethod.description }} ({{ administrationMethod.code
          }})
        </option>
        } }
      </select>
    </div>
    <div class="field">
      <label for="quantity-{{ id }}">
        Dose
        <span class="required">*</span>
      </label>
      <div class="input-with-units">
        <input
          id="quantity-{{ id }}"
          type="number"
          formControlName="quantityValue"
          autocomplete="off"
        />
        <select id="quantityUnit-{{ id }}" formControlName="quantityUnit">
          <option>ml</option>
          <option>cc</option>
          <option>mg</option>
          <option>g</option>
          <option>drop</option>
          <option>tab</option>
          <option>cap</option>
          <option>IU</option>
        </select>
      </div>
    </div>
    <div class="field">
      <label for="comments-{{ id }}">Comments</label>
      <textarea
        id="comments-{{ id }}"
        formControlName="comments"
        autocomplete="off"
        rows="1"
      ></textarea>
    </div>
    }
  </div>
  @if (formGroup.value.medicationConcentrationId) { @for (medication of
  medications.data; track medication.id) { @if (medication.id.toString() ==
  formGroup.value.medicationId) { @for (concentration of
  medication.concentrations; track concentration.id) { @if
  (concentration.id.toString() == formGroup.value.medicationConcentrationId) {
  <p class="notes">{{ medication.notes }}</p>
  @if (!defaultDoseKey) {
  <p class="unknown">Default dosage has not been set for this species</p>
  }
  <table>
    <thead>
      <tr>
        <th>Species</th>
        <th>Dose (mg/kg)</th>
        <th>Dose ({{ concentration.defaultUnit }}/kg)</th>
        <th>Method</th>
        <th>Frequency</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      @for (dose of groupMedicationDoses(concentration.speciesDoses); track
      dose.key) {
      <tr [class.selected]="dose.isDefault">
        <td>
          @for (species of dose.species; track species.name; let last = $last) {
          @if (species.highlight) {
          <span class="highlight">{{ species.name }}</span>@if (!last) {<span
            >, </span
          >} } @else { <span>{{ species.name }}</span>@if (!last) {<span
            >, </span
          >} } }
        </td>
        <td>
          @if (dose.concentrationDoseRangeStart ===
          dose.concentrationDoseRangeEnd) { {{ dose.concentrationDoseRangeStart
          }} } @else { {{ dose.concentrationDoseRangeStart }} - {{
          dose.concentrationDoseRangeEnd }} }
        </td>
        <td>
          @if (dose.defaultDoseRangeStart === dose.defaultDoseRangeEnd) { {{
          dose.defaultDoseRangeStart }} } @else { {{ dose.defaultDoseRangeStart
          }} - {{ dose.defaultDoseRangeEnd }} @if (dose.isDefault) {
          <div class="slider-container">
            <input
              type="range"
              id="dose-slider"
              [min]="dose.defaultDoseRangeStart"
              [max]="dose.defaultDoseRangeEnd"
              [step]="0.01"
              formControlName="rangeSelection"
              (input)="updateRange()"
              [attr.style]="'--value:' + (((formGroup.value.rangeSelection - dose.defaultDoseRangeStart) / (dose.defaultDoseRangeEnd - dose.defaultDoseRangeStart)) * 100) + '%'"
            />
          </div>
          {{ formGroup.value.rangeSelection }} } }
        </td>
        <td>
          {{ dose.administrationMethod.description }} ({{
          dose.administrationMethod.code }})
        </td>
        <td>{{ dose.frequency }}</td>
        <td>{{ dose.notes }}</td>
      </tr>
      }
    </tbody>
  </table>
  } } } } } } }
</div>
