.row {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  align-items: flex-start;

  table {
    flex: 1;
    max-width: max-content;
  }
}

table:not(:has(thead)) tbody {
  td {
    font-size: 1.125rem;
    padding: 0.125rem 0.25rem;
    border: none;
  }

  td:nth-child(2) {
    font-weight: bold;
    padding-left: 1rem;
  }

  tr {
    background-color: transparent !important;
  }
}

.fields {
  margin-top: 0.5rem;

  .field {
    margin-bottom: 0.5rem;
  }
}

.buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  button {
    padding: 0.125rem 0.25rem;
  }
}

.error {
  margin-bottom: 0.5rem;
}
