<div class="row">
  <table>
    <tbody>
      <tr>
        <td>Reference</td>
        <td>{{ patient.reference }}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{{ getStatus() }}</td>
      </tr>
      <tr>
        <td>Weight</td>
        <td>
          @if (patient.latestWeight) { {{ patient.latestWeight.weightValue }} {{
          getWeightUnit(patient.latestWeight.weightUnit) }} }
        </td>
      </tr>
    </tbody>
  </table>
  @if (patient.status == PatientStatus.Dispositioned) {
  <table>
    <tbody>
      <tr>
        <td>Status</td>
        <td>{{ getDisposition(patient) }}</td>
      </tr>
      @if (patient.dispositionReason) {
      <tr>
        <td>Disposition reason</td>
        <td>{{ patient.dispositionReason.description }}</td>
      </tr>
      <tr>
        <td>Disposition date</td>
        <td>{{ patient.dispositioned | date: 'dd MMM yyyy HH:mm' }}</td>
      </tr>
      } @else if (patient.releaseType) {
      <tr>
        <td>Release type</td>
        <td>{{ patient.releaseType.description }}</td>
      </tr>
      } @else if (patient.transferLocation) {
      <tr>
        <td>Transfer location</td>
        <td>{{ patient.transferLocation.description }}</td>
      </tr>
      }
    </tbody>
  </table>
  }
  <div>
    @if (!updating) { @if (isVet && patient.status ==
    PatientStatus.Dispositioned) {
    <div class="buttons">
      <button (click)="resetStatus()" class="button button--secondary-invert">
        🧟‍♂️ Resurrect
      </button>
    </div>
    } @if (isVet && patient.status != PatientStatus.Dispositioned) {
    <div class="buttons">
      @if (patient.status == PatientStatus.ReadyForRelease) {
      <button (click)="resetStatus()" class="button button--secondary-invert">
        ⛔ Not ready to release
      </button>
      <button
        (click)="updating = 'release'"
        class="button button--secondary-invert"
      >
        🏞️ Released
      </button>
      } @else {
      <button
        (click)="readyToRelease()"
        class="button button--secondary-invert"
      >
        🏞️ Ready to release
      </button>
      }
      <button
        (click)="updating = 'transfer'"
        class="button button--secondary-invert"
      >
        🌍 Transferred
      </button>
    </div>
    <div class="buttons">
      <button
        (click)="updating = 'die'"
        class="button button--secondary-invert"
      >
        🥀 Died
      </button>
      <button
        (click)="updating = 'pts'"
        class="button button--secondary-invert"
      >
        🌈 Euthanised
      </button>
    </div>
    @if (patient.status == PatientStatus.PendingHomeCare) {
    <div class="buttons">
      <button (click)="resetStatus()" class="button button--secondary-invert">
        ⛔ Home care not needed
      </button>
    </div>
    } @if (patient.status != PatientStatus.PendingHomeCare && patient.status !=
    PatientStatus.ReceivingHomeCare) {
    <div class="buttons">
      <button
        (click)="updating = 'requestHomeCare'"
        class="button button--secondary-invert"
      >
        🏠 Request home care
      </button>
    </div>
    } } } @else if (updating === 'die' || updating === 'pts') {
    <form [formGroup]="deadForm">
      <h4>{{ updating === 'die' ? 'Died' : 'Euthanised' }}</h4>
      <div class="fields">
        <div class="field">
          <label for="dispositionReasonId">
            Disposition reason
            <span class="required">*</span>
          </label>
          @if (dispositionReasons$ | async; as dispositionReasons) { @if
          (dispositionReasons.data) {
          <hospital-patient-autocomplete
            [id]="'dispositionReasonId'"
            [inline]="true"
            [label]="''"
            [control]="'dispositionReasonId'"
            [formGroup]="deadForm"
            [items]="convertDispositionReasons(dispositionReasons.data)"
          ></hospital-patient-autocomplete>
          } }
        </div>
      </div>
      @if (attemptedSave && !deadForm.valid) {
      <div class="error">Please fill in all required fields</div>
      } @if (!saving) {
      <div class="buttons">
        <button (click)="die()" class="button button--primary">Save</button>
        <button (click)="reset()" class="button button--secondary">Back</button>
      </div>
      }
    </form>
    } @else if (updating === 'release') {
    <form [formGroup]="releaseForm">
      <h4>Released</h4>
      <div class="fields">
        <div class="field">
          <label for="releaseTypeId">
            Release type
            <span class="required">*</span>
          </label>
          <select id="releaseTypeId" formControlName="releaseTypeId">
            <option value=""></option>
            @if (releaseTypes$ | async; as releaseTypes) { @if
            (releaseTypes.loading) {
            <spinner />
            } @else if (releaseTypes.error) {
            <div class="error">Error occurred</div>
            } @else if (releaseTypes.data) { @for (releaseType of
            releaseTypes.data; track releaseType.id) {
            <option [value]="releaseType.id">
              {{ releaseType.description }}
            </option>
            } } }
          </select>
        </div>
      </div>
      @if (attemptedSave && !releaseForm.valid) {
      <div class="error">Please fill in all required fields</div>
      } @if (!saving) {
      <div class="buttons">
        <button (click)="release()" class="button button--primary">Save</button>
        <button (click)="reset()" class="button button--secondary">Back</button>
      </div>
      }
    </form>
    } @else if (updating === 'transfer') {
    <form [formGroup]="transferForm">
      <h4>Transferred</h4>
      <div class="fields">
        <div class="field">
          <label for="transferLocationId">
            Transfer location
            <span class="required">*</span>
          </label>
          <select id="transferLocationId" formControlName="transferLocationId">
            <option value=""></option>
            @if (transferLocations$ | async; as transferLocations) { @if
            (transferLocations.loading) {
            <spinner />
            } @else if (transferLocations.error) {
            <div class="error">Error occurred</div>
            } @else if (transferLocations.data) { @for (transferLocation of
            transferLocations.data; track transferLocation.id) {
            <option [value]="transferLocation.id">
              {{ transferLocation.description }}
            </option>
            } } }
          </select>
        </div>
      </div>
      @if (attemptedSave && !transferForm.valid) {
      <div class="error">Please fill in all required fields</div>
      } @if (!saving) {
      <div class="buttons">
        <button (click)="transfer()" class="button button--primary">
          Save
        </button>
        <button (click)="reset()" class="button button--secondary">Back</button>
      </div>
      }
    </form>
    } @else if (updating === 'requestHomeCare') {
    <form [formGroup]="homeCareForm">
      <h4>Request home care</h4>
      <div class="fields">
        <div class="field">
          <label for="notes"> Notes </label>
          <textarea id="notes" formControlName="notes"></textarea>
        </div>
      </div>
      @if (attemptedSave && !homeCareForm.valid) {
      <div class="error">Please fill in all required fields</div>
      } @if (!saving) {
      <div class="buttons">
        <button (click)="requestHomeCare()" class="button button--primary">
          Save
        </button>
        <button (click)="reset()" class="button button--secondary">Back</button>
      </div>
      }
    </form>
    }
  </div>
</div>
@if (setDispositionTask$ | async; as task) { @if (task.loading) {
<spinner></spinner>
} @else if (task.error) {
<div class="error">Error occurred</div>
} } @if (requestHomeCareTask$ | async; as task) { @if (task.loading) {
<spinner></spinner>
} @else if (task.error) {
<div class="error">Error occurred</div>
} }
