h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

strong {
  margin-top: 0.75rem;
  display: block;
}

p + .button--primary {
  margin: 0.5rem 0rem;
}

section {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-left: solid 5px var(--theme-primary);
  padding: 1rem;

  h2 {
    margin: 0rem;
  }

  .field {
    margin-top: 0.75rem;
  }

  .buttons {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
  }
}

table {
  width: 100%;
}

.medication {
  margin-left: 0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  border-left: solid 5px var(--theme-primary);
  padding-left: 1rem;

  button {
    padding: 0.25rem 0.5rem;
    margin-left: 0.25rem;
  }

  p.brands {
    font-style: italic;
    color: var(--theme-color-4);
  }

  p.notes {
    color: var(--theme-color-2);
  }

  h3 {
    margin-bottom: 0.5rem;
  }

  h4 {
    margin-bottom: 0.5rem;

    span {
      font-weight: normal;
      font-size: 1rem;
      padding: 0rem 0.25rem;
    }
  }

  .concentration {
    margin-top: 1rem;
    margin-left: 2rem;

    table {
      th,
      td {
        padding: 0.25rem 0.5rem;
      }
    }
  }
}
