<a class="back-link" [routerLink]="'../'">Back</a>

<h1>Medications</h1>

<p>
  Medication refers to active substance.<br />
  Form refers to a unique form and concentration.<br />
  Dose refers to dosage for a given species.
</p>

@if (addMedication) {
<section>
  <form [formGroup]="medicationForm">
    <h2>{{ editMedication ? 'Edit' : 'Add' }} medication</h2>
    <div class="field">
      <label for="activeSubstance">
        Active substance
        <span class="required">*</span>
      </label>
      <input
        id="activeSubstance"
        type="text"
        formControlName="activeSubstance"
      />
    </div>
    <div class="field">
      <label for="brands">
        Brands
        <span class="required">*</span>
      </label>
      <input id="brands" type="text" formControlName="brands" />
    </div>
    <div class="field">
      <label for="notes">Notes</label>
      <textarea id="notes" formControlName="notes"></textarea>
    </div>
    <div class="buttons">
      <button (click)="saveMedication()" class="button button--primary">
        Save
      </button>
      <button (click)="cancel()" class="button button--secondary">Back</button>
    </div>
  </form>
</section>
} @else if (addMedicationConcentration) {
<section>
  <form [formGroup]="medicationConcentrationForm">
    <h2>{{ editMedicationConcentration ? 'Edit' : 'Add' }} form</h2>
    <div class="field">
      <label for="form">
        Form
        <span class="required">*</span>
      </label>
      <input id="form" type="text" formControlName="form" />
    </div>
    <div class="field">
      <label for="concentrationMgMl">
        Concentration (mg/ml)
        <span class="required">*</span>
      </label>
      <input
        id="concentrationMgMl"
        type="number"
        formControlName="concentrationMgMl"
      />
    </div>
    <div class="buttons">
      <button
        (click)="saveMedicationConcentration()"
        class="button button--primary"
      >
        Save
      </button>
      <button (click)="cancel()" class="button button--secondary">Back</button>
    </div>
  </form>
</section>
} @else if (addMedicationConcentrationSpeciesDose) {
<section>
  <form [formGroup]="medicationConcentrationSpeciesDoseForm">
    <h2>{{ editMedicationConcentrationSpeciesDose ? 'Edit' : 'Add' }} dose</h2>
    <div class="field">
      <label for="doseFor">
        Dose for...
        <span class="required">*</span>
      </label>
      <select id="doseFor" formControlName="doseFor">
        <option [value]="'SID'">Species</option>
        <option [value]="'STYPE'">Animal type</option>
      </select>
    </div>
    @if (medicationConcentrationSpeciesDoseForm.value.doseFor === 'SID') {
    <div class="field">
      @if (species$ | async; as species) {
      <hospital-patient-autocomplete
        [id]="'speciesId'"
        [label]="'Species'"
        [control]="'speciesId'"
        [formGroup]="medicationConcentrationSpeciesDoseForm"
        [items]="convertSpecies(species.data)"
      ></hospital-patient-autocomplete>
      }
    </div>
    } @else if (medicationConcentrationSpeciesDoseForm.value.doseFor ===
    'STYPE') {
    <div class="field">
      <label for="speciesType">
        Animal type
        <span class="required">*</span>
      </label>
      <select id="speciesType" formControlName="speciesType">
        <option [value]="SpeciesType.Mammal">Mammals</option>
        <option [value]="SpeciesType.Bird">Birds</option>
        <option [value]="SpeciesType.Amphibian">Amphibians</option>
        <option [value]="SpeciesType.Reptile">Reptiles</option>
      </select>
    </div>
    }
    <p class="range-header">Dose (mg/kg)</p>
    <div class="range">
      <div class="field">
        <label for="doseMgKgRangeStart">
          Start
          <span class="required">*</span></label
        >
        <input
          id="doseMgKgRangeStart"
          type="number"
          formControlName="doseMgKgRangeStart"
        />
      </div>
      <div class="field">
        <label for="doseMgKgRangeEnd">
          End
          <span class="required">*</span></label
        >
        <input
          id="doseMgKgRangeEnd"
          type="number"
          formControlName="doseMgKgRangeEnd"
        />
      </div>
    </div>
    <p class="range-header">Dose (ml/kg)</p>
    <div class="range">
      <div class="field">
        <label for="doseMlKgRangeStart">
          Start
          <span class="required">*</span></label
        >
        <input
          id="doseMlKgRangeStart"
          type="number"
          formControlName="doseMlKgRangeStart"
        />
      </div>
      <div class="field">
        <label for="doseMlKgRangeEnd">
          End
          <span class="required">*</span></label
        >
        <input
          id="doseMlKgRangeEnd"
          type="number"
          formControlName="doseMlKgRangeEnd"
        />
      </div>
    </div>
    <div class="field">
      @if (administrationMethods$ | async; as administrationMethods) {
      <hospital-patient-autocomplete
        [id]="'administrationMethodId'"
        [label]="'Method'"
        [control]="'administrationMethodId'"
        [formGroup]="medicationConcentrationSpeciesDoseForm"
        [items]="convertMethods(administrationMethods.data!)"
      ></hospital-patient-autocomplete>
      }
    </div>
    <hospital-patient-prescriptions-frequency
      [id]="'frequency'"
      [formGroup]="medicationConcentrationSpeciesDoseForm"
    ></hospital-patient-prescriptions-frequency>
    <div class="buttons">
      <button
        (click)="saveMedicationConcentrationSpeciesDose()"
        class="button button--primary"
      >
        Save
      </button>
      <button (click)="cancel()" class="button button--secondary">Back</button>
    </div>
  </form>
</section>
} @else {
<button (click)="prepareAddMedication()" class="button button--primary">
  Add medication
</button>
} @if (medications$ | async; as medications) { @if (medications.loading) {
<spinner></spinner>
} @else if (medications.error) {
<div class="error">Error occurred</div>
} @else if (medications.data) { @for (medication of medications.data; track
medication.id) {
<div class="medication">
  <h3>
    {{ medication.activeSubstance }}
    <button
      (click)="prepareEditMedication(medication)"
      class="button button--secondary"
    >
      Edit
    </button>
    <button
      (click)="prepareAddMedicationConcentration(medication)"
      class="button button--primary"
    >
      Add form
    </button>
  </h3>
  <p class="brands">{{ formatBrands(medication) }}</p>
  <p class="notes">{{ medication.notes }}</p>
  @for (concentration of medication.concentrations; track concentration.id) {
  <div class="concentration">
    <h4>
      {{ concentration.form }}
      <span>{{ concentration.concentrationMgMl }} mg/ml</span>
      <button
        (click)="prepareEditMedicationConcentration(medication, concentration)"
        class="button button--secondary"
      >
        Edit
      </button>
      <button
        (click)="prepareAddMedicationConcentrationSpeciesDose(concentration)"
        class="button button--primary"
      >
        Add dose
      </button>
    </h4>
    <table>
      <thead>
        <tr>
          <th>Species</th>
          <th>Dose (mg/kg)</th>
          <th>Dose (ml/kg)</th>
          <th>Method</th>
          <th>Frequency</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        @for (dose of groupMedicationDoses(concentration.speciesDoses); track
        dose.key) {
        <tr>
          <td>
            @for (species of dose.species; track species.display; let last =
            $last) {
            <span>{{ species.display }}</span>
            <button
              (click)="prepareEditMedicationConcentrationSpeciesDose(concentration, species.item)"
              class="button button--secondary"
            >
              Edit
            </button>
            @if (!last) {<span>, </span>} }
          </td>
          <td>
            @if (dose.doseMgKgRangeStart === dose.doseMgKgRangeEnd) { {{
            dose.doseMgKgRangeStart }} } @else { {{ dose.doseMgKgRangeStart }} -
            {{ dose.doseMgKgRangeEnd }} }
          </td>
          <td>
            @if (dose.doseMlKgRangeStart === dose.doseMlKgRangeEnd) { {{
            dose.doseMlKgRangeStart }} } @else { {{ dose.doseMlKgRangeStart }} -
            {{ dose.doseMlKgRangeEnd }} }
          </td>
          @if (dose.administrationMethod) {
          <td>
            {{ dose.administrationMethod.description }} ({{
            dose.administrationMethod.code }})
          </td>
          } @else {
          <td></td>
          }
          <td>{{ dose.frequency }}</td>
          <td>{{ dose.notes }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>
} } }
