.page {
  display: flex;
  gap: 1rem;
  background-color: #f2f2f2;

  .sidebar {
    background-color: #e2e2e2;
    border-right: solid 1px black;

    .patients,
    .tasks {
      padding-left: 0.5rem;
      padding-top: 0.125rem;
    }
  }

  .container {
    flex-grow: 1;
    margin-top: 0.75rem;
    margin-right: 1.25rem;
    min-height: calc(100vh - 9rem);

    .header {
    }

    .content {
      padding: 0.75rem 0rem;
    }
  }
}
