.page {
  display: flex;
  gap: 1rem;
  background-color: #f2f2f2;

  .sidebar {
    background-color: #e2e2e2;
    border-right: solid 1px black;

    .patients,
    .tasks,
    .stock {
      padding-left: 0.5rem;
      padding-top: 0.125rem;
    }

    h2 {
      font-size: 1.5rem;
      padding-top: 0.25rem;
      padding-bottom: 0.5rem;
    }

    .items {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      max-width: 100%;

      .item {
        padding: 0rem 0.25rem 0.25rem 0.25rem;
        border-bottom: solid 1px black;
        cursor: pointer;
        min-width: max-content;
      }
    }
  }

  .container {
    flex-grow: 1;
    margin-top: 0.75rem;
    margin-right: 1.25rem;
    min-height: calc(100vh - 9rem);

    .content {
      padding: 0.75rem 0rem;
    }
  }
}

@media (max-width: 500px) {
  .page {
    flex-direction: column;
  }

  .container {
    padding: 0.5rem 1rem;
  }
}
