<div data-prevent-main-padding="true" class="page">
  <div class="sidebar">
    <div class="patients">
      <h2>Patients</h2>
      <hospital-patient-search />
      <hospital-patient-by-status />
    </div>
    <div class="tasks">
      <h2>Daily tasks</h2>
      <div class="items">
        <div (click)="viewDailyTasks()" class="item no-select">
          🩺 View daily tasks
        </div>
        <div (click)="viewStock()" class="item no-select">📦 View stock</div>
        <div (click)="viewPatientBoards()" class="item no-select">
          📋 View patient boards
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    @if (tab$ | async; as tab) {
    <div class="header">
      <h2>{{ tab.title }}</h2>
    </div>
    <div class="content">
      @if (tab.code === 'LIST_PATIENTS_BY_STATUS') {
      <hospital-list-patients-by-status
        [status]="tab.id!"
      ></hospital-list-patients-by-status>
      } @else if (tab.code === 'VIEW_PATIENT') {
      <hospital-patient [id]="tab.id!"></hospital-patient>
      } @else if (tab.code === 'VIEW_DAILY_TASKS') {
      <hospital-daily-tasks></hospital-daily-tasks>
      } @else if (tab.code === 'VIEW_STOCK') {
      <hospital-stock-list></hospital-stock-list>
      } @else if (tab.code === 'VIEW_BOARDS') {
      <patient-board></patient-board>
      }
    </div>
    }
  </div>
</div>
