<div data-prevent-main-padding="true" class="page">
  <div class="sidebar">
    <div class="patients">
      <h2>Patients</h2>
      <hospital-patient-search />
      <hospital-patient-by-status />
    </div>
    <div class="tasks">
      <h2>Tasks</h2>
      <div class="items">
        <div (click)="viewRechecks()" class="item">🩺 View rechecks</div>
        <div (click)="viewPrescriptions()" class="item">
          💊 View prescriptions
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    @if (tab$ | async; as tab) {
    <div class="header">
      <h2>{{ tab.title }}</h2>
    </div>
    <div class="content">
      @if (tab.code === 'LIST_PATIENTS_BY_STATUS') {
      <hospital-list-patients-by-status
        [status]="tab.id!"
      ></hospital-list-patients-by-status>
      } @else if (tab.code === 'VIEW_PATIENT') {
      <hospital-patient [id]="tab.id!"></hospital-patient>
      } @else if (tab.code === 'LIST_RECHECKS') {
      <hospital-list-rechecks></hospital-list-rechecks>
      } @else if (tab.code === 'LIST_PRESCRIPTIONS') {
      <hospital-list-prescriptions></hospital-list-prescriptions>
      }
    </div>
    }
  </div>
</div>
