.page {
  display: flex;
  gap: 1rem;

  .sidebar {
    background-color: #e0e0e0;
    border-right: solid 1px black;

    .patients,
    .tasks {
      padding-left: 0.5rem;
      padding-top: 0.125rem;
    }
  }

  .container {
    flex-grow: 1;
    margin-top: 0.75rem;
    margin-right: 1.25rem;

    .header {
      border-bottom: solid 2px black;
    }

    .content {
      padding: 0.75rem 0rem;
    }
  }
}
