<table>
  <tbody>
    @if (patient.initialWeight) {
    <tr>
      <td>
        Weight on intake
        <span class="date">
          ({{ patient.initialWeight.date | date: 'd MMM yyyy' }})
        </span>
      </td>
      <td>
        {{ patient.initialWeight.weightValue }} {{
        getWeightUnit(patient.initialWeight.weightUnit) }}
      </td>
    </tr>
    } @if (patient.latestWeight) {
    <tr>
      <td>
        Latest reported weight
        <span class="date">
          ({{ patient.latestWeight.date | date: 'd MMM yyyy' }})
        </span>
      </td>
      <td>
        {{ patient.latestWeight.weightValue }} {{
        getWeightUnit(patient.latestWeight.weightUnit) }}
      </td>
    </tr>
    }
  </tbody>
</table>

@let change = getSummaryMessage();
<p
  class="change"
  [class.gained]="change?.status === 'gained'"
  [class.lost]="change?.status === 'lost'"
>
  @if (change) { @if (change.status === 'same') { ⚖️ No change in weight since
  admission } @else if (change.status === 'gained') { 📈 Gained
  <strong>{{ formatNumber(change.weightChange) }} g</strong> over {{
  change.duration }} } @else if (change.status === 'lost') { 📉 Lost
  <strong>{{ formatNumber(change.weightChange) }} g</strong> over {{
  change.duration }} } } @else { ⚖️ No weight information available }
</p>

@if (patient.weightHistory.length > 1) {
<canvas #weightLine></canvas>
}
