<form [formGroup]="examForm">
  <div class="row">
    <div class="exam-section">
      <h4>Identification</h4>
      <div class="fields">
        <div class="field">
          <label for="species">
            Species
            <span class="required">*</span>
          </label>
          <select id="species" formControlName="speciesId">
            <option value=""></option>
            @if (species$ | async; as specieses) { @if (specieses.loading) {
            <spinner />
            } @else if (specieses.error) {
            <div class="error">Error occurred</div>
            } @else if (specieses.data) { @for (species of specieses.data; track
            species.id) {
            <option [value]="species.id">{{ species.name }}</option>
            } }}
          </select>
        </div>
        <div class="field">
          <label for="age">
            Age
            <span class="required">*</span>
          </label>
          <select id="age" formControlName="speciesAgeId">
            @if (species$ | async; as specieses) { @if (specieses.loading) {
            <spinner />
            } @else if (specieses.error) {
            <div class="error">Error occurred</div>
            } @else if (specieses.data && examForm.controls.speciesId.value) {
            <option value=""></option>
            @for (species of specieses.data; track species.id) { @if
            (species.id.toString() == examForm.controls.speciesId.value) { @for
            (age of species.ages; track age.id) {
            <option [value]="age.id">{{ age.name }}</option>
            } }} } @else {
            <option value="">Select species</option>
            }}
          </select>
        </div>
        <div class="field">
          <label for="sex">
            Sex
            <span class="required">*</span>
          </label>
          <select id="sex" formControlName="sex">
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="3">Unknown</option>
          </select>
        </div>
      </div>
    </div>
    <div class="exam-section">
      <h4>Condition</h4>
      <div class="fields">
        <div class="field">
          <label for="weight">Weight</label>
          <div class="input-with-units">
            <input
              id="weight"
              type="number"
              formControlName="weightValue"
              autocomplete="off"
            />
            <select id="weightUnit" formControlName="weightUnit">
              <option value="1">g</option>
              <option value="2">kg</option>
              <option value="3">oz</option>
              <option value="4">lbs</option>
            </select>
          </div>
        </div>
        <div class="field">
          <label for="temperature">Temperature</label>
          <div class="input-with-units">
            <input
              id="temperature"
              type="number"
              formControlName="temperatureValue"
              autocomplete="off"
            />
            <select id="temperatureUnit" formControlName="temperatureUnit">
              <option value="1">C</option>
              <option value="2">F</option>
            </select>
          </div>
        </div>
        <div class="field">
          <label for="attitude">Attitude</label>
          <select id="attitude" formControlName="attitudeId">
            <option value=""></option>
            @if (attitudes$ | async; as attitudes) { @if (attitudes.loading) {
            <spinner />
            } @else if (attitudes.error) {
            <div class="error">Error occurred</div>
            } @else if (attitudes.data) { @for (attitude of attitudes.data;
            track attitude.id) {
            <option [value]="attitude.id">{{ attitude.description }}</option>
            } }}
          </select>
        </div>
        <div class="field">
          <label for="bodyCondition">Body condition</label>
          <select id="bodyCondition" formControlName="bodyConditionId">
            <option value=""></option>
            @if (bodyConditions$ | async; as bodyConditions) { @if
            (bodyConditions.loading) {
            <spinner />
            } @else if (bodyConditions.error) {
            <div class="error">Error occurred</div>
            } @else if (bodyConditions.data) { @for (bodyCondition of
            bodyConditions.data; track bodyCondition.id) {
            <option [value]="bodyCondition.id">
              {{ bodyCondition.description }}
            </option>
            } }}
          </select>
        </div>
        <div class="field">
          <label for="dehydration">Dehydration</label>
          <select id="dehydration" formControlName="dehydrationId">
            <option value=""></option>
            @if (dehydrations$ | async; as dehydrations) { @if
            (dehydrations.loading) {
            <spinner />
            } @else if (dehydrations.error) {
            <div class="error">Error occurred</div>
            } @else if (dehydrations.data) { @for (dehydration of
            dehydrations.data; track dehydration.id) {
            <option [value]="dehydration.id">
              {{ dehydration.description }}
            </option>
            } }}
          </select>
        </div>
      </div>
    </div>
    <div class="exam-section">
      <h4>Mucous membrane</h4>
      <div class="fields">
        <div class="field">
          <label for="mucousMembraneColour">Colour</label>
          <select
            id="mucousMembraneColour"
            formControlName="mucousMembraneColourId"
          >
            <option value=""></option>
            @if (mucousMembraneColours$ | async; as mucousMembraneColours) { @if
            (mucousMembraneColours.loading) {
            <spinner />
            } @else if (mucousMembraneColours.error) {
            <div class="error">Error occurred</div>
            } @else if (mucousMembraneColours.data) { @for (mucousMembraneColour
            of mucousMembraneColours.data; track mucousMembraneColour.id) {
            <option [value]="mucousMembraneColour.id">
              {{ mucousMembraneColour.description }}
            </option>
            } }}
          </select>
        </div>
        <div class="field">
          <label for="mucousMembraneTexture">Texture</label>
          <select
            id="mucousMembraneTexture"
            formControlName="mucousMembraneTextureId"
          >
            <option value=""></option>
            @if (mucousMembraneTextures$ | async; as mucousMembraneTextures) {
            @if (mucousMembraneTextures.loading) {
            <spinner />
            } @else if (mucousMembraneTextures.error) {
            <div class="error">Error occurred</div>
            } @else if (mucousMembraneTextures.data) { @for
            (mucousMembraneTexture of mucousMembraneTextures.data; track
            mucousMembraneTexture.id) {
            <option [value]="mucousMembraneTexture.id">
              {{ mucousMembraneTexture.description }}
            </option>
            } }}
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="exam-section">
      <h4>Treatments</h4>
      <p>
        List medications administered and other treatments performed on intake.
      </p>
      <div class="buttons">
        <button
          (click)="addTreatmentMedication()"
          class="button button--secondary-invert"
        >
          💊 Add medication
        </button>
        <button
          (click)="addTreatmentInstruction()"
          class="button button--secondary-invert"
        >
          🛁 Add other treatment
        </button>
      </div>
      <div
        formArrayName="treatmentMedications"
        *ngFor="
            let treatmentMedication of
              examForm.controls.treatmentMedications.controls;
            let i = index
          "
      >
        <div [formGroupName]="i" class="fields fields--inline">
          <div class="field">
            <label for="quantity-{{ i }}">
              Quantity
              <span class="required">*</span>
            </label>
            <div class="input-with-units">
              <input
                id="quantity-{{ i }}"
                type="number"
                formControlName="quantityValue"
                autocomplete="off"
              />
              <select id="quantityUnit-{{ i }}" formControlName="quantityUnit">
                <option>ml</option>
                <option>unit</option>
              </select>
            </div>
          </div>
          <div class="field">
            <label for="administrationMethod-{{ i }}">
              Administration
              <span class="required">*</span>
            </label>
            <select
              id="administrationMethod-{{ i }}"
              formControlName="administrationMethodId"
            >
              <option value=""></option>
              @if (administrationMethods$ | async; as administrationMethods) {
              @if (administrationMethods.loading) {
              <spinner />
              } @else if (administrationMethods.error) {
              <div class="error">Error occurred</div>
              } @else if (administrationMethods.data) { @for
              (administrationMethod of administrationMethods.data; track
              administrationMethod.id) {
              <option [value]="administrationMethod.id">
                {{ administrationMethod.description }}
              </option>
              } }}
            </select>
          </div>
          <div class="field">
            <hospital-patient-medication-selector
              [id]="'medications-' + i"
              [control]="'medicationId'"
              [formGroup]="treatmentMedication"
            ></hospital-patient-medication-selector>
          </div>
          <div class="field">
            <label for="comments-{{ i }}">Comments</label>
            <input
              id="comments-{{ i }}"
              type="text"
              formControlName="comments"
              autocomplete="off"
            />
          </div>
          <div class="buttons">
            <button
              (click)="examForm.controls.treatmentMedications.controls.splice(i, 1)"
              class="button button--none"
            >
              🗑️
            </button>
          </div>
        </div>
      </div>
      <div
        formArrayName="treatmentInstructions"
        *ngFor="
            let treatmentInstruction of
              examForm.controls.treatmentInstructions.controls;
            let i = index
          "
      >
        <div [formGroupName]="i" class="fields fields--inline">
          <div class="field">
            <label for="instructions-{{ i }}">
              Treatment
              <span class="required">*</span>
            </label>
            <textarea
              id="instructions-{{ i }}"
              type="text"
              formControlName="instructions"
              autocomplete="off"
            ></textarea>
          </div>
          <div class="buttons">
            <button
              (click)="examForm.controls.treatmentInstructions.controls.splice(i, 1)"
              class="button button--none"
            >
              🗑️
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="exam-section">
      <h4>Comments</h4>
      <div class="fields">
        <div class="field">
          <textarea
            id="comments"
            formControlName="comments"
            rows="2"
            autocomplete="off"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="exam-section">
      <h4>Outcome</h4>
      <p>
        Patient...
        <span class="required">*</span>
      </p>
      <div class="field">
        <label for="alive">has been admitted</label>
        <input
          type="radio"
          id="alive"
          formControlName="outcome"
          value="alive"
        />
      </div>
      <div class="field">
        <label for="release">can be immediately released</label>
        <input
          type="radio"
          id="release"
          formControlName="outcome"
          value="release"
        />
      </div>
      <div class="field">
        <label for="deadOnArrival">was dead on arrival</label>
        <input
          type="radio"
          id="deadOnArrival"
          formControlName="outcome"
          value="deadOnArrival"
        />
      </div>
      <div class="field">
        <label for="pts">was put to sleep on arrival</label>
        <input type="radio" id="pts" formControlName="outcome" value="pts" />
      </div>
      @if (examForm.controls.outcome.value === 'alive') {
      <div class="fields fields--inline">
        <div class="field">
          <label for="area">
            Area
            <span class="required">*</span>
          </label>
          <select
            id="area"
            [(ngModel)]="areaId"
            [ngModelOptions]="{standalone: true}"
          >
            <option value=""></option>
            @if (areas$ | async; as areas) { @if (areas.loading) {
            <spinner />
            } @else if (areas.error) {
            <div class="error">Error occurred</div>
            } @else if (areas.data) { @for (area of areas.data; track area.id) {
            <option [value]="area.id">{{ area.name }}</option>
            } }}
          </select>
        </div>
        <div class="field">
          <label for="pen">
            Pen
            <span class="required">*</span>
          </label>
          <select id="pen" formControlName="penId">
            <option value=""></option>
            @if (areas$ | async; as areas) { @if (areas.loading) {
            <spinner />
            } @else if (areas.error) {
            <div class="error">Error occurred</div>
            } @else if (areas.data) { @for (area of areas.data; track area.id) {
            @if (area.id.toString() == areaId) { @for (pen of area.pens; track
            pen.id) {
            <option [value]="pen.id">{{ pen.code }}</option>
            } } } }}
          </select>
        </div>
      </div>
      } @else if (examForm.controls.outcome.value === 'deadOnArrival' ||
      examForm.controls.outcome.value === 'pts') {
      <div class="fields">
        <div class="field">
          <label for="dispositionReason">
            Disposition reason
            <span class="required">*</span>
          </label>
          <select id="dispositionReason" formControlName="dispositionReasonId">
            <option value=""></option>
            @if (dispositionReasons$ | async; as dispositionReasons) { @if
            (dispositionReasons.loading) {
            <spinner />
            } @else if (dispositionReasons.error) {
            <div class="error">Error occurred</div>
            } @else if (dispositionReasons.data) { @for (dispositionReason of
            dispositionReasons.data; track dispositionReason.id) {
            <option [value]="dispositionReason.id">
              {{ dispositionReason.description }}
            </option>
            } }}
          </select>
        </div>
      </div>
      }
    </div>
  </div>
  @if (attemptedSave && !examForm.valid) {
  <div class="error">Please fill in all required fields</div>
  } @if (!saving) {
  <div class="buttons">
    <button (click)="performExam()" class="button button--primary">Save</button>
  </div>
  }
</form>
@if (performExamTask$ | async; as task) { @if (task.loading) {
<spinner></spinner>
} @else if (task.error) {
<div class="error">Error occurred</div>
} } @if (setDispositionTask$ | async; as task) { @if (task.loading) {
<spinner></spinner>
} @else if (task.error) {
<div class="error">Error occurred</div>
} }
