.next-shift {
  border-left: solid 5px var(--theme-color-1);
  background-color: rgb(232, 232, 232);
  padding: 1rem 1.5rem;
  margin-bottom: 0.8rem;
}

.extra-shifts {
  .extra-shift-sign-up {
    margin-top: 1rem;

    p {
      font-size: 1rem;
    }

    .field {
      margin-bottom: 0.75rem;
    }

    .buttons {
      margin-top: 1rem;
    }
  }
}

.regular-shifts {
  margin-top: 1.5rem;
  background-color: rgb(232, 232, 232);
  padding: 1rem 1.5rem;

  ul {
    padding-left: 1.25rem;
    margin: 0.5rem 0rem;
  }
}

.decision-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.decision {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0.5rem;
}

.confirmed {
  border: solid 2px #3d531e;
  background-color: #b5c49f;
  color: #3d531e;
  max-width: max-content;
}

.rejected {
  border: solid 2px #531e23;
  background-color: #d7a8ad;
  color: #531e23;
  max-width: max-content;
}

img {
  width: 1.5rem;
}

.buttons {
  display: flex;
  gap: 0.75rem;
  margin-top: 0.5rem;
}

.shift {
  --bg: var(--theme-color-3);
  position: relative;
  border: 3px solid var(--bg);
  background-color: #efefef;
  margin-top: 1.75rem;
}

.shift--confirmed {
  --bg: var(--theme-color-4);
}

.shift--understaffed {
  --bg: var(--theme-color-3);
}

.shift--rejected,
.shift--critical {
  --bg: var(--theme-color-2);
}

.shift--critical {
  background-color: rgb(250 194 199);

  .shift-footer {
    border-top: none;
  }
}

.shift--understaffed {
  background-color: rgb(244 234 155);

  .shift-footer {
    border-top: none;
  }
}

.shift-label {
  position: absolute;
  top: -1rem;
  left: 0.75rem;
  background-color: var(--bg);
  padding: 0rem 0.5rem;
  font-weight: bold;
  font-size: 1.25rem;
  color: #e6e6e6;
}

.shift-content {
  padding: 1.5rem 1rem 1rem 1rem;
}

.shift-footer {
  border-top: dotted 2px var(--bg);
  background-color: white;
  padding: 0.5rem 0.75rem 0.75rem 0.75rem;
}

.why-denying {
  padding-top: 0.5rem;

  .deny-msg {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  button {
    margin-top: 0.75rem;
  }
}

.section-header {
  display: flex;
  justify-content: space-between;
  border: none;
  color: white;
  width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.75rem;
  cursor: pointer;

  h2 {
    font-size: 1.75rem;
    text-align: left;
  }

  .count {
    font-size: 0.8rem;
    background-color: white;
    color: black;
    padding: 0.125rem 0.5rem;
    border-radius: 50%;
  }

  .icon {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: -3rem;
    margin-top: -1rem;
  }

  &--critical {
    background-color: var(--theme-color-2);
  }

  &--understaffed {
    background-color: var(--theme-color-3);
  }

  &--extra {
    background-color: var(--theme-color-1);
  }

  &--regular {
    background-color: var(--theme-color-5);
  }
}

.accordion-container {
  border-left: solid 5px black;
  border-bottom: solid 5px black;
  border-right: solid 5px black;
  padding: 0.5rem;

  &--critical {
    border-color: var(--theme-color-2);
  }

  &--understaffed {
    border-color: var(--theme-color-3);
  }

  &--extra {
    border-color: var(--theme-color-1);
  }

  &--regular {
    border-color: var(--theme-color-5);
  }
}

.people-coming,
.shift-assign {
  margin-top: 0.75rem;

  strong {
    display: block;
    font-size: 1.125rem;
    margin-top: 0.25rem;
  }

  p {
    font-size: 1rem;
  }

  p.newbies {
    color: rgb(138, 61, 74);
    max-width: max-content;
  }

  p.work-experiences {
    color: rgb(69, 69, 130);
    max-width: max-content;
  }
}

.critical {
  color: var(--theme-color-2);
  font-weight: bold;
}

.understaffed {
  color: var(--theme-color-3);
  font-weight: bold;
}

.toggle-understaffed {
  margin-top: 0.5rem;
  background-color: #53511e;
  color: white;
}
