<div class="row">
  <table>
    <tbody>
      <tr>
        <td>Pen</td>
        <td>{{ patient.pen?.reference || '(blank)' }}</td>
      </tr>
      @if (patient.othersInPen && patient.othersInPen.length) { @for (other of
      patient.othersInPen; let first = $first; track other.id) {

      <tr>
        <td>@if (first) { Housed with }</td>
        <td>
          <a (click)="view(other)">
            [{{ other.reference }}] {{ other.species }} {{ other.speciesVariant
            }}
          </a>
        </td>
      </tr>
      } }
    </tbody>
  </table>
  @if (!moving) { @if (isVet && (patient.status != PatientStatus.Dispositioned
  || canEditAfterDisposition)) {
  <div class="buttons">
    <button (click)="moving = true" class="button button--secondary-invert">
      📍 Move
    </button>
  </div>
  } }
</div>
@if (patient.movements.length > 0) {
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>From</th>
      <th>To</th>
    </tr>
  </thead>
  <tbody>
    @for (movement of patient.movements; track movement.id) {
    <tr>
      <td>{{ movement.moved | date: 'd MMM yyyy HH:mm' }}</td>
      <td>{{ movement.from.reference }}</td>
      <td>{{ movement.to.reference }}</td>
    </tr>
    }
  </tbody>
</table>
} @if (moving) {
<form [formGroup]="moveForm">
  <div class="field">
    <label for="area">
      Area
      <span class="required">*</span>
    </label>
    @if (areas$ | async; as areas) { @if (areas.loading) {
    <spinner />
    } @else if (areas.error) {
    <div class="error">Error occurred</div>
    } @else if (areas.data) {
    <hospital-patient-autocomplete
      [id]="'areaId'"
      [inline]="true"
      [label]="''"
      [control]="'areaId'"
      [formGroup]="moveForm"
      [items]="convertAreas(areas.data)"
    ></hospital-patient-autocomplete>
    } }
  </div>
  <div class="field">
    <label for="pen">
      Pen
      <span class="required">*</span>
    </label>
    @if (areas$ | async; as areas) { @if (areas.loading) {
    <spinner />
    } @else if (areas.error) {
    <div class="error">Error occurred</div>
    } @else if (areas.data) {
    <hospital-patient-autocomplete
      [id]="'penId'"
      [inline]="true"
      [label]="''"
      [control]="'penId'"
      [formGroup]="moveForm"
      [items]="convertPens(areas.data)"
    ></hospital-patient-autocomplete>
    } }
  </div>
  <div class="field">
    <label for="movingPenToAnotherArea">
      Move this pen into another area?
    </label>
    <input
      type="checkbox"
      id="movingPenToAnotherArea"
      formControlName="movingPenToAnotherArea"
    />
  </div>
  @if (moveForm.value.movingPenToAnotherArea) {
  <div class="field">
    <label for="newAreaId">
      New area
      <span class="required">*</span>
    </label>
    @if (areas$ | async; as areas) { @if (areas.loading) {
    <spinner />
    } @else if (areas.error) {
    <div class="error">Error occurred</div>
    } @else if (areas.data) {
    <hospital-patient-autocomplete
      [id]="'newAreaId'"
      [inline]="true"
      [label]="''"
      [control]="'newAreaId'"
      [formGroup]="moveForm"
      [items]="convertAreas(areas.data, false)"
    ></hospital-patient-autocomplete>
    } }
  </div>
  } @if (patient.othersInPen && patient.othersInPen.length) {
  <div class="move-others">
    <p>Move other patients housed with this one?</p>

    <div class="field">
      <label for="other-select-all"> Select all </label>
      <input
        type="checkbox"
        id="other-select-all"
        [checked]="areAllOtherPatientsSelected()"
        (change)="toggleAllOtherPatients($any($event.target).checked)"
      />
    </div>

    @for (other of patient.othersInPen; track other.id) {
    <div class="field">
      <label for="other-patient-{{ other.id }}">
        [{{ other.reference }}] {{ other.species }} {{ other.speciesVariant }}
      </label>
      <input
        type="checkbox"
        id="other-patient-{{ other.id }}"
        [checked]="isOtherPatientSelected(other.id)"
        (change)="toggleOtherPatient(other.id, $any($event.target).checked)"
      />
    </div>
    }
  </div>
  } @if (!saving) { @if (attemptedSave && !moveForm.valid) {
  <div class="error">Please fill in all required fields</div>
  }
  <div class="buttons">
    <button (click)="move()" class="button button--primary">Save</button>
    <button (click)="reset()" class="button button--secondary">Back</button>
  </div>
  }
</form>
} @if (task$ | async; as task) { @if (task.loading) {
<spinner></spinner>
} @else if (task.error) {
<div class="error">Error occurred</div>
} }
