h1 {
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shift {
  margin-top: 0.75rem;
  border: solid 5px var(--theme-primary);

  h2 {
    font-size: 1.5rem;
    padding: 0rem 0.45rem;
    color: white;
    background: var(--theme-primary);
    border-bottom: solid 5px var(--theme-primary);
  }
}

.content {
  margin: 0rem 0rem 0.5rem 0.5rem;
}

.name {
  color: var(--theme-primary);
  background-color: #f2fff5;
  padding: 0rem 0.5rem;
  margin-left: 0.25rem;
  border-radius: 5px;
}

.message {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;

  &:first-child {
    margin-top: 0.125rem;
  }
}

.people {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .person {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border: solid 1px rgb(57, 57, 57);

    &.person--left {
      padding-right: 0.5rem;
      background-color: rgb(229, 229, 229);
    }

    p {
      padding-left: 0.5rem;
    }

    button {
      padding: 0.25rem 0.5rem;
    }
  }
}

.not-coming {
  h3 {
    margin-top: 0.5rem;
    color: #505050;
  }

  p {
    margin-top: -0.25rem;
    font-size: 1rem;
    color: #505050;
  }
}

.unconfirmed {
  h3 {
    margin-top: 0.5rem;
    color: #632828;
  }

  p {
    margin-top: -0.25rem;
    font-size: 1rem;
    color: #632828;
  }
}

.cars {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;

  input {
    max-width: 12ch;
  }
}

.view-report {
  margin-top: 1.5rem;
}

table {
  margin-top: 1rem;

  th,
  td {
    padding: 0.25rem 0.5rem;
  }

  td:nth-child(6),
  th:nth-child(6) {
    text-align: center;
  }

  .not-here,
  .here,
  .left {
    padding: 0rem 0.5rem;
    border: solid 1px black;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: auto;
    width: 9rem;
  }

  .not-here {
    background-color: var(--theme-color-1);
    color: white;
  }

  .here {
    background-color: var(--theme-primary);
    color: white;
  }

  .left {
    background-color: rgb(52, 52, 52);
    color: white;
  }
}
