.shift {
  margin-top: 1rem;
  border: solid 5px var(--theme-color-6);

  h2 {
    padding: 0rem 0.6rem;
    color: white;
    background: var(--theme-color-6);
    border-bottom: solid 5px var(--theme-color-6);
  }
}

.job {
  margin: 1rem;
}

.volunteers {
  margin: 1rem 0rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.volunteer {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  border: solid 2px #d7d7d7;
  background: rgb(230, 230, 230);
  padding: 0.5rem 0.75rem;

  .cars {
    display: flex;
    gap: 0.75rem;
  }

  .custom-car {
    width: 12ch;
  }

  .clock {
    display: flex;
    align-items: center;
    gap: 0.25em;

    img {
      width: 1em;
      height: 1em;
    }
  }
}
