<div class="field">
  <label for="date">Date</label>
  <div class="input-button">
    <input type="date" id="date" [(ngModel)]="date" />
    <button (click)="view()" class="button button--secondary-invert">
      📋 View
    </button>
  </div>
</div>

@if (listPrescriptions$ | async; as prescriptions) { @if (prescriptions.loading)
{
<spinner></spinner>
} @else if (prescriptions.error) {
<div class="error">Error occurred</div>
} @else if (prescriptions.data && prescriptions.data.length > 0) { @if (task$ |
async; as task) { @if (task.loading) {
<spinner></spinner>
} @else if (task.error) {
<div class="error">Error occurred</div>
} }
<div class="prescriptions">
  @for (prescription of prescriptions.data; track prescription.id) {
  <div class="prescription">
    <div class="patient">
      <p>
        🔗
        <a (click)="viewPatient(prescription)">{{ prescription.reference }}</a>
      </p>
      <p>
        📍 {{ prescription.pen.reference }} @if (prescription.uniqueIdentifier)
        { ({{ prescription.uniqueIdentifier }}) }
      </p>
      <p>
        🐾 {{ prescription.species.name }} ({{ prescription.variant.name }})
      </p>
    </div>
    <div>
      <p class="date">
        📅 {{ prescription.start | date: 'dd MMM yyyy'}} - {{ prescription.end |
        date: 'dd MMM yyyy'}}
      </p>
      <p>🔁 {{ prescription.frequency }}</p>
    </div>
    @if (prescription.administrations && prescription.administrations.length >
    0) {
    <div>
      <p>⚡ {{ getMostRecent(prescription) | date: 'dd MMM yyyy HH:mm' }}</p>
      <p>⏰ {{ getDurationSinceMostRecent(prescription) }} since last dose</p>
    </div>
    }
    <div class="description">
      @if (isPrescriptionMedication(prescription)) {
      <p>
        💊 {{ prescription.quantityValue }}{{ prescription.quantityUnit }} ({{
        prescription.administrationMethod.description }}) {{
        prescription.medication.name }}
      </p>
      <p>📋 {{ prescription.comments }}</p>
      } @else {
      <p>📋 {{ prescription.instructions }}</p>
      }
    </div>
    <div class="perform">
      @if (isPrescriptionMedication(prescription)) {
      <div class="field">
        <label for="comments-m-{{ prescription.id }}">Comments</label>
        <textarea
          id="comments-m-{{ prescription.id }}"
          [(ngModel)]="comments['M'+prescription.id]"
          rows="3"
        ></textarea>
      </div>
      <div class="hint">
        If you are using a shared device, please add your initials in the
        comment.
      </div>
      <div class="buttons">
        <button
          (click)="administerMedication(prescription.id, true)"
          class="button button--secondary-invert"
        >
          💉✅ Success
        </button>
        <button
          (click)="administerMedication(prescription.id, false)"
          class="button button--secondary-invert"
        >
          💉❌ Fail
        </button>
      </div>
      } @else {
      <div class="field">
        <label for="comments-m-{{ prescription.id }}">Comments</label>
        <textarea
          id="comments-m-{{ prescription.id }}"
          [(ngModel)]="comments['I'+prescription.id]"
          rows="3"
        ></textarea>
      </div>
      <div class="hint">
        If you are using a shared device, please add your initials in the
        comment.
      </div>
      <div class="buttons">
        <button
          (click)="administerInstruction(prescription.id, true)"
          class="button button--secondary-invert"
        >
          💉✅ Success
        </button>
        <button
          (click)="administerInstruction(prescription.id, false)"
          class="button button--secondary-invert"
        >
          💉❌ Fail
        </button>
      </div>
      }
    </div>
  </div>
  }
</div>
} @else {
<p>There are no prescriptions created for this date.</p>
} }
