@if (loading$ | async) {
<spinner></spinner>
} @if (error$ | async) {
<div class="error">Error occurred</div>
} @if (updated$ | async) {
<div class="success">Notice updated successfully</div>
}
<div class="create-notification-wrapper">
  <form [formGroup]="form">
    <a class="back-link" [routerLink]="'../../'">Back</a>

    <h1>Edit notice</h1>
    <div class="field">
      <label for="title">Title</label>
      <input id="title" type="text" formControlName="title" />
    </div>
    <div class="field">
      <label for="editor">Content</label>
      <div class="NgxEditor__Wrapper margin-left-lists">
        <ngx-editor-menu
          [editor]="editor"
          [toolbar]="toolbar"
        ></ngx-editor-menu>
        <ngx-editor
          [editor]="editor"
          [placeholder]="'Type here...'"
          formControlName="content"
        ></ngx-editor>
      </div>
    </div>
    <div class="field">
      <label for="files">Attachments</label>
      <input id="files" type="file" multiple (change)="onFileChange($event)" />
    </div>
    <br />
    <p>
      Audience
      <button class="button select-all" (click)="selectAllAudience()">
        @if (selectedAllAudience) { Unselect all } @else { Select all }
      </button>
    </p>
    <div class="roles-container" formGroupName="roles">
      @for (role of roles; track role.value) { @if (role.value && role.name !=
      'APP_CLOCKING') {
      <div class="field">
        <label for="role-{{ role.name }}">{{ role.display }}</label>
        <input
          type="checkbox"
          id="role-{{ role.name }}"
          name="role-{{ role.name }}"
          [formControlName]="role.name"
        />
      </div>
      } }
    </div>
    <button class="button button--primary" (click)="update()">Publish</button>
  </form>
  <div class="phone-wrapper">
    <fake-phone>
      <h2>{{ form.controls.title.value }}</h2>
      <div [innerHTML]="getNoticeContent()"></div>
    </fake-phone>
  </div>
</div>
