h1 {
  margin-bottom: 1rem;
}

section {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-left: solid 5px var(--theme-primary);
  padding: 1rem;

  h2 {
    margin: 0rem;
  }

  .field {
    margin-top: 0.75rem;
  }

  .buttons {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
  }
}

.datetime {
  display: flex;
  gap: 0.25rem;

  input {
    max-width: max-content;
  }
}
