<div class="table-container">
  <table>
    <thead>
      <tr>
        <th class="regular-bg">
          <input type="text" placeholder="Filter" [(ngModel)]="filter" />
        </th>
        @for (year of years; track year) {
        <th>{{ year }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (s of species; track s) { @if (showSpecies(s)) {
      <tr class="species">
        <td>{{ s }}</td>
        @for (year of years; track year) {
        <td>{{ dashboard.patientsBySpecies[year][s] }}</td>
        }
      </tr>
      @for (disposition of dispositions; let index = $index; track disposition)
      {
      <tr class="disposition">
        <td>{{ disposition }}</td>
        @for (year of years; track year) {
        <td>{{ dashboard.patientsBySpeciesDisposition[year][s][index] }}</td>
        }
      </tr>
      } } }
    </tbody>
  </table>
</div>
