.species {
  font-weight: bold;

  &:not(:first-child) {
    border-top: solid 2px #c4c4c4;
  }
}

.species :nth-child(1) {
  text-align: right;
}

.disposition :nth-child(1) {
  text-align: right;
  font-style: italic;
}
