.request {
  margin-bottom: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  border: solid 1px rgb(153, 153, 153);
  max-width: max-content;
  padding: 0.5rem 0.75rem 1rem 0.75rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.75rem;
  align-items: flex-start;
}

.field {
  margin-bottom: 0.5rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

h2 {
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.chat {
  border: solid 1px rgb(51, 51, 51);
  background-color: rgb(222, 222, 222);
  padding: 1rem;

  .message {
    margin-bottom: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.message--me {
      align-items: flex-end;
      text-align: right;

      .content {
        background-color: rgb(201, 201, 231);
      }
    }

    .content {
      border-radius: 1rem;
      background-color: rgb(243, 214, 189);
      padding: 0.5rem 0.75rem;
      max-width: max-content;
    }

    .underneath {
      font-size: 1rem;
      display: flex;
      gap: 0.5rem;
    }
  }
}

textarea {
  border-radius: 0rem;
  margin-top: -1px;
}

.error {
  margin-bottom: 0rem;
  margin-top: 0.5rem;
}

.chat-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  .send {
    display: flex;
    justify-content: space-between;

    form {
      flex: 1;
    }
  }
}
