:root {
  --theme-primary: #1e544e;
  --theme-primary-darker: #0f403b;
  --theme-primary-lighter: #316862;
  --theme-color-1: #331e53;
  --theme-color-2: #531e23;
  --theme-color-3: #534e1e;
  --theme-color-4: #3d531e;
  --theme-color-5: #1e3d53;
  --theme-color-6: #2c7871;

  --text-color--dark: #1d1d1d;
  --text-color--light: rgb(218, 218, 218);
}

html,
body,
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", Sans-serif;
  box-sizing: inherit;
  color: var(--text-color--dark);
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  font: 1.2em sans-serif;
}

main {
  margin: 2rem 0.5rem;
}

.field:has(input[type="checkbox"]),
.field:has(input[type="radio"]) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: row-reverse;
  justify-content: flex-end;

  input {
    max-width: max-content;
    accent-color: var(--theme-primary);
    transform: scale(1.5);
    margin-right: 0.75rem;
  }
}

input,
select {
  display: block;
  width: 100%;
  max-width: 30rem;
  padding: 0.5rem 0.75rem;
  font-size: 1.2rem;
  outline: none;
  color: var(--text-color--dark);
  background-color: #e7e7e7;
  border: solid 1px var(--theme-primary);
  border-radius: 5px;

  &:focus {
    box-shadow: 0px 0px 3px 0px black;
  }
}

.button {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  text-decoration: none;
  text-align: center;
  max-width: 30rem;

  &:focus {
    box-shadow: 0px 0px 3px 0px black;
  }
}

.button--primary {
  background-color: var(--theme-primary);
  color: white;
}

.button--secondary {
  background-color: var(--theme-color-1);
  color: var(--text-color--light);
}

.button--warning {
  background-color: #531e23;
  color: white;
}

.error {
  border-left: solid 5px #531e23;
  background-color: #d7a8ad;
  color: #531e23;
  padding: 1rem;
  margin-bottom: 2rem;

  ul {
    margin-top: 0.25rem;
    list-style: none;

    li {
      font-size: 0.75em;
      color: #531e23;
    }
  }
}

.success {
  border-left: solid 5px #2c7871;
  background-color: #b8e0dc;
  color: #1c5e57;
  padding: 1rem;
  margin-bottom: 2rem;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--theme-primary);
  color: white;
}
