h1 {
  margin-bottom: 0.5rem;
}

.button--primary {
  margin-top: 1.25rem;
  width: 100%;
}

.field {
  margin-top: 0.5rem;
}

.car-field {
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.no-cars {
  font-size: 1rem;
}

.text-with-button {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
}

.add-another {
  margin-top: 0.75rem;
}
