.buttons {
  display: flex;
  gap: 0.5rem;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

input,
select,
button {
  padding: 0.25rem 0.5rem;
  max-width: max-content;
}

input {
  max-width: 5rem;
}

.quantity {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.field {
  margin-bottom: 0.75rem;
}

.details {
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
  border-left: solid 5px var(--theme-color-5);
  background-color: rgb(223, 223, 223);
  max-width: max-content;
  margin-bottom: 1rem;
}

.error {
  margin-bottom: 0.5rem;
}
