header {
  background-color: var(--theme-primary);
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-out {
  text-align: center;
  color: white;
  padding-right: 0.5rem;

  img {
    width: 2.25rem;
    height: 2.25rem;
  }
}

footer {
  background-color: var(--theme-primary);
  text-align: center;
  padding: 0.5rem 0.5rem;
  font-size: 0.75rem;

  p {
    color: var(--text-color--light);
  }
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.logo {
  position: relative;

  .easter-egg {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
  }

  #ee-xmas {
    transform: rotate(30deg);
    top: -1rem;
    right: -2.25rem;
  }

  #ee-valentines {
    transform: rotate(8deg);
    top: -0.5rem;
    right: -1.2rem;
  }

  #ee-easter {
    top: 0.5rem;
    right: -2.5rem;
  }

  #ee-halloween-hand {
    bottom: -0.77rem;
    right: -2.6rem;
  }

  #ee-halloween-ghost {
    left: 1.2rem;
    top: -0.6rem;
  }

  #ee-halloween-hat {
    transform: rotate(30deg);
    top: -1rem;
    right: -2.25rem;
  }

  #ee-newyear-balloons {
    bottom: -0.5rem;
    right: -2.75rem;
  }

  #ee-newyear-confetti {
    left: -1.5rem;
    top: -1.3rem;
    transform: rotate(90deg);
  }

  #ee-pancake {
    bottom: 1.25rem;
    right: -3rem;
  }
}
