h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

strong {
  margin-top: 0.75rem;
  display: block;
}

.button--primary {
  margin: 0.5rem 0rem;
}

section {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-left: solid 5px var(--theme-primary);
  padding: 1rem;

  h2 {
    margin: 0rem;
  }

  .field {
    margin-top: 0.75rem;
  }

  .buttons {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
  }
}
