<a class="back-link" [routerLink]="'../'">Back</a>

<h1>Administration methods</h1>

<p>
  Administration methods are the methods used to administer initial treatments
  and ongoing prescriptions.
</p>

@if (administrationMethods$ | async; as administrationMethods) { @if
(administrationMethods.loading) {
<spinner></spinner>
} @else if (administrationMethods.error) {
<div class="error">Error occurred</div>
} @else if (administrationMethods.data) { @if (!creating && !updating) {
<button (click)="beginCreate()" class="button button--primary">
  Create new administration method
</button>
} @else if (creating) {
<section>
  <h2>Create new administration method</h2>
  <form [formGroup]="form">
    <div class="field">
      <label for="description">Description</label>
      <input id="description" type="text" formControlName="description" />
    </div>
    <div class="buttons">
      <button (click)="create()" class="button button--primary">Save</button>
      <button (click)="cancel()" class="button button--secondary">
        Cancel
      </button>
    </div>
  </form>
</section>
} @else if (updating) {
<section>
  <h2>Edit administration method</h2>
  <form [formGroup]="form">
    <div class="field">
      <label for="description">Description</label>
      <input id="description" type="text" formControlName="description" />
    </div>
    <div class="buttons">
      <button (click)="update()" class="button button--primary">Save</button>
      <button (click)="cancel()" class="button button--secondary">
        Cancel
      </button>
    </div>
  </form>
</section>
}
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (administrationMethod of administrationMethods.data; track
    administrationMethod.id) {
    <tr>
      <td>{{ administrationMethod.description }}</td>
      <td>
        <button
          (click)="beginUpdate(administrationMethod)"
          class="button button--secondary"
        >
          Edit
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
} }
