<div class="field">
  <label for="date">Date</label>
  <div class="input-button">
    <input type="date" id="date" [(ngModel)]="date" />
    <button (click)="view()" class="button button--secondary-invert">
      📋 View
    </button>
  </div>
</div>

@if (listRechecks$ | async; as rechecks) { @if (rechecks.loading) {
<spinner></spinner>
} @else if (rechecks.error) {
<div class="error">Error occurred</div>
} @else if (rechecks.data && rechecks.data.length > 0) { @if (task$ | async; as
task) { @if (task.loading) {
<spinner></spinner>
} @else if (task.error) {
<div class="error">Error occurred</div>
} }
<div class="rechecks">
  @for (recheck of rechecks.data; track recheck.id) {
  <div class="recheck">
    <div class="flex">
      <div class="date">
        @if (recheck.due == viewingDate) { @if (recheck.rechecked) {
        <span class="done">Done</span>
        } @else {
        <span class="due">Due</span>
        } } @else {
        <span class="overdue">
          Overdue ({{ recheck.due | date: 'dd MMM yyyy' }})
        </span>
        }
      </div>
      <div class="roles">
        <p>{{ getRecheckRoles(recheck.roles) }}</p>
      </div>
    </div>
    <div class="patient">
      <p>🔗 <a (click)="viewPatient(recheck)">{{ recheck.reference }}</a></p>
      <p>
        📍 {{ recheck.pen.reference }} @if (recheck.uniqueIdentifier) { ({{
        recheck.uniqueIdentifier }}) }
      </p>
      <p>🐾 {{ recheck.species.name }} ({{ recheck.variant.name }})</p>
      @if (recheck.hasPrescriptions) {
      <p class="also-has">❗ Also has prescriptions</p>
      }
    </div>
    <div class="description">
      <p>🩺 {{ recheck.description }}</p>
    </div>
    @if (!recheck.rechecked) {
    <div class="perform">
      <div class="field">
        <label for="comments">Comments</label>
        <textarea
          id="comments"
          [(ngModel)]="comments[recheck.id]"
          rows="3"
        ></textarea>
      </div>
      @if (recheck.requireWeight) {
      <div class="field require-weight">
        <label for="weight">
          Weight
          <span class="required">*</span>
        </label>
        <div class="input-with-units">
          <input
            id="weight"
            type="number"
            [(ngModel)]="weightValue[recheck.id]"
            autocomplete="off"
          />
          <select id="weightUnit" [(ngModel)]="weightUnit[recheck.id]">
            <option value="1">g</option>
            <option value="2">kg</option>
          </select>
        </div>
      </div>
      }
      <div class="hint">
        If you are using a shared device, please add your initials in the
        comment.
      </div>
      @if (invalid == recheck.id) {
      <div class="error">Please fill all required fields.</div>
      }
      <button
        (click)="perform(recheck)"
        class="button button--secondary-invert"
      >
        ✅ Perform
      </button>
    </div>
    } @else {
    <div class="performed">
      <p>
        🧑‍⚕️ {{ recheck.rechecker?.firstName }} {{ recheck.rechecker?.lastName }}
      </p>
      @if (recheck.comments) {
      <p>✏️ {{ recheck.comments }}</p>
      } @if (recheck.weightValue && recheck.weightUnit) {
      <p>
        ⚖️ {{ recheck.weightValue }} {{ getWeightUnit(recheck.weightUnit) }}
      </p>
      }
    </div>
    }
  </div>
  }
</div>
} @else {
<p>There are no rechecks created for this date.</p>
} }
