input[type="date"] {
  max-width: max-content;
}

table {
  max-width: min(100%, max-content);
}

.input-button {
  display: flex;
  margin-bottom: 0.5rem;

  input {
    padding: 0.25rem 0.5rem;
  }

  button {
    margin-left: -2px;
    padding: 0.25rem 0.5rem;
  }
}

.rechecks {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.75rem;
}

.recheck {
  min-width: 20rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  border: solid 1px rgb(153, 153, 153);
  max-width: max-content;
  padding: 0.5rem 0.75rem 1rem 0.75rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: flex-start;

  > div:not(:last-child) {
    width: 100%;
    border-bottom: dotted 1px black;
    padding-bottom: 0.5rem;
  }
}

.due {
  font-weight: bold;
  color: var(--theme-color-1);
}

.overdue {
  font-weight: bold;
  color: var(--theme-color-2);
}

textarea {
  font-size: 1rem;
  width: 100%;
}

a {
  color: var(--theme-primary);
  text-decoration: underline;
  cursor: pointer;
}

.perform {
  width: 100%;

  button {
    padding: 0.25rem 0.5rem;
    margin-top: 0.75rem;
  }
}

.done {
  color: var(--theme-color-4);
  font-weight: bold;
}

.flex {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.patient {
  width: 100%;
}

.description {
  max-width: 25rem;
}

.hint {
  font-size: 0.9rem;
  color: rgb(60, 60, 60);
  max-width: 20rem;
  margin-top: 0.5rem;
}

.require-weight {
  margin-top: 0.5rem;

  .input-with-units {
    display: flex;

    input {
      max-width: 6ch;
      text-align: right;
      border-top-right-radius: 0rem;
      border-bottom-right-radius: 0rem;
      border-right: none;
    }

    select {
      max-width: max-content;
      border-top-left-radius: 0rem;
      border-bottom-left-radius: 0rem;
    }
  }
}

.error {
  margin-top: 0.5rem;
  margin-bottom: 0.125rem;
}

.also-has {
  color: var(--theme-color-2);
  font-weight: bold;
}
