<a class="back-link" [routerLink]="'../dashboard'">Back</a>

<h1>Rota</h1>

<div class="buttons">
  <a [routerLink]="'./attendance'" class="button button--primary">
    View attendance
  </a>
  <a [routerLink]="'./clockings'" class="button button--secondary">
    View clockings
  </a>
  <a [routerLink]="'./configuration'" class="button button--warning">
    Update configuration
  </a>
</div>

<div class="header-container">
  <div class="header">
    <h2>Filter</h2>
    <p>
      Viewing rota from <strong>{{ start }}</strong> to
      <strong>{{ end }}</strong> (Week {{ week }})
    </p>
    <div class="buttons">
      <button class="button button--secondary" (click)="previousWeek()">
        Previous week
      </button>
      <button class="button button--secondary" (click)="nextWeek()">
        Next week
      </button>
    </div>
  </div>
  <div class="key">
    <h3>Key</h3>
    <p><img src="images/rota/tick.svg" /> Coming</p>
    <p><img src="images/rota/cross.svg" /> Not coming</p>
    <p><img src="images/rota/question.svg" /> Unconfirmed</p>
    <p><img src="images/rota/required.svg" /> Required</p>
  </div>
</div>

@if (rota$ | async; as rota) { @if (rota.loading) {
<spinner></spinner>
} @else if (rota.error) {
<div class="error">Error occurred</div>
} @else if (rota.data) { @if (!(addingExtra || addingNewbie ||
addingWorkExperience)) {
<div class="top-buttons">
  <button class="button button--primary expand-all" (click)="toggleAll()">
    {{ expandAll ? 'Hide' : 'Show' }} all
  </button>
  <button class="button button--secondary" (click)="addingExtra = true">
    Add extra shift
  </button>
  <button class="button button--secondary" (click)="addingNewbie = true">
    Add newbie
  </button>
  <button
    class="button button--secondary"
    (click)="addingWorkExperience = true"
  >
    Add work experience
  </button>
</div>
} @else if (addingExtra || addingNewbie) {
<div class="add-extra">
  @if (addingExtra) {
  <div class="field">
    <label for="accountId">Volunteer</label>
    <select id="accountId" [(ngModel)]="accountId">
      @if (accounts$ | async; as accounts) { @if (accounts) { @for (account of
      accounts; track account.id) {
      <option [value]="account.id">
        {{ account.firstName }} {{ account.lastName}}
      </option>
      } } }
    </select>
  </div>
  } @else if (addingNewbie) {
  <div class="field">
    <label for="newbieName">Name</label>
    <input type="text" id="newbieName" [(ngModel)]="newbieName" />
  </div>
  }
  <div class="field">
    <label for="date">Date</label>
    <input type="date" id="date" [(ngModel)]="date" />
  </div>
  <div class="field">
    <label for="timeId">Time</label>
    <select id="timeId" [(ngModel)]="timeId">
      @if (times$ | async; as times) { @if (times.data) { @for (time of
      times.data; track time.id) {
      <option [value]="time.id">{{ time.name }}</option>
      } } }
    </select>
  </div>
  <div class="field">
    <label for="jobId">Job</label>
    <select id="jobId" [(ngModel)]="jobId">
      @if (jobs$ | async; as jobs) { @if (jobs.data) { @for (job of jobs.data;
      track job.id) {
      <option [value]="job.id">{{ job.name }}</option>
      } } }
    </select>
  </div>
  <div class="buttons">
    @if (addingExtra) {
    <button (click)="addExtraShift()" class="button button--primary">
      Add extra shift
    </button>
    <button (click)="addingExtra = false" class="button button--secondary">
      Cancel
    </button>
    } @else {
    <button (click)="addNewbie()" class="button button--primary">
      Add newbie
    </button>
    <button (click)="addingNewbie = false" class="button button--secondary">
      Cancel
    </button>
    }
  </div>
</div>
} @else if (addingWorkExperience) {
<div class="add-extra add-work-experience">
  <div class="field">
    <label for="workExperienceName">Name</label>
    <input
      type="text"
      id="workExperienceName"
      [(ngModel)]="workExperienceName"
    />
  </div>
  <div class="included-dates">
    @for (weDate of workExperienceDates; track weDate.date) {
    <div class="included-date">
      <p>{{ weDate.date | date: 'dd MMM yyyy' }}</p>
      <p>{{ weDate.notes }}</p>
    </div>
    }
  </div>
  <div class="add-date">
    <div class="field">
      <label for="date">Date</label>
      <input type="date" id="date" [(ngModel)]="workExperienceDate" />
    </div>
    <div class="field">
      <label for="workExperienceNotes">Notes</label>
      <input
        type="text"
        id="workExperienceNotes"
        [(ngModel)]="workExperienceNotes"
      />
    </div>
    <button
      (click)="includeWorkExperienceDate()"
      class="button button--secondary"
    >
      Include date
    </button>
  </div>
  <p>Include all relevant work experience dates before saving</p>
  <div class="buttons">
    <button (click)="addWorkExperience()" class="button button--primary">
      Add work experience
    </button>
    <button
      (click)="addingWorkExperience = false"
      class="button button--secondary"
    >
      Cancel
    </button>
  </div>
</div>
}
<div class="days">
  @for (day of rota.data; track day.date) {
  <div class="day">
    <h3>
      {{ day.date | date:'EEEE' }} {{ day.date | day }} {{ day.date | date:
      'MMMM y'}}
    </h3>
    <div class="shifts">
      @for (shift of day.shifts; track shift.time.id) { @if (shift.showOnRota) {
      <div class="shift">
        <h4>{{ shift.time.name }}</h4>
        <div class="jobs">
          @for (job of shift.jobs; track job.job.id) { @if (job.showOnRota) {
          <div
            class="job"
            [class.job__enough]="job.enough"
            [class.job__not-enough]="!job.enough"
          >
            <h5>{{ job.job.name }}</h5>
            @if (!job.enough) {
            <p class="error">
              There are not enough volunteers to satisfy the requirements of
              this shift
            </p>
            }
            <div class="volunteers">
              <div
                class="coming-bar"
                [class.coming-bar__expanded]="isExpanded(day,shift,job) || expandAll"
              >
                <p>{{ job.coming }} <img src="images/rota/tick.svg" /></p>
                <p>{{ job.notComing}} <img src="images/rota/cross.svg" /></p>
                <p>
                  {{ job.unconfirmed}} <img src="images/rota/question.svg" />
                </p>
                <p>{{ job.required }} <img src="images/rota/required.svg" /></p>
                <button (click)="toggle(day, shift, job)" class="button">
                  {{ isExpanded(day,shift,job) ? 'Hide' : 'Show' }}
                </button>
              </div>
              @if (job.isAssignable && job.coming > 0
              &&(isExpanded(day,shift,job) || expandAll)) { @if
              (assignableAreas$ | async; as assignableAreas) {
              <div class="assignments">
                <h4>Assignments</h4>
                @for (volunteer of job.volunteers; track volunteer.id) { @if
                (volunteer.confirmed) {
                <div class="assignment">
                  <div
                    class="assignment__volunteer"
                    title="{{ volunteer.fullName }}"
                  >
                    {{ volunteer.name }}
                  </div>
                  <div class="assignment__area">
                    <select
                      [(ngModel)]="updatingAssignableArea[volunteer.attendanceId!]"
                      (ngModelChange)="assignArea(volunteer.attendanceId!)"
                    >
                      @for (assignableArea of assignableAreas.data; track
                      assignableArea.id) {
                      <option [value]="assignableArea.id">
                        {{ assignableArea.name }}
                      </option>
                      }
                    </select>
                  </div>
                </div>
                } }
              </div>
              } } @for (volunteer of job.volunteers; track volunteer.id) { @if
              (isExpanded(day,shift,job) || expandAll) {
              <div class="volunteer">
                <div class="details">
                  @if (volunteer.type === ShiftType.Regular) {
                  <abbr
                    class="regularity regularity--regular"
                    title="Regular shift"
                  >
                    R
                  </abbr>
                  } @else if (volunteer.type === ShiftType.Urgent) {
                  <abbr
                    class="regularity regularity--urgent"
                    title="Urgent shift"
                  >
                    U
                  </abbr>
                  } @else if (volunteer.type === ShiftType.Extra) {
                  <abbr
                    class="regularity regularity--extra"
                    title="Extra shift"
                  >
                    E
                  </abbr>
                  }
                  <abbr class="name" title="{{ volunteer.fullName }}">
                    {{ volunteer.name }}
                  </abbr>
                  @if (volunteer.confirmed === null) {
                  <p
                    class="confirmation confirmation--unconfirmed"
                    (click)="updatingShift = updatingShift === volunteer ? null: volunteer"
                  >
                    -
                  </p>
                  } @else if (volunteer.confirmed) {
                  <p
                    class="confirmation confirmation--confirmed"
                    (click)="updatingShift = updatingShift === volunteer ? null: volunteer"
                  >
                    Yes
                  </p>
                  } @else {
                  <p
                    class="confirmation confirmation--rejected"
                    (click)="updatingShift = updatingShift === volunteer ? null: volunteer"
                  >
                    No
                  </p>
                  }
                </div>
                @if (updatingShift === volunteer) {
                <div class="actions">
                  <button
                    class="button button--primary"
                    (click)="setComing(day, shift, job, volunteer)"
                  >
                    Coming
                  </button>
                  <button
                    class="button button--warning"
                    (click)="setNotComing(day, shift, job, volunteer)"
                  >
                    Not coming
                  </button>
                </div>
                } @if (volunteer.missingReason || volunteer.customMissingReason)
                {
                <div class="reason">
                  @if (volunteer.missingReason) {
                  <p>{{ volunteer.missingReason.name }}</p>
                  } @if (volunteer.customMissingReason) {
                  <p>{{ volunteer.customMissingReason }}</p>
                  }
                </div>
                }
              </div>
              } }
            </div>
            @if (job.newbies.length > 0) { @for (newbie of job.newbies; track
            newbie.name) {
            <div class="newbies">
              <div class="newbie">{{ newbie.name }}</div>
            </div>
            } }
          </div>
          } }
        </div>
      </div>
      } } @if (day.workExperiences.length > 0) {
      <div class="shift shift--work-experience">
        <h4>Work experience</h4>
        <div class="jobs">
          <div class="job job__enough">
            <div class="volunteers">
              @for (workExperience of day.workExperiences; track
              workExperience.name) {
              <div class="volunteer">
                <div class="details">
                  <abbr class="name"
                    >{{ workExperience.name }} - {{ workExperience.notes
                    }}</abbr
                  >
                </div>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
  }
</div>
} }
