h1,
a {
  margin-bottom: 1rem;
}

.header {
  margin: 1.5rem 0rem;
  border-left: solid 5px var(--theme-primary);
  background-color: rgb(228, 228, 228);
  max-width: max-content;
  max-height: max-content;
  padding: 1rem;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.expand-all {
  margin-bottom: 1rem;
}

.key {
  margin: 1.5rem 0rem;
  border: dotted 1px var(--theme-primary);
  background-color: rgb(240, 240, 240);
  max-width: max-content;
  max-height: max-content;
  padding: 0.125rem 0.5rem;

  h3 {
    margin-bottom: 0.25rem;
  }

  p {
    margin-bottom: 0.125rem;
  }

  img {
    width: 1em;
    height: 1em;
    margin-left: 2px;
    margin-right: 0.125rem;
    margin-bottom: -3px;
  }
}

.days {
  display: flex;
  gap: 0rem;

  .day {
    flex: 1;

    background-color: #e5e5e5;
    border: solid 5px var(--theme-primary);
    border-right: none;

    h3 {
      font-weight: normal;
      text-align: center;
      background-color: var(--theme-primary);
      color: white;
      border-bottom: solid 5px var(--theme-primary);
    }

    .shifts {
      .shift {
        padding: 0.5rem 0.75rem;

        border-bottom: solid 0px var(--theme-primary);

        h4 {
          font-weight: normal;
          margin-bottom: 0.5rem;
        }

        .jobs {
          .job {
            --border: rgb(61, 61, 61);
            --background: white;

            border: solid 3px var(--border);
            margin-bottom: 0.5rem;

            &.job__not-enough {
              --border: var(--theme-color-2);
              --background: var(--theme-color-2);
            }

            &.job__enough {
              --border: var(--theme-color-5);
              --background: var(--theme-color-5);
            }

            .error {
              padding: 0.25rem 0.5rem;
              font-size: 0.65em;
              margin: 0rem;
              border-left-width: 0px;
            }

            h5 {
              font-weight: normal;
              color: white;
              border-bottom: solid 3px var(--border);
              background-color: var(--background);
              padding: 0.25rem 0.5rem;
            }

            .assignments {
              border-bottom: solid 2px var(--background);
              border-radius: 0rem;

              h4 {
                font-size: 0.8rem;
                background-color: white;
                color: black;
                border-bottom: none;
                margin-bottom: 0rem;
                padding: 0rem 0.25rem;
              }

              .assignment {
                font-size: 0.8rem;
                background-color: rgb(205, 205, 205);
                display: flex;
                gap: 0.5rem;
                flex-wrap: nowrap;
                align-content: center;
                justify-content: space-between;
                align-items: center;
                border-top: solid 1px var(--border);

                :nth-child(1) {
                  padding-left: 0.25rem;
                }

                select {
                  font-size: 0.8rem;
                  padding: 0.05rem;
                  border: none;
                  border-left: solid 1px var(--border);
                  border-radius: 0rem;
                }
              }
            }

            .volunteers {
              .coming-bar {
                background-color: rgb(222, 222, 222);
                padding: 0.125rem 0.125rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: solid 2px var(--background);

                &.coming-bar__expanded {
                  border-bottom: solid 2px var(--background);
                }

                button {
                  padding: 0.125rem;
                  font-size: 0.6rem;
                  background: #bbbbbb;
                  color: black;
                  width: 5ch;
                }

                p {
                  font-size: 0.8rem;
                  color: black;
                  padding-left: 0.125rem;

                  img {
                    width: 1em;
                    height: 1em;
                    margin-left: 1px;
                    margin-bottom: -2px;
                  }
                }
              }

              .volunteer {
                border-bottom: dotted 1px var(--border);

                &:last-child {
                  border-bottom: none;
                }

                .details {
                  display: flex;
                  align-items: stretch;
                  justify-content: space-between;

                  .regularity {
                    max-width: max-content;
                    padding: 0.25rem;
                    flex-basis: 10%;
                    min-width: 1.125rem;

                    &.regularity--regular {
                      border-right: dotted 1px var(--theme-color-5);
                    }

                    &.regularity--urgent {
                      border-right: dotted 1px var(--theme-color-1);
                    }

                    &.regularity--extra {
                      border-right: dotted 1px var(--theme-color-4);
                    }
                  }

                  .name {
                    padding: 0.25rem 0.5rem;
                    flex-basis: 65%;
                  }

                  .confirmation {
                    width: 2.25rem;
                    text-align: center;
                    padding-top: 0.25rem;
                    color: white;
                    flex-basis: 25%;
                    cursor: pointer;

                    &.confirmation--confirmed {
                      background-color: var(--theme-color-4);
                    }

                    &.confirmation--unconfirmed {
                      background-color: #cdcdcd;
                      color: black;
                    }

                    &.confirmation--rejected {
                      background-color: var(--theme-color-2);
                    }
                  }
                }

                .reason {
                  padding-left: 1.75rem;
                }

                .actions {
                  display: flex;

                  button {
                    flex: 1;
                    gap: 1rem;
                    padding: 0.25rem;
                    font-size: 0.75rem;
                  }
                }

                p,
                abbr {
                  font-size: 0.75em;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }

  .day:last-child {
    border-right: solid 5px var(--theme-primary);
  }
}
