<div class="wrapper">
  @if (!customising) { @if (patient.feeding.length > 0) {
  <p class="is-custom">🍳 This patient has a custom diet</p>
  } @if (getInstructions().length > 0) {
  <p>Feeding boards will show the following instructions:</p>
  <table>
    <tbody>
      @for (feeding of getInstructions(); let lastTime = $last; track
      feeding.time) { @for (item of feeding.items; let first = $first; let
      lastFood = $last; track item) {
      <tr [class.last]="lastFood && !lastTime">
        <td>@if (first) { {{ feeding.time }} }</td>
        <td>{{ item }}</td>
      </tr>
      } }
    </tbody>
  </table>
  } @else {
  <p class="no-guidance">⚠️ Feeding guidance not set up</p>
  <p>
    Feeding boards will not show any feeds for this patient.<br />
    Add customisations to ensure it gets fed.
  </p>
  } @if (isVet && patient.status != PatientStatus.Dispositioned) {
  <div class="buttons">
    <button
      (click)="beginCustomising()"
      class="button button--secondary-invert"
    >
      🍳 Customise
    </button>
    @if (patient.feeding.length > 0) {
    <button
      (click)="clearCustomisations()"
      class="button button--secondary-invert"
    >
      🔄 Reset
    </button>
    }
  </div>
  } } @else {
  <form [formGroup]="dietForm">
    <div formArrayName="feeding">
      <div
        *ngFor="let fg of dietForm.controls.feeding.controls; let i = index"
        [formGroupName]="i"
      >
        @if (showFeeding(i)) {
        <div class="feeding-guidance">
          <div class="controls">
            <div class="row">
              <div class="field">
                <label for="timeKind-{{ i }}">Time</label>
                <select id="timeKind-{{ i }}" formControlName="timeKind">
                  <option>Specific</option>
                  <option>Every</option>
                </select>
              </div>
              @if (dietForm.controls.feeding.controls[i].controls.timeKind.value
              === 'Specific') {
              <div class="field">
                <label for="timeId-{{ i }}">&nbsp;</label>
                <input id="timeId-{{ i }}" type="time" formControlName="time" />
              </div>
              } @else {
              <div class="field">
                <label for="timeId-{{ i }}">&nbsp;</label>
                <div class="interval-wrapper">
                  <input
                    id="timeId-{{ i }}"
                    type="number"
                    formControlName="time"
                  />
                  <span>hours</span>
                </div>
              </div>
              }
              <div class="field">
                <label for="quantityValue-{{ i }}">
                  Quantity
                  <span class="required">*</span>
                </label>
                <div class="input-with-units">
                  <input
                    id="quantityValue-{{ i }}"
                    type="number"
                    formControlName="quantityValue"
                    autocomplete="off"
                  />
                  <select
                    id="quantityUnit-{{ i }}"
                    formControlName="quantityUnit"
                  >
                    <option></option>
                    <option>g</option>
                    <option>ml</option>
                    <option>tbsp</option>
                    <option>tsp</option>
                    <option>ml</option>
                    <option>pinch</option>
                  </select>
                </div>
              </div>
              <div class="field">
                <label for="foodId-{{ i }}">
                  Food
                  <span class="required">*</span>
                </label>
                @if (foods$ | async; as foods) {
                <select id="foodId-{{ i }}" formControlName="foodId">
                  @for (food of foods.data; track food.id) {
                  <option [value]="food.id">{{ food.name }}</option>
                  }
                </select>
                }
              </div>
            </div>
            <div class="row">
              <div class="field">
                <label for="notes-{{ i }}"> Notes </label>
                <input id="notes-{{ i }}" type="text" formControlName="notes" />
              </div>
              <div class="field">
                <label for="topUp-{{ i }}"> Top up </label>
                <input
                  id="topUp-{{ i }}"
                  type="checkbox"
                  formControlName="topUp"
                />
              </div>
            </div>
          </div>
          <button
            class="button button--secondary-invert rem"
            (click)="removeFeedingGuidance(i)"
          >
            ➖
          </button>
        </div>
        }
      </div>
    </div>
    <div class="right-align">
      <button
        class="button button--secondary-invert add"
        (click)="addFeedingGuidance()"
      >
        ➕
      </button>
    </div>
    @if (!saving) { @if (attemptedSave && !dietForm.valid) {
    <div class="error">Please fill in all required fields</div>
    }
    <div class="buttons">
      <button (click)="save()" class="button button--primary">Save</button>
      <button (click)="reset()" class="button button--secondary">Back</button>
    </div>
    }
  </form>
  }
</div>
@if (task$ | async; as task) { @if (task.loading) {
<spinner></spinner>
} @else if (task.error) {
<div class="error">Error occurred</div>
} }
