section {
  padding: 0.35rem 1.5rem 0.75rem 0.65rem;
  border-bottom: dotted 0px var(--theme-primary);
  border: solid 1px rgb(215, 215, 215);
  background-color: white;
  margin-bottom: 0.75rem;
  max-width: max-content;

  h3 {
    padding: 0.125rem 0.25rem;
  }
}
