.sections {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

section {
  padding: 0.35rem 1.5rem 0.75rem 0.65rem;
  border-bottom: dotted 0px var(--theme-primary);
  border: solid 1px rgb(215, 215, 215);
  background-color: white;
  max-width: max-content;
  margin-bottom: 0.75rem;

  h3 {
    padding: 0.125rem 0.25rem;
  }
}
