@if (patient$ | async; as patient) { @if (patient.loading) {
<spinner />
} @else if (patient.error) {
<div class="error">Error occurred</div>
} @else if (patient.data) { @if (patient.data.status ===
PatientStatus.PendingInitialExam) {
<p>
  This patient has not yet been examined.<br />
  Please perform the intake exam in order to view and modify the full patient
  record.
</p>
<div class="sections">
  <section>
    <h3>Admission</h3>
    <hospital-patient-admission
      [patient]="patient.data"
      [isVet]="isVet"
    ></hospital-patient-admission>
  </section>
  @if (isVet) {
  <section>
    <h3>Intake exam</h3>
    <hospital-patient-exam [id]="patient.data.id"></hospital-patient-exam>
  </section>
  }
</div>
} @else {
<div class="sections">
  <section>
    <h3>Details</h3>
    <hospital-patient-details
      [patient]="patient.data"
      [isVet]="isVet"
    ></hospital-patient-details>
  </section>
  <section>
    <h3>Status</h3>
    <hospital-patient-status
      [patient]="patient.data"
      [isVet]="isVet"
    ></hospital-patient-status>
  </section>
</div>
@if (patient.data.status != PatientStatus.ReceivingHomeCare) {
<div class="sections">
  <section>
    <h3>Location</h3>
    <hospital-patient-location
      [patient]="patient.data"
      [isVet]="isVet"
    ></hospital-patient-location>
  </section>
  <section>
    <h3>Diet</h3>
    <hospital-patient-diets
      [patient]="patient.data"
      [isVet]="isVet"
    ></hospital-patient-diets>
  </section>
  <section>
    <h3>Tags</h3>
    <hospital-patient-tags
      [patient]="patient.data"
      [isVet]="isVet"
    ></hospital-patient-tags>
  </section>
</div>
} @if (patient.data.homeCareRequests.length > 0) {
<section>
  <h3>Home care</h3>
  <hospital-patient-home-care
    [patient]="patient.data"
    [isVet]="isVet"
  ></hospital-patient-home-care>
</section>
}
<section>
  <h3>Notes</h3>
  <hospital-patient-notes
    [patient]="patient.data"
    [isVet]="isVet"
  ></hospital-patient-notes>
</section>
<section>
  <h3>Lab reports</h3>
  <hospital-patient-labs
    [patient]="patient.data"
    [isVet]="isVet"
  ></hospital-patient-labs>
</section>
<section>
  <h3>Rechecks</h3>
  <hospital-patient-rechecks
    [patient]="patient.data"
    [isVet]="isVet"
  ></hospital-patient-rechecks>
</section>
<section>
  <h3>Prescriptions</h3>
  <hospital-patient-prescriptions
    [patient]="patient.data"
    [isVet]="isVet"
  ></hospital-patient-prescriptions>
</section>
@for (exam of patient.data.exams; track exam.id) {
<section>
  <h3>{{ exam.type === 1 ? 'Intake exam' : 'Follow-up exam' }}</h3>
  <hospital-patient-view-exam
    [exam]="exam"
    [isVet]="isVet"
  ></hospital-patient-view-exam>
</section>
}
<section>
  <h3>Admission</h3>
  <hospital-patient-admission
    [patient]="patient.data"
    [isVet]="isVet"
  ></hospital-patient-admission>
</section>
} } }
