@if (patient$ | async; as patient) { @if (patient.loading) {
<spinner />
} @else if (patient.error) {
<div class="error">Error occurred</div>
} @else if (patient.data) { @if (patient.data.status ===
PatientStatus.PendingInitialExam) {
<p>
  This patient has not yet been examined.<br />
  Please perform the intake exam in order to view and modify the full patient
  record.
</p>
<section>
  <h3>Admission</h3>
  <hospital-patient-admission
    [patient]="patient.data"
  ></hospital-patient-admission>
</section>
<section>
  <h3>Intake exam</h3>
  <hospital-patient-exam [id]="patient.data.id"></hospital-patient-exam>
</section>
} @else {
<section>
  <h3>Details</h3>
  <hospital-patient-details [patient]="patient.data"></hospital-patient-details>
</section>
<section>
  <h3>Notes</h3>
  <hospital-patient-notes [patient]="patient.data"></hospital-patient-notes>
</section>
<section>
  <h3>Rechecks</h3>
  <hospital-patient-rechecks
    [patient]="patient.data"
  ></hospital-patient-rechecks>
</section>
<section>
  <h3>Prescriptions</h3>
  <hospital-patient-prescriptions
    [patient]="patient.data"
  ></hospital-patient-prescriptions>
</section>
@for (exam of patient.data.exams; track exam.id) {
<section>
  <h3>{{ exam.type === 1 ? 'Intake exam' : 'Follow-up exam' }}</h3>
  <hospital-patient-view-exam [exam]="exam"></hospital-patient-view-exam>
</section>
}
<section>
  <h3>Admission</h3>
  <hospital-patient-admission
    [patient]="patient.data"
  ></hospital-patient-admission>
</section>
} } }
