.row {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;

  table {
    flex: 1;
    max-width: max-content;
  }
}

table:not(:has(thead)) tbody {
  td {
    padding: 0.125rem 0.25rem;
    border: none;
  }

  td:nth-child(2) {
    font-weight: bold;
    padding-left: 0.5rem;
  }
}

section {
  border: solid 2px var(--theme-primary);
  padding: 0.5rem 0.75rem;
  margin-top: 0.75rem;

  h3 {
    padding: 0.125rem 0.25rem;
  }
}

.exam-section {
  margin: 0rem 0.25rem 1rem 0.25rem;

  h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }
}

.buttons {
  display: flex;
  gap: 0.5rem;

  button {
    padding: 0.25rem 0.5rem;
  }
}

.fields {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 0.5rem;

  .field {
    .input-with-units {
      display: flex;

      input {
        max-width: 6ch;
        text-align: right;
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0rem;
        border-right: none;
      }

      select {
        border-top-left-radius: 0rem;
        border-bottom-left-radius: 0rem;
      }
    }
  }
}

input,
select {
  padding: 0.25rem;
  max-width: max-content;
}

textarea {
  min-width: 50rem;
}
