.row {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;

  table {
    flex: 1;
    max-width: max-content;
  }
}

table:not(:has(thead)) tbody {
  td {
    padding: 0.125rem 0.25rem;
    border: none;
  }

  td:nth-child(2) {
    font-weight: bold;
    padding-left: 0.5rem;
  }
}

section {
  border: solid 2px var(--theme-primary);
  padding: 0.5rem 0.75rem;
  margin-top: 0.75rem;

  h3 {
    padding: 0.125rem 0.25rem;
  }
}
