.table-container {
  height: 15rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: max-content;
}

table {
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
}

th,
td {
  font-size: 0.85rem;
  padding: 0.125rem 0.25rem;
  border: none;
  text-align: center;

  &.regular-bg {
    background-color: #f2f2f2;

    input {
      padding: 0.125rem 0.25rem;
    }
  }
}

td:nth-child(1) {
  text-align: left;
}
