@for (request of patient.homeCareRequests; track request.id; let last = $last) {
<div class="home-care-request">
  @if (!request.pickup) {
  <div class="row">
    <table>
      <tbody>
        <tr>
          <td>Requested</td>
          <td>{{ request.requested | date: 'dd MMM yyyy HH:mm' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  } @else if (request.pickup) {
  <div class="row">
    <table>
      <tbody>
        <tr>
          <td>Requested</td>
          <td>{{ request.requested | date: 'dd MMM yyyy HH:mm' }}</td>
        </tr>
        <tr>
          <td>Home carer</td>
          <td>
            {{ request.responder?.firstName }} {{ request.responder?.lastName }}
          </td>
        </tr>
        <tr>
          <td>Pickup</td>
          <td>{{ request.pickup | date: 'dd MMM yyyy HH:mm' }}</td>
        </tr>
        @if (request.dropoff) {
        <tr>
          <td>Returned</td>
          <td>{{ request.dropoff | date: 'dd MMM yyyy HH:mm' }}</td>
        </tr>
        }
      </tbody>
    </table>
    @if (!droppingOff) { @if (isVet && !request.dropoff) {
    <div class="buttons">
      <button
        (click)="droppingOff = request.id"
        class="button button--secondary-invert"
      >
        🏠 Home carer returned patient
      </button>
    </div>
    } } @else if (droppingOff == request.id) {
    <form [formGroup]="dropOffForm" class="drop-off">
      <div class="field">
        <label for="area">
          Area
          <span class="required">*</span>
        </label>
        <select id="area" formControlName="areaId">
          <option value=""></option>
          @if (areas$ | async; as areas) { @if (areas.loading) {
          <spinner />
          } @else if (areas.error) {
          <div class="error">Error occurred</div>
          } @else if (areas.data) { @for (area of areas.data; track area.id) {
          <option [value]="area.id">
            @if (area.empty) { 🟩 {{ area.name }} (Empty pens) } @else { 🟨 {{
            area.name }} (All pens in use) }
          </option>
          } }}
        </select>
      </div>
      <div class="field">
        <label for="pen">
          Pen
          <span class="required">*</span>
        </label>
        <select id="pen" formControlName="penId">
          @if (!dropOffForm.value.areaId) {
          <option value="">Select area</option>
          } @if (areas$ | async; as areas) { @if (areas.loading) {
          <spinner />
          } @else if (areas.error) {
          <div class="error">Error occurred</div>
          } @else if (areas.data) { @for (area of areas.data; track area.id) {
          @if (area.id.toString() == dropOffForm.value.areaId) { @for (pen of
          area.pens; track pen.id) {
          <option [value]="pen.id">
            @if (pen.empty) { 🟩 {{ pen.reference }} (Empty) } @else { 🟨 {{
            pen.reference }} (In use) }
          </option>
          } } } }}
        </select>
      </div>
      @if (attemptedSave && !dropOffForm.valid) {
      <div class="error">Please fill in all required fields</div>
      } @if (!saving) {
      <div class="buttons">
        <button
          (click)="homeCareDropOff(request.id)"
          class="button button--primary"
        >
          Save
        </button>
        <button (click)="reset()" class="button button--secondary">Back</button>
      </div>
      }
    </form>
    }
  </div>
  <form [formGroup]="messageForm">
    @if (last && patient.homeCareMessages.length > 0) {
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Author</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        @for (message of patient.homeCareMessages; track message.id) {
        <tr>
          <td>{{ message.date | date: 'dd MMM yyyy HH:mm' }}</td>
          <td>{{ message.author.firstName }} {{ message.author.lastName }}</td>
          <td>{{ message.message }}</td>
        </tr>
        }
      </tbody>
    </table>
    } @else if (last) {
    <p><em>No messages have been sent for this patient.</em></p>
    } @if (isVet && patient.status != PatientStatus.Dispositioned &&
    !request.dropoff) {
    <div class="flex">
      <div class="field">
        <label for="message">Message home carer</label>
        <textarea
          id="message"
          type="text"
          formControlName="message"
          autocomplete="off"
          rows="3"
        ></textarea>
      </div>
      @if (!saving) {
      <div class="buttons">
        <button
          (click)="sendMessage(request.id)"
          class="button button--secondary-invert"
        >
          💬 Send
        </button>
      </div>
      }
    </div>
    }
  </form>
  }
</div>
} @if (dropOffTask$ | async; as task) { @if (task.loading) {
<spinner></spinner>
} @else if (task.error) {
<div class="error">Error occurred</div>
} } @if (messageTask$ | async; as task) { @if (task.loading) {
<spinner></spinner>
} @else if (task.error) {
<div class="error">Error occurred</div>
} }
