table:has(thead) {
  width: 100%;
  margin-top: 1rem;

  td,
  th {
    font-size: 1rem;
    padding: 0.125rem 0.25rem;
    border-left: none;
    border-right: none;
    align-content: flex-start;
  }

  th {
    background-color: var(--theme-color-5);
  }

  tr {
    background-color: transparent !important;
  }
}

table:not(:has(thead)) {
  margin-bottom: 0.5rem;

  tbody {
    td {
      font-size: 1.125rem;
      padding: 0.125rem 0.25rem;
      border: none;
    }

    td:nth-child(2) {
      font-weight: bold;
      padding-left: 1rem;
    }

    tr {
      background-color: transparent !important;
    }
  }
}

.row {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  align-items: flex-start;

  table {
    flex: 1;
    max-width: max-content;
  }
}

.flex {
  margin-top: 1rem;

  .field {
    margin-bottom: 1rem;
  }

  textarea {
    min-width: 40rem;
    font-size: 1rem;
  }

  button {
    padding: 0.25rem 0.5rem;
  }
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.home-care-request:not(:last-child) {
  margin-bottom: 1rem;
}
