.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.popup {
  position: fixed;
  top: 20%;
  left: 5%;
  right: 5%;
  background-color: white;
  padding: 2rem;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
  z-index: 101;
  text-align: center;

  &.popup--error {
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    width: 100vw;
    height: 100vh;
    padding: 0.5rem 0.75rem;
    box-shadow: none;
    border-radius: 0rem;
    overflow-y: scroll;
  }

  details {
    margin-top: 1rem;

    summary {
      font-size: 1rem;
      cursor: pointer;
      max-width: max-content;
    }

    code {
      font-family: monospace;
      white-space: pre-wrap; /* Since CSS 2.1 */
      white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
      white-space: -pre-wrap; /* Opera 4-6 */
      white-space: -o-pre-wrap; /* Opera 7 */
      word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
  }
}

h2,
p {
  margin-bottom: 0.5rem;
  text-align: left;
}

button {
  width: 50%;
  margin: 1rem auto 0.25rem auto;
}

.error {
  margin-top: 1.25rem;
  margin-bottom: 0rem;
  text-align: left;

  p {
    font-size: 1rem;
    margin-bottom: 0rem;
  }

  strong {
    display: block;
    margin-top: 0.625rem;
  }

  ul {
    list-style-type: square;
    margin-left: 1rem;

    li {
      font-size: 1rem;
    }
  }
}
