.row {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  align-items: flex-start;

  table {
    flex: 1;
    max-width: max-content;
  }
}

table:not(:has(thead)) tbody {
  td {
    font-size: 1.125rem;
    padding: 0.125rem 0.25rem;
    border: none;
  }

  td:nth-child(2) {
    font-weight: bold;
    padding-left: 1rem;
  }

  tr {
    background-color: transparent !important;
  }
}

.fields {
  margin-top: 1rem;

  .field {
    margin-bottom: 0.5rem;
  }
}

.buttons {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  align-items: center;

  button {
    padding: 0.125rem 0.25rem;
  }
}

.last-updated {
  font-size: 0.95rem;
  color: rgb(75, 75, 75);
  margin-left: 0.25rem;

  &.outdated {
    color: var(--theme-color-2);

    span {
      padding: 0.125rem 0.35rem;
      background-color: var(--theme-color-2);
      color: white;
      font-weight: bold;
    }
  }
}
