.pics {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  img {
    flex: 1;
    width: 20%;
    min-width: 18rem;
    max-width: 18rem;
  }
}

@media screen and (min-width: 800px) {
  .pics img {
    min-width: 30rem;
    max-width: 30rem;
  }
}

h1 {
  margin-bottom: 1rem;
}
