<form [formGroup]="recheckForm">
  @if (patient.rechecks.length > 0) {
  <table>
    <thead>
      <tr>
        <th>Due</th>
        <th>For</th>
        <th>Description</th>
        <th colspan="2">Weight</th>
        <th>Done at</th>
        <th>Done by</th>
        <th>Comments</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (recheck of patient.rechecks; track recheck.id) {
      <tr>
        <td>{{ recheck.due | date: 'dd MMM yyyy' }}</td>
        <td>{{ getRecheckRoles(recheck.roles) }}</td>
        <td>{{ recheck.description }}</td>
        <td>{{ recheck.requireWeight ? '⚖️' : '' }}</td>
        <td>
          {{ recheck.weightValue }} {{ getWeightUnit(recheck.weightUnit) }}
        </td>
        <td>
          @if (recheck.rechecked && recheck.rechecked.includes(recheck.due)) {
          {{ recheck.rechecked | date: 'HH:mm' }} } @else { {{ recheck.rechecked
          | date: 'dd MMM yyyy HH:mm' }} }
        </td>
        <td>
          {{ recheck.rechecker?.firstName }} {{ recheck.rechecker?.lastName }}
        </td>
        <td>{{ recheck.comments }}</td>
        <td>
          @if (isVet && patient.status != PatientStatus.Dispositioned) {
          <button (click)="remove(recheck.id)" class="button button--none">
            🗑️
          </button>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
  } @else {
  <p><em>No rechecks have been added for this patient.</em></p>
  }
  <div class="flex">
    @if (!adding) { @if (isVet && patient.status != PatientStatus.Dispositioned)
    {
    <button (click)="adding = true" class="button button--secondary-invert">
      🩺 Add recheck
    </button>
    } } @else {
    <div class="field">
      <label for="due">
        Due
        <span class="required">*</span>
      </label>
      <input id="due" type="date" formControlName="due" autocomplete="off" />
    </div>
    <div class="field">
      <label for="roles">
        For
        <span class="required">*</span>
      </label>
      <select id="roles" formControlName="roles">
        <option value="1">Veterinarian</option>
        <option value="2">Technician</option>
      </select>
    </div>
    <div class="field">
      <label for="requireWeight"> Require weight </label>
      <input
        type="checkbox"
        id="requireWeight"
        formControlName="requireWeight"
      />
    </div>
    <div class="field">
      <label for="description">
        Description
        <span class="required">*</span>
      </label>
      <textarea
        id="description"
        type="text"
        formControlName="description"
        autocomplete="off"
        rows="3"
      ></textarea>
    </div>
    @if (!saving) { @if (attemptedSave && !recheckForm.valid) {
    <div class="error">Please fill in all required fields</div>
    }
    <div class="buttons">
      <button (click)="add()" class="button button--primary">Save</button>
      <button (click)="reset()" class="button button--secondary">Back</button>
    </div>
    } }
  </div>
</form>
@if (addTask$ | async; as task) { @if (task.loading) {
<spinner></spinner>
} @else if (task.error) {
<div class="error">Error occurred</div>
} } @if (removeTask$ | async; as task) { @if (task.loading) {
<spinner></spinner>
} @else if (task.error) {
<div class="error">Error occurred</div>
} }
