table {
  width: 100%;

  td,
  th {
    font-size: 1rem;
    padding: 0.125rem 0.25rem;
    border-left: none;
    border-right: none;
    align-content: flex-start;
    max-width: 35rem;
  }

  th {
    background-color: var(--theme-color-5);
  }

  tr {
    background-color: transparent !important;
  }
}

.load-more {
  font-size: 1rem;
  font-weight: bold;
  color: var(--theme-color-5);
  cursor: pointer;
}

input,
select {
  padding: 0.25rem 0.5rem;
  max-width: max-content;
}

.flex {
  margin-top: 1rem;

  .field {
    margin-bottom: 1rem;
  }

  textarea {
    min-width: 40rem;
    font-size: 1rem;
  }

  button {
    padding: 0.25rem 0.5rem;
  }
}

.buttons {
  display: flex;
  gap: 0.5rem;
}
