.range {
  background-color: rgb(227, 227, 227);
  margin: 1rem 0rem;
  padding: 0.75rem 1rem;
  max-width: 30rem;

  button {
    margin-top: 1rem;
  }
}

table {
  margin-top: 1rem;
  max-width: max-content;

  th,
  td {
    padding: 0.25rem 0.5rem;
  }

  td:nth-child(6),
  th:nth-child(6) {
    text-align: center;
  }

  .no-show,
  .not-here,
  .here,
  .left {
    padding: 0rem 0.5rem;
    border: solid 1px black;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: auto;
    width: 9rem;
  }

  .not-here {
    background-color: var(--theme-color-1);
    color: white;
  }

  .no-show {
    background-color: var(--theme-color-2);
    color: white;
  }

  .here {
    background-color: var(--theme-primary);
    color: white;
  }

  .left {
    background-color: rgb(52, 52, 52);
    color: white;
  }
}
