@if (patientCounts$ | async; as count) { @if (count.data) {
<div class="container">
  <div class="item" (click)="changeTab(1)">
    <img src="images/hospital/patient-by-status/pending-initial-exam.svg" />
    <span class="title">✨ Pending intake exam</span>
    <span class="count">({{ count.data.pendingInitialExam }})</span>
  </div>
  <div class="item" (click)="changeTab(2)">
    <img src="images/hospital/patient-by-status/inpatient.svg" />
    <span class="title">🏥 Inpatients</span>
    <span class="count">({{ count.data.inpatient }})</span>
  </div>
  <div class="item" (click)="changeTab(3)">
    <img src="images/hospital/patient-by-status/pending-home-care.svg" />
    <span class="title">⏰ Pending home care</span>
    <span class="count">({{ count.data.pendingHomeCare }})</span>
  </div>
  <div class="item" (click)="changeTab(4)">
    <img src="images/hospital/patient-by-status/receiving-home-care.svg" />
    <span class="title">🏠 Receiving home care</span>
    <span class="count">({{ count.data.receivingHomeCare }})</span>
  </div>
  <div class="item" (click)="changeTab(5)">
    <img src="images/hospital/patient-by-status/ready-for-release.svg" />
    <span class="title">🕊️ Ready for release</span>
    <span class="count">({{ count.data.readyForRelease }})</span>
  </div>
  <div class="item" (click)="changeTab(6)">
    <img src="images/hospital/patient-by-status/dispositioned.svg" />
    <span class="title">🚑 Dispositioned</span>
    <span class="count">({{ count.data.dispositioned }})</span>
  </div>
</div>
} }
