.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  max-width: max-content;

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0rem 0.25rem 0.25rem 0.25rem;
    border-bottom: solid 1px black;
    cursor: pointer;

    img {
      max-width: 1.25rem;
    }

    .title {
      text-align: left;
      min-width: max-content;
    }

    .count {
      color: #444444;
      font-size: 1rem;
      flex-grow: 1;
      text-align: right;
      padding-left: 0.5rem;
    }
  }
}
